body{
    background-color: rgb(39, 39, 39);
    font-family: Sailec, sans-serif;
    margin: 0px;
}
img {
    max-width: 100%;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
.hidden{
    visibility: hidden;
}
img.manequim {
    width: 100%;
    margin-top: -140px;
}
button.buy-now{
    background-color: #FFDA3D;
    box-shadow: 0px 4px 15px rgba(30, 30, 30, 0.21);
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 36px;
    margin-top: 13px;
    margin-left: 135px;
    font-weight: 700;
    font-size: 14px;
}
div#menu{
    height: 61px;
    margin: 0 auto;
}
div#menu i.fa.fa-shopping-cart {
    margin-top: 22px;
    color: #ffda3d;
    font-size: 21px;
    margin-left: 15px;
}
img.logo {
    height: 27px;
    margin-top: 17px;
    width: 91px;
    margin-left: 17px;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
div#promotion-bar {
    background-color: #ffda3d;
    padding: 5px 46px;
}
div#promotion-bar p {
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 12px;
}
div.presentation {
    text-align: center;
    margin-top: 17px;
}
div.presentation p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
}
div.presentation h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: white;
}
h2#product-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 10px !important;
    margin: 0px;
}
div#product-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #E5E5E5;
    margin-left: 13px;
}
hr.separator{
    border: 1px solid rgba(111, 111, 111, 0.3);
    margin: 25px auto;
}
button.botao-compra {
    width: 199px;
    height: 50px;
    background: #FFDA3D;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.6);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto
}
button.botao-compra i.fa.fa-shopping-cart {
    color: #ffda3d;
    background-color: #272727;
    padding: 9px;
    border-radius: 5px;
    margin-left: 35px;
    
}
button.bota-saiba-mais {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    /* box-shadow: 0px 4px 15px rgba(255, 218, 61, 0.45); */
    border-radius: 5px;
    background: none;
    width: 139px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #E5E5E5;
    margin: 0 auto
}
div#product-info {
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(113, 98, 62, 0) 0%, #000000 100%);
}
div#video-section img {
    margin-left: 13px;
    margin-top: -55px;
}
div#circulo-1 {
    position: absolute;
    top: 90px;
    left: 180px;
    width: 245px;
    height: 245px;
    border: 0.5px solid rgba(255, 189, 18, 0.2);
    box-shadow: 0px 2px 6px rgba(255, 206, 0, 0.6);
    border-radius: 100%;
}
div#circulo-2 {
    position: absolute;
    top: 120px;
    left: 215px;
    width: 179px;
    height: 179px;
    border: 0.5px solid rgba(255, 189, 18, 0.5);
    box-shadow: 0px 2px 6px rgba(255, 206, 0, 0.6);
    border-radius: 100%;
}
div#circulo-3 {
    position: absolute;
    top: 151px;
    left: 245px;
    width: 121px;
    height: 121px;
    border: 0.5px solid #FFBD12;
    box-shadow: 0px 2px 6px rgba(255, 206, 0, 0.6);
    border-radius: 100%;
}
div#play-circle {
    position: absolute;
    top: 172px;
    left: 265px;
    width: 79px;
    height: 79px;
    background-color: #241F1F;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.6);
    border-radius: 100%;
}
div#play-circle i.fa.fa-play {
    position: absolute;
    top: 32px;
    left: 34px;
    color: #ffda3d;
}
div#filtro-de-ar p.amarelo,
div#cart-options p.amarelo,
div#info-slider p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-align: center;
}
div#filtro-de-ar h1,
div#info-slider h1 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
}
div#bolinha-2 {
    width: 42px;
    height: 42px;
    border: dashed 1px #ffda3d;
    border-radius: 100%;
    position: absolute;
    top: 135px;
    left: 40px;
}
.bolinha-dentro {
    width: 28px;
    height: 28px;
    box-shadow: 0px 2px 6px rgba(255, 206, 0, 0.6);
    background: #FFDA3D;
    border-radius: 100%;
    margin-top: -9px;
    margin-left: 7px;
}
.bolinha-dentro p {
    padding-top: 6px;
    padding-left: 5px;
    font-weight: bold;
}
div#slider .text {
    text-align: center;
}
h4.slider-numero {
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    color: #FFDA3D;
    margin-bottom: 5px;
}
div#slider div.text h3 {
    text-align: center;
    color: #E5E5E5;
    margin-top: 0px;
    margin-bottom: 5px;
}
div#slider div.text p {
    line-height: 19px;
    text-align: center;
    color: #6F6F6F;
    margin-block-start: 0px;
}
div#slider-progression-bar {
    width: 169px;
    height: 9px;
    background: #494949;
    margin: 0 auto;
    border-radius: 20px;
}
div#slider-progression {
    height: 9px;
    width: 50px;
    background: #FFDA3D;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.6);
    border-radius: 20px;
}
div#cart-options h1 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
}
div#cart-options .item {
    width: 349px;
    height: 97px;
    border: 2px solid #494949;
    border-radius: 5px;
    margin: 0 auto;
}
div.bloco-imagem img {
    width: 100px;
}
div.bloco-texto p.amarelo {
    text-align: left !important;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
}
div.bloco-texto h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #E5E5E5;
    margin: 0px;
    margin-top: 4px;
}
div.bloco-preco p.riscado {
    text-decoration-line: line-through;
    line-height: 14px;
    color: #4F4F4F;
    margin: 0px;
    margin-top: 20px;
}
div.bloco-preco h2.amarelo {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
    color: #FFBD12;
    margin: 0px;
}
div.bloco-preco p.discount {
    font-size: 11px;
    line-height: 11px;
    color: #828282;
    margin: 0px;
}
input.choose1 {
    margin-left: 15px;
    margin-top: 40px;
}
button.add-cart {
    width: 349px;
    height: 50px;
    background: #FFDA3D;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.6);
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    margin-left: 38px;
    font-weight: bold;
    font-size: 14px;
}
button.add-cart i.fa.fa-shopping-cart {
    background-color: #272727;
    color: #ffda3d;
    padding: 9px;
    padding-left: 8px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 7px;
}
.bloco-amarelo {
    width: 348px;
    height: 435px;
    background: linear-gradient(180deg, #FFDA3D -1.8%, #FFBD12 100%);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
}
img.refil {
    margin-top: -165px;
}
div.bloco-amarelo p.text {
    margin-left: 33px;
    font-size: 14px;
    font-weight: normal;
    color: #1E1E1E;
}
.bloco-do-bloco-amarelo {
    width: 305px;
    height: 101px;
    background: #FFDA3D;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.4);
    border-radius: 5px;
    margin: 0 auto;
}
img.ministerio {
    width: 48px;
    height: 64px;
    margin-top: 17px;
    margin-left: 27px;
}
div.bloco-do-bloco-amarelo p {
    margin-left: 21px;
}
div#filtro-de-ar {
    padding-bottom: 81px;
}
div#opcoes-e-cores p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-align: center;
}
div#opcoes-e-cores h1 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
}
div#opcoes-e-cores p.description {
    line-height: 19px;
    color: #E5E5E5;
    margin-left: 20px;
}
div#opcoes-e-cores {
    padding-bottom: 80px;
}
div#escolha-seu-kit p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-align: center;
}
div#escolha-seu-kit h1 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
}
div#bundle-item .item .item-content {
    width: 349px;
    height: 97px;
    border: 2px solid #494949;
    border-radius: 5px;
    margin: 0 auto;
}
.item {
    margin: 13px 0;
}
div#compre-por-unidade p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-align: center;
}
div#compre-por-unidade p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
    text-align: center;
}
table[name='compre-por-unidade'] {
    margin: 25px auto;
}
tr.headers th {
    font-weight: bold;
    text-align: center;
    color: #E5E5E5;
}
tr.headers {
    border-bottom: 1px solid rgb(255, 206, 0);
}
tr.linha td:nth-child(1) {
    font-weight: bold;
    text-align: center;
    color: #FFDA3D;
}
tr.linha td:nth-child(2) {
    text-align: center;
    color: #E5E5E5;
}
tr.linha td:nth-child(2) span {
    font-weight: bolder;
}
tr.linha td:nth-child(3) {
    font-weight: bold;
    text-align: center;
    color: #E5E5E5;
}
div.quantity div.title p {
    font-size: 14px;
    margin-top: 30px;
}
.preco {
    padding-top: 25px;
    padding-left: 8px;
}
p.valor {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #FFBD12;
    margin: 0px;
}
p.parcela {
    font-style: normal;
    font-size: 11px;
    line-height: 11px;
    color: #828282;
    margin: 0px;
}
select#quantity {
    background: #F2F2F2;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 13px;
}
div#compre-por-unidade div.quantity {
    width: 349px;
    height: 97px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.3);
    border-radius: 5px;
    margin: 0 auto;
}
select.tamanho {
    width: 169px;
    height: 50px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    margin: 0 auto;
    margin-left: 38px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #E0E0E0;
}
select.cor {
    width: 169px;
    height: 50px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    margin: 0 auto;
    margin-right: 39px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
    color: #E0E0E0;
}
div.refil {
    width: 349px;
    height: 97px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(255, 206, 0, 0.3);
    border-radius: 5px;
    margin: 10px auto;
}
select#refil-quantity {
    background: #F2F2F2;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 5px;
}
div.refil .preco {
    padding-top: 29px !important;
}
div.refil div.title p {
    margin-top: 40px;
}
div.redes-sociais .fab {
    font-size: 35px;
    color: #fdda3e;
    margin: 0 auto;
}
.redes-sociais {
    width: 217px;
    margin: 0 auto;
}
.container.e-mails p {
    line-height: 14px;
    text-align: center;
    color: #E5E5E5;
}
.container.e-mails {
    margin-top: 50px;
}
.copyright p {
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    color: #6F6F6F;
    font-size: 11px;
    margin-top: 40px;
}
div#footer {
    padding-top: 34px;
    background: #1E1E1E;
}
div.presentation.desktop img {
    width: unset !important;
}
.product-column-1,
.product-column-2{
    margin: 0 auto;
    max-width: 50%;
    flex: 0 0 50%;
}
.product-column-2 {
    border-left: 1px solid rgba(111, 111, 111, 0.3);
    height: 400px;
    margin: auto;
    padding-left: 22px;
}
div#shop-line button {
    margin: 0 auto;
}
.product-column-2 p {
    font-size: 16px;
    line-height: 22px;
    color: #E5E5E5;
}
.product-column-2 button.bota-saiba-mais {
    margin-left: -34px !important;
}
#product-info-desktop .product-column-1, 
#product-info-desktop .product-column-2 {
    padding: 15px;
}
#product-info-desktop .product-column-2 {
    border-left: none;
    height: unset;
}
p.amarelo {
    color: #ffda3d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5em;
}
h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
    color: white;
}
p.black {
    color: #241f1f;
    padding-top: 4px;
}
@media(max-width: 425px){
    .container{
        max-width: 425px;
    }
    hr.separator{
        width: 375px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}

@media(max-width: 375px){
    img.manequim {
        margin-top: -115px;
    }
    .container{
        max-width: 375px;
    }
    hr.separator{
        width: 345px;
    }
    button.buy-now{
        margin-left: 85px;
    }
    button.add-cart{
        margin-left: 12px;
    }
    div#promotion-bar{
        padding: 5px 2px;
        width: 100%;
    }
    div#opcoes-e-cores p.description{
        margin-left: 8px;
        font-size: 15px;
    }
    select.tamanho{
        margin-left: 12px;
    }
    select.cor{
        margin-left: 12px;
    }
    .copyright p{
        font-size: 9px;
    }
    div#video-section img{
        width: 76%;
    }
    div#circulo-1{
        left: 132px;
    }
    div#circulo-2{
        left:177px;
    }
    div#circulo-3{
        left: 212px;
    }
    div#play-circle{
        left: 235px;
    }
}

@media(max-width: 320px){
    div#promotion-bar{
        padding: 5px 0px;
    }
    button.botao-compra{
        width: 150px;

    }
    button.botao-compra i.fa.fa-shopping-cart{
        margin-left: 0px;
    }
    div#video-section img{
        width: 70%;
    }
    div#play-circle{
        top: 120px;
        left: 170px;
    }
    div#circulo-1{
        left: 74px;
        top: 36px;
    }
    div#circulo-2{
        left: 116px;
        top: 70px;
    }
    div#circulo-3{
        left: 148px;
        top: 98px;
    }
    .container{
        max-width: 320px;
    }
    hr.separator{
        width: 244px;
    }
    button.buy-now{
        margin-left: 32px;
    }
    div#cart-options .item{
        width: 300px;
    }
    div.bloco-imagem img {
        width: 65px;
        margin-top: 17px;
    }
    div.bloco-texto h3{
        font-size: 12px;
    }
    .bloco-preco {
        margin-left: 9px;
    }
    input.choose1 {
        margin-left: 8px;
    }
    button.add-cart{
        width: 300px;
    }
    .bloco-amarelo{
        width: 300px;
    }
    div.bloco-amarelo p.text{
        margin-left: 22px;
    }
    div.bloco-do-bloco-amarelo p {
        margin-left: 12px;
        font-size: 14px;
    }
    img.ministerio {
        width: 48px;
        height: 64px;
        margin-top: 12px;
        margin-left: 20px;
    }
    .bloco-do-bloco-amarelo{
        width: 285px;
        height: 91px;
        margin-top: 40px;
    }
    img.manequim {
        margin-top: -110px;
    }
    div#opcoes-e-cores p.description {
        margin-left: 13px;
        font-size: 12px;
    }
    div#bundle-item .item .item-content{
        width: 300px;
    }
    div.bloco-texto h3{
        line-height: 16px;
    }
    div#compre-por-unidade div.quantity{
        width: 300px;
    }
    .quantity .image {
        width: 20%;
        padding-top: 17px;
    }
    select#quantity{
        margin-left: 8px;
    }
    select.cor {
        margin-left: 10px;
        margin-right: 10px;
    }
    div.refil{
        width: 300px;
    }
    .refil img.masc-pequena {
        width: 80%;
        margin-top: 25px;
    }
    div.refil div.title p {
        margin-top: 33px;
    }
    div.refil{
        width: 300px;
    }
    .refil .image {
        width: 15%;
    }
    .copyright p {
        font-size: 8px;
    }
}
@media(max-width: 1024px){
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
}
@media(max-width: 1240px){
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
}
@media(max-width: 1440px){
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
}
@media(max-width: 1920px){
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
}