*{
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0px;
}
#top-bar{
    width: 100%;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.relative{
    position: relative;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.button-cadastro {
    height: 50px;
    width: 110px;
    background-color: #3425F4;
    box-shadow: 10px 20px 60px 0 rgba(52,37,244,0.50);
    border-radius: 10px;
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    border: none;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.magic-button {
    width: 213px;
    height: 50px;
    color: white;
    background-image: linear-gradient(241deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 10px 20px 60px 0 rgba(52,37,244,0.50);
    border-radius: 10px;
    border: none;
    font-family: Raleway;
    font-size: 16px;
}
#nossos-clientes img{
    max-width: 200px;
    max-height: 50px;
    margin: 0 auto;
}
h3.benefit-tittle {
    font-family: Raleway;
    font-size: 20px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 28px;
}
p.benefit-text {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    line-height: 22px;
}
#conheca-vantagens #primeiro-bloco > p {
    font-family: Raleway;
    font-size: 16px !important;
    color: #5A5A5A;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
}
div#benefit-draw-1 {
    background-image: linear-gradient(242deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 0 20px 40px 0 rgba(21,9,97,0.40);
    border-radius: 10px;
    height: 140px;
    width: 140px;
    margin: 0 auto;
}
h4.titulo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    color: #AA9CFF;
    letter-spacing: 1.56px;
    text-align: center;
    text-transform: uppercase;
}
img.depoimento {
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.20);
    border-radius: 100px;
    max-height: 70px;
    max-width: 70px;
    margin: 0 auto;
    position: absolute;
}

p.texto {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
}

p.nome {
    font-family: Raleway;
    font-size: 20px;
    color: #24355A;
    letter-spacing: 0;
}

p.origem {
    font-family: Raleway;
    font-size: 12px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
}

.depoimento {
    margin: 0 auto;
}

.circle-white {
    height: 67px;
    width: 67px;
    background: #FFFFFF;
    box-shadow: 0 20px 40px 0 rgba(21,9,97,0.15);
    border-radius: 67px;
}

.circle-purple {
    height: 67px;
    width: 67px;
    background-image: linear-gradient(241deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 0 20px 40px 0 rgba(21,9,97,0.40);
    border-radius: 67px;
}

#como-funciona .divisao2 h3 {
    font-family: Raleway;
    font-size: 20px;
    color: #24355A;
    letter-spacing: 0;
}

#como-funciona .divisao2 p {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 40px;
}

#como-funciona h2 {
    font-family: Questrial;
    font-size: 52px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 70px;
}


.divisao1, .divisao2 {
    margin: 0 auto;
}

#integramos img {
    margin: 0 auto;
}

#integramos h3 {
    font-family: Questrial;
    font-size: 32px;
    color: #24355A;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 55px;
    margin: 0px;
}

#planos p {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    text-align: center;
    line-height: 22px;
}

#planos h2{
    font-family: Questrial;
    font-size: 52px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    margin-bottom: 40px;
}

.plano {
    width: 360px;
    margin-top: 25px;
    height: 437px;
    border: 1px solid #DDDFE7;
    border-radius: 5px;
    margin: 25px auto 0;
}

.plano.selected {
    background: #FFFFFF;
    box-shadow: 40px 40px 80px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    height: 477px;
    border: none;
    margin-top: 0px;
}

button.plano {
    background: #FFFFFF;
    font-family: Raleway;
    font-size: 16px;
    color: #5A2DF0;
    width: 213px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #3425F4;
    font-weight: 600;
}

.plano.selected button.plano {
    background-image: linear-gradient(241deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 10px 20px 60px 0 rgba(52,37,244,0.50);
    border-radius: 10px;
    font-family: Raleway;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    border: none;
}

.plano ul li {
    text-align: left;
    list-style: none;
    font-family: Raleway;
    font-size: 14px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 30px;
    font-weight: 600;
}

.plano ul li i {
    color: #FA2B56;
    float: right;
    padding-right: 20px;
    padding-top: 8px;
}

#duvidas h2 {
    font-family: Questrial;
    font-size: 52px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
}

#duvidas>p {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #DDDFE7;
    border-radius: 5px;
    width: 360px;
    height: 262px;
    margin: 0 auto;
}
div#page-links ul li {
    float: right;
    margin: 15px;
}
div#login-signup ul li {
    float: left;
    margin: 0px 15px;
}

#page-links ul li a {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    color: #353535;
    letter-spacing: 0;
    line-height: 22px;
}

#page-links ul li,
div#login-signup ul li{
    list-style: none;
}

#page-links ul li a,
#page-links ul li a:active,
#page-links ul li a:hover,
#page-links ul li a:visited,
#page-links ul li a:focus{
    text-decoration: none;
} 

div#login-signup ul li a,
div#login-signup ul li a:active,
div#login-signup ul li a:hover,
div#login-signup ul li a:visited,
div#login-signup ul li a:focus{
    text-decoration: none;
    color: #353535;
    font-weight: 600;
} 

#duvidas p.questao {
    font-family: Raleway;
    color: #24355A;
    font-size: 20px;
    width: 200px;
    margin: 30px 30px;
    font-weight: 500;
}

#duvidas p.resposta {
    font-family: Raleway;
    font-size: 14px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
    width: 280px;
    margin: 40px 30px;
}

div#benefit-draw-2 {
    background-color: #fff;
    box-shadow: 0px 7px 20px 0 rgba(21,9,97,0.40);
    border-radius: 10px;
    height: 140px;
    width: 140px;
    margin: 0 auto;
}

div#conheca-vantagens,
div#nossos-clientes,
div#top-bar,
div#venda-mais {
    background-color: #f7f8fb;
}

div#nossos-clientes{
    padding-top: 40px;
}

h4 {
    margin-top: 0px;
}

div#login-signup {
    position: absolute;
    right: 0;
}

div#top-bar div.container {
    max-width: 1440px;
}

#venda-mais h2 {
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Questrial;
    font-size: 52px;
    color: #24355a;
}

#venda-mais p {
    color: #5a5a5a;
    margin: 0px 0px 35px;
}

img#circulos-grande {
    position: absolute;
    right: 0px;
}

img#iphones {
    position: absolute;
    right: 180px;
    top: 70px;
}

.div-esquerda {
    margin-top: 220px;
    margin-bottom: 300px;
}

#nossos-clientes img:first-child {
    margin-left: 0px;
}

#nossos-clientes img:last-child {
    margin-right: 0px;
}

*{
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0px;
}
#top-bar{
    width: 100%;
}
.relative{
    position: relative;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.button-cadastro {
    height: 50px;
    width: 110px;
    background-color: #3425F4;
    box-shadow: 10px 20px 60px 0 rgba(52,37,244,0.50);
    border-radius: 10px;
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    border: none;
}

#nossos-clientes img{
    max-width: 200px;
    max-height: 50px;
    margin: 0 auto;
}
p.benefit-text {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    line-height: 22px;
}
#conheca-vantagens #primeiro-bloco h2 {
    font-family: Questrial;
    font-size: 52px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
}

div#benefit-draw-1 {
    background-image: linear-gradient(242deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 0 20px 40px 0 rgba(21,9,97,0.40);
    border-radius: 10px;
    height: 140px;
    width: 140px;
    margin: 0 auto;
}

p.texto {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
}

p.nome {
    font-family: Raleway;
    font-size: 20px;
    color: #24355A;
    letter-spacing: 0;
}

p.origem {
    font-family: Raleway;
    font-size: 12px;
    color: #5A5A5A;
    letter-spacing: 0;
    line-height: 22px;
}

.circle-purple {
    height: 67px;
    width: 67px;
    background-image: linear-gradient(241deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 0 20px 40px 0 rgba(21,9,97,0.40);
    border-radius: 67px;
}

#como-funciona .divisao2 h3 {
    font-family: Raleway;
    font-size: 20px;
    color: #24355A;
    letter-spacing: 0;
}

.divisao1, .divisao2 {
    margin: 0 auto;
}

.plano.selected button.plano {
    background-image: linear-gradient(241deg, #3425F4 6%, #7052DB 100%);
    box-shadow: 10px 20px 60px 0 rgba(52,37,244,0.50);
    border-radius: 10px;
    font-family: Raleway;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    border: none;
}

.plano ul li i {
    color: #FA2B56;
    float: right;
    padding-right: 20px;
    padding-top: 8px;
}

#duvidas>p {
    font-family: Raleway;
    font-size: 16px;
    color: #5A5A5A;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #DDDFE7;
    border-radius: 5px;
    width: 360px;
    height: 262px;
    margin: 0 auto;
}
div#page-links ul li {
    float: right;
    margin: 15px;
}

#page-links ul li a {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    color: #353535;
    letter-spacing: 0;
    line-height: 22px;
}

#page-links ul li a,
#page-links ul li a:active,
#page-links ul li a:hover,
#page-links ul li a:visited,
#page-links ul li a:focus{
    text-decoration: none;
} 

h4 {
    margin-top: 0px;
}

div#top-bar div.container {
    max-width: 1440px;
}

img#circulos-grande {
    position: absolute;
    right: 0px;
}

img#iphones {
    position: absolute;
    right: 180px;
    top: 70px;
}

#nossos-clientes img:first-child {
    margin-left: 0px;
}

#nossos-clientes img:last-child {
    margin-right: 0px;
}

#conheca-vantagens h4.titulo {
    padding-top: 110px;
    padding-bottom: 50px;
}
div#benefits-bar {
    margin-top: 80px;
    padding-bottom: 110px;
}

.benefit {
    margin: 0 auto;
}

div.benefit img {
    padding-top: 42px;
}

div#depoimentos h4.titulo {
    margin-top: 80px;
    margin-bottom: 60px;
}

#depoimentos h2 {
    font-family: Questrial;
    font-size: 52px;
    color: #24355A;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0px;
}

div#fundo-oval {
    background-image: url(./assets/fundo-oval.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f3f1ff;
    padding-top: 390px;
}

div#fundo-oval-invertido {
    background-image: url(./assets/fundo-oval-invertido.png);
    height: 515px;
    background-size: cover;
}

div#como-funciona {
    background-color: #f2f1fe;
}
#login-signup ul li:nth-child(1) {
    padding-top: 15px;
}

img#depo07 {
    right: 190px;
    top: -250px;
}

img#depo06 {
    top: -210px;
    left: 50px;
}

img#depo05 {
    left: 180px;
    top: -340px;
}

img#depo04 {
    right: 50px;
    top: -130px;
}

img#depo03 {
    top: -300px;
    right: 0;
}

img#depo02 {
    top: -280px;
    left: 540px;
}

img#depo01 {
    top: -120px;
    left: 390px;
}

#como-funciona h4.titulo {
    padding-top: 110px;
}

.circle-white img, .circle-purple img {
    height: 30px;
    padding-left: 19px;
    padding-top: 19px;
}

.circle-white, .circle-purple {
    margin-right: 20px;
}

div#integramos {
    background-color: #f2f1fe;
}

#planos h4.titulo {
    margin-top: 80px;
    margin-bottom: 50px;
}

#planos .container >p {
    margin-bottom: 90px;
}

.plano h4 {
    margin-top: 40px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    color: #AA9CFF;
    letter-spacing: 1.56px;
    text-transform: uppercase;
}
#planos .plano p {
    font-size: 40px;
    font-family: Questrial;
    color: #24355a;
}
span.moeda, span.mensalidade {
    font-family: Raleway;
    font-size: 20px;
}
div#planos {
    padding-bottom: 100px;
}
div#duvidas {
    background-color: #f7f8fb;
}
#duvidas h4.titulo {
    padding-top: 85px;
    margin-bottom: 50px;
}
#duvidas p.text-center {
    margin-bottom: 70px;
}

div#contato {
    background-color: #f7f8fb;
    height: 1050px;
}

#contato .formulario {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 50px;
    position: absolute;
    top: 300px;
    right: 100px;
}

#contato form input[type="text"] {
    border: solid 1px #dddfe7;
    width: 250px;
    margin: 0 auto;
    height: 60px;
    padding-left: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    
}

#contato .formulario textarea {
    border: solid 1px #dddfe7;
    width: 520px;
    height: 200px;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 30px;
    border-radius: 5px;
}

#contato .formulario textarea:focus {
    border: solid 1px #5a2df0;
    outline: none;
    color: #5a2df0;
}

#contato form input[type="text"]:focus {
    border: solid 1px #5a2df0;
    outline: none;
    color: #5a2df0;
}

input.magic-button {
    float: right;
    margin-right: 8px;
    margin-top: 16px;
    box-shadow: none;
}

img#form-circle {
    position: absolute;
    left: -100px;
    top: 100px;
}

a.circle-blue {
    height: 30px;
    width: 30px;
    background-color: #3425f4;
    border-radius: 100%;
    color: white;
}

a.circle-black {
    height: 30px;
    width: 30px;
    background-color: #222221;
    border-radius: 100%;
    color: white;
}

#footer i.fa {
    padding-top: 7px;
    padding-left: 8px;
}

#footer a {
    margin: 0 7px;
}

div#footer{
    background-color: #f7f8fb;
    padding-bottom: 90px;
}

#footer .container.flex {
    float: right;
    margin-right: 380px;
}

#contato #texto h4.titulo {
    text-align: left;
}

#contato h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 100;
}

#contato p {
    color: #fff;
    font-weight: 100;
    line-height: 22px;
    margin-bottom: 40px;
}

div#texto {
    position: absolute;
    top: 380px;
    left: 70px;
}

button.no-background {
    background: none;
    font-family: Raleway;
    font-size: 16px;
    color: #fff;
    width: 213px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 600;
}

@media(max-width: 2560px){
    div#fundo-oval {
        background-size: cover;
        padding-bottom: 27px;
    }
    div#fundo-oval-invertido {
        height: 699px;
    }
}

@media(max-width: 1980px){
    div#fundo-oval-invertido {
        height: 513px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media(max-width: 1440px){
    #footer .container.flex {
        margin-right: 150px;
    }
    div#fundo-oval-invertido {
        height: 393px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img#circulos-grande {
        right: -145px;
    }
    img#iphones {
        right: 10px;
    }
    div#top-bar div.container {
        max-width: 1400px;
    }
    div#fundo-oval {
        background-size: contain;
    }
}

@media(max-width: 1280px){
    div#fundo-oval{
        background-size: contain;
    }
    div#top-bar div.container {
        max-width: 1200px;
    }
    img#circulos-grande {
        right: -65px;
    }
    img#iphones {
        right: 90px;
    }
    div#fundo-oval-invertido {
        height: 349px;
    }
    #footer .container.flex {
        margin-right: 50px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 960px;
    }
    img#iphones {
        width: 380px;
        top: 100px;
        right: 68px;
    }
    img#circulos-grande {
        right: -32px;
        top: 70px;
        width: 500px;
    }
    div#top-bar div.container {
        max-width: 1000px;
    }
    .plano,
    .card{
        width: 300px;
    }
    div#fundo-oval{
        background-size: contain;
    }
    div#fundo-oval-invertido {
        height: 279px;
        background-size: contain;
    }
    #duvidas p.resposta{
        margin-left: 10px;
    }
    img#depo06 {
        left: 0;
    }
    img#depo05 {
        left: 130px;
    }
    img#depo01 {
        left: 290px;
    }
    img#depo02 {
        left: 440px;
    }
    img#depo07 {
        right: 230px;
    }
    img#depo04 {
        right: 110px;
    }
    img#depo03 {
        right: 10px;
    }
    #contato .formulario{
        right: 0px;
    }
    div#texto {
        top: 420px;
        left: 16px;
    }    
}

@media(max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}