@font-face {
    font-family: "axiforma-bd";
    src: url("./fonts/axiforma-bold.woff") format('woff');
}
@font-face {
    font-family: "axiforma-rg";
    src: url("./fonts/axiforma-regular.woff") format('woff');
}

*{
    font-family: 'axiforma-rg';
}

html{
    background-color: #000000bf;
}

body{
    margin:0px;
}

.se-container{
    max-width: 1200px;
    margin: 0 auto;
}

.se-relative{
    position: relative;
}

section#se-top-header {
    background-color: #ECF7FE;
    color: #2B85C1;
    height: 50px;
}

.se-flex{
    display: flex;
    flex-wrap: wrap;
}

.se-item {
    display: flex;
    margin: 0 auto;
    padding-top: 5px;
}

.se-fa-circle {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    background-color: #fff;
}

.se-item .se-fa-circle i.fa {
    padding-left: 12px;
    padding-top: 10px;
}

.se-text {
    padding-top: 13px;
    padding-left: 13px;
    font-family: 'axiforma-rg';
    font-size: 12px;
}

#se-header img#se-logo {
    width: 205px;
    height: 76px;
    margin-top: 25px;
}

form#se-busca-home {
    width: 473px;
    height: 46px;
    border: 1px solid #E0E0E0;
    padding: 2px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 80px;
}

form#se-busca-home input[type="text"] {
    border: none;
    width: 360px;
    height: 40px;
    padding-left: 15px;
    font-size: 12px;
    color: #8CA2A6;
}

form#se-busca-home button {
    background-color: #2BBAFE;
    border: none;
    width: 90px;
    height: 46px;
    border-radius: 5px;
    color: white;
}

form#se-busca-home input[type="text"]:focus {
    outline: none;
}

img#se-guest-profile-pic {
    width: 40px;
    height: 40px;
}

#se-header #user-nav h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    color: #2B85C1;
}

#user-nav a {
    color: #2BBAFE;
    font-size: 12px;
    text-transform: uppercase;
}

div#se-favoritos {
    height: 40px;
    width: 40px;
    background-color: #FFE6FA;
    color: #D0A6C7;
    border-radius: 100%;
    margin-top: 40px;
    margin-left: 50px;
}

div#se-favoritos i.fa {
    padding-left: 10px;
    font-size: 20px;
    padding-top: 10px;
}

div#se-cart-icon {
    position: relative;
    margin-top: 40px;
    margin-left: 25px;
}

#se-cart-icon .overlay {
    position: absolute;
    height: 23px;
    width: 23px;
    background-color: #2BBAFE;
    border-radius: 100%;
    color: white;
    top: 0;
    right: -15px;
}

#se-cart-icon .circle {
    height: 40px;
    width: 40px;
    background-color: #ECF7FE;
    color: #8DC0E1;
    border-radius: 100%;
}

#se-cart-icon .circle i.fa {
    font-size: 20px;
    padding-top: 9px;
    padding-left: 10px;
}

#se-cart-icon .overlay span {
    padding-left: 9px;
    font-size: 13px;
}

section#se-header {
    height: 130px;
    background-color: #fff;
}

div#user-nav {
    margin-top: 40px;
    margin-left: 40px;
}

#user-nav .text {
    margin-left: 10px;
    letter-spacing: 2px;
}

nav#se-nav {
    height: 60px;
    background-color: #fff;
    border-top: solid 1px #EBEBEB;
}

nav#se-nav ul.menu li {
    float: left;
    margin: 0 auto;
    font-size: 14px;
}

nav#se-nav ul.menu {
    list-style-type: none;
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: flex;
}

#se-after-main p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    letter-spacing: 0.3px;
}

section#se-after-main {
    background-color: #001C3E;
    color: #fff;
}

section#se-dummy {
    height: 500px;
}

section#newsletter {
    background-color: #2B85C1;
    height: 130px;
}

#newsletter span.discount {
    font-size: 60px;
    color: #A7FFEF;
    text-transform: uppercase;
}

#newsletter span.discount-text {
    position: absolute;
    left: 0;
    bottom: 16px;
    font-size: 16px;
}

#newsletter input[type="text"] {
    border: none;
    border-radius: 5px;
    width: 275px;
    height: 52px;
    padding-left: 15px;
    font-size: 12px;
    color: #8CA2A6;
    margin-right: 22px;
}

#newsletter input[type="text"]:focus{
    outline: none;
}

#newsletter select {
    width: 78px;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 20px;
    color: #8CA2A6;
}

#newsletter select:focus{
    outline: none;
}

#newsletter button {
    width: 180px;
    height: 46px;
    background-color: #2BBAFE;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    border-radius: 5px;
}

#newsletter button:focus{
    outline: none;
}

#newsletter form{
    margin-top: 40px;
}

#newsletter .se-text.se-relative {
    margin-right: 23px;
    padding-top: 40px;
    height: 88px;
}