.sc-header-calc-cart__calculator span {
    letter-spacing: unset;
    margin-top: -17px;
    margin-left: -5px;
    margin-right: -5px;
    top: 4px;
    position: absolute;
    color: #fff;
    background-color: #DC0F24;
    width: 23px;
    text-align: center;
    font-weight: bold;
    font-family: "camber-semibold";
    font-size: 12px;
    padding: 2px 0 0;
    border-radius: 5px;
}

.sc-header-calc-cart__calculator {
    left: 12px;
    position: relative;
    /* display: flex; */
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
}

.sc-header-home{
    background-image: pwa-url(background-home);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 55px 20px 0;
    height: 288px;
}

.sc-icons-block {
    display: block;
    height: 35px;
}

.sc-header-icons-left {
    float: left;
}

.sc-header-icons-right {
    float: right;
}

.sc-header-icons-left img {
    margin-right: 30px;
}

.sc-logo {
    text-align: center;
    margin-top: 30px;
}

.sc-search-input {
    width: 100%;
    border: none;
    height: 36px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
}

.sc-search {
    margin-top: 30px;
}

.sc-header .sc-header__content-mobile-cart img {
    margin-left: 40px;
}

.sc-search-nav-found-products {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    z-index: 99999;
    background: #fff;
    border-radius: 12px;
    padding: 10px 0;
    box-shadow: 0 134px 15px 100px rgb(0 0 0 / 48%);
}

.sc-search-nav-found-products-cards {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
}

.sc-search-nav-found-products-cards:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #b8b8b8;
}

.sc-icon-search {
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
}

.sc-search-nav-found-products-cards img {
    width: 70px;
}

.sc-search-nav-found-products-cards-info {
    margin-left: 10px;
}

.sc-mail-count {
    position: absolute;
    left: 35px;
    color: #fff;
    background-color:#DC0F24;
    width: 26px;
    text-align: center;
    font-weight: bold;
    font-family: "camber-semibold";
    font-size: 12px;
    padding: 2px 0 0;
    border-radius: 5px;
}

.sc-search svg path {
    fill: #3C5B80 !important;
}
.sc-search svg {
    position: absolute;
    width: 27px !important;
    height: 27px;
    margin-top: 5px;
    margin-left: 11px;
}


/* THIS CODE IS FROM ANOTHER PAGES */

.sc-header .sc-header-icons-left img {
    margin-right: 12px;
}

.sc-header .sc-header__content-mobile-cart img {
    margin-left: 35px;
}

.sc-header .sc-header__content-mobile-search {
    font-size: 23px;
    position: relative;
    top: -4px;
}

.sc-header .sc-header-icons-left {
    float: none;
}

.sc-header .sc-header__content-mobile-search path {
    fill: #fff !important;
}

.sc-header__content-form--active {
	opacity: 1 !important;
	display: block !important;
	transition: all .3s;
}

.sc-header .sc-search {
    display: none;
}

.sc-header .sc-logo {
    margin-top: -31px;
    text-align: center;
}

.sc-header .sc-header-icons-right {
    float: right;
    margin-top: -33px;
}

section.sc-header {
    background: #3C5B80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 20px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
}

.sc-header .sc-logo img {
    margin-top: -4px;
}

.sc-header-home .sc-header__content-mobile-cart img {
    margin-left: 37px;
}