/*  
========================
a sonco já tem, só pra conseguir ver local
======================== 
*/
.container{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}
.cmd-4{
    max-width: 32%;
    flex: 0 0 32%;
}
/*  
========================
daqui pra baixo realmente vai ser novidade pro CSS
======================== 
*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
form#calculator{
    color: #032e5a;
    background-image: url(/media/wysiwyg/calculator-background.png);
}
form#calculator h2 {
    font-family: Camber-Sb;
    font-weight: 500;
    margin-top: 10px;
}
form#calculator input[type="submit"] {
    width: 100%;
    margin-top: 90px;
    border: none;
    background-color: #032e5a;
    color: white;
    font-size: 22px;
    font-family: Camber-Rg;
    padding: 5px 0;
}
form#calculator .cmd-4 {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
form#calculator select {
    color: #555;
    background-color: #bfe2ff;
    border-color: #0086c8;
}
form#calculator .cmd-4:nth-child(1), form#calculator .cmd-4:nth-child(2) {
    border-right: 1px solid black;
}
.form-label {
    background-color: #032e5a;
    color: white;
    font-size: 35px;
    width: 350px;
    padding: 5px 45px;
}

.form-label i.fa.fa-calculator {
    color: #bfe2ff;
    padding-right: 10px;
}