html {
	background-color: #fff;
}

a, a:active, a:hover, a:visited, a:focus {
    color: unset;
    text-decoration: none;
}

body {
	margin: 0px;
}

.se-container {
	max-width: 1280px;
	margin: 0 auto;
}

.se-relative {
	position: relative;
}

#se-after-main p {
	margin: 0;
	text-align: center;
	font-size: 14px;
	padding: 4px;
	letter-spacing: 0.3px;
}

section#se-after-nav {
	background-color: #001C3E;
	color: #fff;
}

section#se-dummy {
	height: 500px;
}

section#newsletter {
	background-color: #2B85C1;
	height: 130px;
}

#newsletter span.discount {
	font-size: 60px;
	color: #A7FFEF;
	text-transform: uppercase;
}

#newsletter span.discount-text {
    position: absolute;
    left: 0;
    bottom: 19px;
    font-size: 16px;
}

#newsletter input[type="text"] {
    border: none;
    border-radius: 5px;
    width: 265px;
    height: 52px;
    padding-left: 15px;
    font-size: 12px;
    color: #8CA2A6;
    margin-right: 24px;
    letter-spacing: 1.33px;
}

#newsletter input[type="text"]:focus {
	outline: none;
}

#newsletter select {
    width: 78px;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 24px;
    color: #8CA2A6;
    padding-left: 10px;
    padding-right: 10px;
}

#newsletter select:focus {
	outline: none;
}

button.se-button-blue {
	width: 180px;
	height: 46px;
	background-color: #2BBAFE;
	border: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 50px;
    cursor: pointer;
}

button.se-button-blue:focus {
	outline: none;
}

#newsletter form {
    margin-top: 40px;
    z-index: 1;
}

#newsletter .se-text.se-relative {
    margin-right: 53px;
    padding-top: 40px;
    height: 88px;
    padding-left: 0px;
}

img#img-newsletter {
    height: 130px;
    position: absolute;
    left: 178px;
}

section#footer-links {
	background-color: #212E3C;
	min-height: 300px;
	border-bottom: 1px solid #97979770;
}

section#footer-links h3 {
	margin: 0;
	color: white;
	font-family: 'axiforma-bold';
	font-size: 16px;
}

ul.se-footer-list {
	list-style-type: none;
	padding-inline-start: 0;
	color: #5A6672;
	font-size: 14px;
}

.se-footer-list a:visited,
.se-footer-list a:focus,
.se-footer-list a:active,
.se-footer-list a {
	text-decoration: none;
	color: #5A6672;
	font-size: 14px;
}

.se-footer-list a:hover i.fa {
	text-decoration: none;
	color: #5A6672;
}

.se-footer-list a:hover {
	font-weight: bold;
	color: #8294a7;
}

section#footer-links section {
	margin: 50px auto 0;
}

#fale-conosco ul {
	width: 80%;
}

section#redes-sociais ul.se-footer-list li {
	float: left;
	margin-right: 50px;
}

ul.se-footer-list li {
	margin-top: 25px;
}

section#atendimento {
	max-width: 225px;
}

.se-circle {
	height: 40px;
	width: 40px;
	background-color: #fff;
	border-radius: 100%;
}

.se-footer-list .se-circle i.fa {
	padding-left: 15px;
	padding-top: 10px;
	font-size: 20px;
}

#fale-conosco .se-footer-list i.fa {
	color: #fff;
	margin-right: 10px;
}

#fale-conosco .se-footer-list i.fa {
	color: #fff;
	margin-right: 10px;
}

ul.se-footer-list li:first-child {
	margin-top: 10px;
}

#redes-sociais ul.se-footer-list li {
	margin-top: 0px;
}

section#footer-after-links {
	background-color: #212e3c;
	min-height: 230px;
}

img#compra-segura {
	height: 27px;
	width: 89px;
	opacity: 0.6;
	margin-top: 30px;
}

img#e-bit {
	width: 90px;
	height: 95px;
	margin-left: 30px;
}

img#empresa-associada {
	width: 75px;
	height: 95px;
	margin-left: 30px;
}

section#a-seralle {
	width: 384px;
}

section#footer-after-links h3 {
	font-size: 16px;
	font-family: 'axiforma-bold';
	color: #fff;
}

#a-seralle p {
    color: #5A6672;
    font-size: 12px;
    letter-spacing: 1.133px;
    line-height: 20px;
    font-family: 'axiforma-regular';
}

section#formas-pagamento {
	max-width: 345px;
}

#formas-pagamento img {
	margin: 0 5px 5px 0;
	width: 57px;
	height: 35px;
}

#footer-after-links section {
	margin: 0 auto;
}

section#seguranca {
	width: 315px;
}

section#footer-links section:first-child {
	margin-left: 0px;
}

section#footer-links section:last-child {
	margin-right: 0px;
}

section#footer-after-links section:first-child {
	margin-left: 0px;
}

section#footer-after-links section:last-child {
    margin-right: 10px;
    margin-left: 26px;
}

#se-top-header .se-item:first-child {
	margin-left: 0px;
}

#se-top-header .se-item:last-child {
	margin-right: 0px;
}

#footer-copyright h3 {
    font-size: 10px;
    font-family: 'axiforma-regular';
    color: #fff;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.33px;
    line-height: 15.5px;
    padding-top: 30px;
    width: 792px;
    margin: 0 auto;
}

section#footer-copyright {
	height: 110px;
	background-color: #1B2530;
	border-top: 1px solid #97979770;
}

section#nerau-bar {
	background-color: #F0F0F0;
	height: 80px;
}

#nerau-bar .se-container {
	text-align: center;
}

img#nerau-logo {
	width: 88px;
	height: 28px;
	margin-top: 27px;
}

.se-menu-item:hover {
	border-bottom: 5px solid #2BBAFE;
	color: #2BBAFE;
}

div.submenu {
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 40px;
	display: none;
	opacity: 0;
	transition: all 1s ease;
}

#se-nav ul.menu li:hover div.submenu {
	display: block;
    opacity: 1;
    z-index: 1;
}

.submenu-content {
	width: 1200px;
	background-color: white;
	border-top: 1px solid #97979770;
	padding: 15px 45px 35px;
}

#se-nav ul.menu li a {
	text-decoration: none;
	color: inherit;
}

.se-button-blue:hover,
form#se-busca-home button:hover {
	cursor: pointer;
	background-color: #14a1e4;
	transition: background-color .1s linear;
}

.se-footer-list a:hover .se-circle {
	transform: scale(1.1);
	transition: all .1s linear;
	-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.26);
}

.submenu-content .se-coluna-direita {
	flex: 0 0 32%;
	max-width: 100%;
}

.submenu-content .se-coluna-esquerda {
	flex: 0 0 68%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.se-banner img {
	width: 384px;
	height: 396px;
}

.se-banner .se-text {
	position: absolute;
	bottom: 33px;
}

.submenu-content h3 {
	font-family: 'axiforma-bold';
	font-size: 20px;
	color: #001C3E;
}

ul.se-category-list li {
	float: none;
}

div.se-coluna-esquerda section {
	width: 20%;
}

div#se-cart-icon:hover,
div#se-favoritos:hover {
	transform: scale(1.1);
	transition: all .1s linear;
}

aside#se-cart {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #F1F9FF;
	width: 491px;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	transition: all .5s linear;
}

aside#se-cart.se-aparece {
	visibility: visible;
    opacity: 1;
}

.se-sacola p {
	margin: 0 auto;
	font-size: 28px;
}

section.se-sacola {
	padding: 22px;
	background-color: #fff;
}

.se-sacola i.fa.fa-times {
	font-size: 40px;
	color: #2BBAFE;
}

.se-sacola i.fa.fa-times:hover {
	cursor: pointer;
}

.se-item-image img {
	width: 120px;
	height: 105px;
	border: 2px solid #C9EEFF;
	border-radius: 5px;
	margin: 15px;
}

.se-cart-item {
	width: 100%;
	height: 146px;
	background-color: #FBFBFB;
	border: solid 2px #EDEDED;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 30px;
}

#se-cart .se-titulo {
    font-size: 13px;
}

.se-remove-se-cart-item {
	height: 25px;
	width: 25px;
	border-radius: 100%;
	background-color: #2bbafe;
	position: absolute;
	right: -12px;
	top: -12px;
	color: white;
}

.se-remove-se-cart-item i.fa {
	padding-left: 6px;
	padding-top: 3px;
}

.se-remove-se-cart-item i.fa:hover {
	cursor: pointer;
}

.se-item-image {
	flex: 0 0 30%;
}

.se-item-text {
	flex: 0 0 60%;
	margin-top: 10px;
}

p.se-marca {
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
    color: #2bbafe;
    font-family: 'axiforma-bold';
}

p.se-titulo {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'axiforma-bold';
    letter-spacing: -0.5px;
}

p.se-tamanho {
	font-size: 12px;
	color: #5A6672;
	margin-top: 6px;
}

p.se-quantidade {
    font-size: 11px;
    color: #8CA2A6;
    margin-top: 6px;
}
p.se-quantidade input {
    width: 50px;
    height: 20px;
}
p.se-quantidade span {
    font-weight: 800;
    letter-spacing: 3px;
    color: #2bbafe;
    margin-left: 10px;
}

p.se-preco {
    font-size: 16px;
    color: #2BBAFE;
    margin-top: 6px;
    font-family: 'axiforma-bold';
}

.se-frete-fundo {
	background-color: #001C3E;
	width: 100%;
	height: 76px;
	position: relative;
}

.se-frete-preenchimento {
	height: 76px;
	background-color: #2BBAFE;
	width: 50%;
	transition: width 1s linear;
}

.se-frete-text {
	position: absolute;
	top: 9px;
	left: 22px;
}

.se-frete-text i.fa.fa-truck {
    font-size: 50px;
    color: white;
    margin-right: 11px;
    padding-top: 4px;
}

p.se-quanto-falta {
	margin: 0;
	font-size: 20px;
	color: white;
}

p.se-recopmensa {
	margin: 0;
	color: white;
	font-size: 16px;
}

p.se-quanto-falta span {
	color: #A7FFEF;
    margin-left: 20px;
    font-family: axiforma-bold;
}

p.se-recopmensa span {
	color: #FEC417;
    text-transform: uppercase;
    font-family: axiforma-bold;
}

section.total {
	padding: 15px;
}

p.se-subtotal {
	font-size: 20px;
    color: #5A6672;
    font-family: axiforma-bold;
    position: relative;
}

p.se-subtotal span {
    right: -350px;
    top: -5px;
    position: absolute;
    color: #2BBAFE;
    font-family: axiforma-bold;
    font-size: 30px;
}

label.se-cupom-input {
	font-size: 16px;
	color: #5A6672;
	padding-top: 6px;
}

input#se-cupom-desconto {
    width: 244px;
    height: 32px;
    border: solid 1px #D1DBE0;
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 12px;
    color: #2B85C1;
}

section.total button.se-button-blue {
    width: 100%;
    margin-top: 32px;
    font-family: axiforma-bold;
}

.se-share-purchase p {
    margin: 0;
    font-size: 10px;
    color: #2B85C1;
    margin-left: 9px;
    font-family: axiforma-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}

.se-share-purchase a.se-flex {
	margin-top: 37px;
	margin-left: 122px;
}

.se-share-purchase a,
.se-share-purchase a:active,
.se-share-purchase a:hover,
.se-share-purchase a:focus,
.se-share-purchase a:visited {
	text-decoration: none;
}

.se-share-purchase i.fa.fa-share-alt {
	color: #2B85C1;
}

#se-after-nav p {
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 5px 0;
}

.se-more-category-links li {
    margin-bottom: 15px !important;
}

.se-more-category-links a {
    font-family: 'axiforma-bold';
    letter-spacing: 1.28px;
    color: #2BBAFE !important;
}

#se-top-header .se-text a:active, 
#se-top-header .se-text a:hover, 
#se-top-header .se-text a:visited, 
#se-top-header .se-text a:focus, 
#se-top-header .se-text a {
    text-decoration: none;
    color: unset;
    font-family: 'axiforma-bold';
}

p.se-banner-tittle {
    font-family: 'axiforma-thin';
    font-size: 26px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.se-banner-subtittle {
    font-family: 'axiforma-bold';
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 8px;
}

#redes-sociais ul.se-footer-list {
    margin-block-start: 30px;
    margin-block-end: 0;
}

section#fale-conosco {
    margin-left: 0px !important;
}

section#redes-sociais {
    margin-right: 0px !important;
}

section#redes-sociais ul.se-footer-list li:last-child {
    margin-right: 55px;
}

.se-sacola #title p {
    font-family: 'Axiforma-bold';
}

input#se-cupom-desconto:focus {
    outline: none;
}

.se-cmd-12 {
    flex: 1 0 96%;
    max-width: 100%;
}

.se-cmd-6{
    flex: 0 0 47%;
    max-width: 50%;
    padding: 12px;
}

.se-cmd-4{
    flex: 0 0 30%;
    max-width: 384px;
}

img.se-w100 {
    width: 100%;
}

.se-banner-inside-text {
    position: absolute;
    top: 80px;
    left: 42px;
}

.se-banner-inside-text p.se-week {
    margin-top: 0;
    margin-bottom: 0;
    font-family: axiforma-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;
}

.se-black-pink {
    color: #996A64;
}

.se-banner-inside-text p.se-offering-what {
    margin-top: 13px;
    margin-bottom: 0;
    font-family: axiforma-thin;
    font-size: 26px;
    color: #fff;
}

.se-banner-inside-text p.se-is-off {
    font-family: axiforma-heavy;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 39px;
    color: #A7FFEF;
}

button.se-white-background {
    font-family: axiforma-bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: #2BBAFE;
    border: none;
    border-radius: 5px;
    width: 205px;
    height: 46px;
    margin-top: 4px;
}

button.se-white-background:hover {
    transform: scale(1.1);
    transition: all .1s linear;
    cursor: pointer;
}

p.se-black-blue {
    color: #163683;
}

.se-banner4-inside-text {
    position: absolute;
    top: 75px;
    left: 42px;
}

.se-banner4-inside-text p.se-offering-what {
    margin-top: 0;
    margin-bottom: 0;
    font-family: axiforma-thin;
    font-size: 26px;
    color: #fff;
    width: 220px;
}

.se-banner4-inside-text p.se-how-much {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: axiforma-bold;
    font-size: 20px;
    color: #A7FFEF;
}

.se-banner4-inside-text button.se-white-background {
    margin-top: 22px;
}

.se-banner12-inside-text {
    position: absolute;
    top: 60px;
    left: 60px;
}

.se-banner12-inside-text p.se-offering-what {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: axiforma-thin;
    font-size: 28px;
    color: #fff;
    width: 335px;
    line-height: 36px;
}

.se-banner12-inside-text p.se-how-much {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: axiforma-heavy;
    font-size: 20px;
    color: #A7FFEF;
}

.se-banner12-inside-text button.se-white-background {
    margin-top: 20px;
}

.se-banner6-inside-text {
    position: absolute;
    top: 60px;
    left: 45px;
}

.se-banner6-inside-text p.se-what {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    font-family: axiforma-thin;
    color: #fff;
    width: 200px;
}

.se-banner6-inside-text p.se-is-off {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: axiforma-heavy;
    font-size: 39px;
    color: #fff;
}

.se-banner6-inside-text button.se-white-background {
    margin-top: 10px;
}

.se-cyan {
    color: #A7FFEF !important;
}

.se-heavy {
    font-family: axiforma-heavy !important;
    line-height: 34px;
}

main#se-main-page {
    background-color: #fff;
}

.se-card-slide {
    width: 280px !important;
    height: 426px !important;
    border: solid 1px #EBEBEB;
}

div#se-slide-holder {
	position: absolute;
    z-index: 1;
    top: 129px;
}

.se-card-slide:hover {
    border: solid 1px #2BBAFE;
    transition: all .2s linear;
}

.se-card-title p.se-card-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: axiforma-bold;
    font-size: 14px;
    letter-spacing: 1.28px;
    color: #2BBAFE;
}

.se-card-title p.se-card-full-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    width: 230px;
    margin: 0 auto;
    line-height: 20px;
}

.se-card-title p.se-card-price {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.se-card-title p.se-card-parcelas {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: axiforma-bold;
    color: #2B85C1;
    letter-spacing: 1.33px;
    font-size: 12px;
}

span.se-card-price-actual {
    margin-top: 30px;
    font-family: axiforma-bold;
    font-size: 28px;
    color: #2BBAFE;
    margin-left: 30px;
}

span.se-card-price-before {
    font-size: 14px;
    text-decoration: line-through;
    color: #C3D2D9;
    margin-top: 40px;
    margin-left: 26px;
}

.se-card-overlay button.se-button-blue {
    position: absolute;
    top: 217px;
    left: 73px;
    width: 135px;
    height: 46px;
    display: none;
    line-height: 48px;
}

.se-card-slide:hover .se-card-overlay button.se-button-blue {
    display: block;
}

.se-card-slide:hover p.se-card-title {
    color: #001C3E;
    transition: all .1s linear;
}

.se-card-slide:hover p.se-card-full-title {
    text-decoration: underline;
    color: #2BBAFE;
    transition: all .1s linear;
}

.se-card-slide:hover p.se-card-parcelas {
    text-decoration: underline;
    color: #2BBAFE;
    transition: all .1s linear;
}

div#se-primeira-linha {
    padding-top: 68px;
}

div#se-segunda-linha {
    padding-top: 68px;
}

div#se-terceira-linha {
    padding-top: 68px;
}

div#se-quarta-linha {
    padding-top: 68px;
}

div#se-quinta-linha {
    padding-top: 68px;
}

.se-banner-grande-overlay {
    position: absolute;
    top: 156px;
    left: 400px;
}

.se-banner-grande-overlay p.se-titulo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: axiforma-bold;
    font-size: 33px;
    color: #fff;
    width: 379px;
    line-height: 41px;
}

.se-banner-grande-overlay p.se-juros {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: axiforma-heavy;
    font-size: 39px;
    width: 310px;
    color: #A7FFEF;
    line-height: 47px;
}

.se-banner-grande-overlay button.se-white-background {
    margin-top: 20px;
    width: 231px;
    background-color: #fff;
}

div#se-sexta-linha {
    padding-top: 68px;
}

div#se-setima-linha {
    padding-top: 57px;
    padding-bottom: 68px;
}
.se-mobile{
	display: none !important;
}
.se-desktop{
	display: block !important;
}
/* #se-header span.fa {
    font-size: 25px;
	color: #007ac0;
} */
#se-header .fa.fa-bars {
    margin-right: 15px;
    margin-top: 15px;
}
#se-header .fa.fa-search.se-mobile {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}
#se-primeira-linha {
    margin-top: 71px;
}
#se-setima-linha div.se-cmd-6 {
    margin: 0 auto;
}
#se-primeira-linha article.se-cmd-6 {
    margin: 0 auto;
}

#se-primeira-linha article.se-cmd-6:first-child {
    margin-left: 0px;
}

#se-primeira-linha article.se-cmd-6:last-child {
    margin-right: 0px;
}
@media(max-width: 1980px){
    .se-banner-grande-overlay {
        top: 56px !important;
        left: 160px !important;
    }
    div#se-segunda-linha {
        padding-left: 200px !important;
    }
    
    div#se-quarta-linha {
        padding-left: 200px !important;
    }
}
@media(max-width: 1920px){
    .se-banner-grande-overlay {
        top: 156px !important;
        left: 400px !important;
    }
}
@media(max-width: 1440px){
    div#se-quarta-linha {
        padding-left: 120px !important;
    }
    
    div#se-segunda-linha {
        padding-left: 120px !important;
    }
}
@media(max-width: 1280px){
    /* =================
    seçao fix do menu
    ================= */
    div#se-segunda-linha {
        padding-left: 39px !important;
    }
    
    div#se-quarta-linha {
        padding-left: 39px !important;
    }
    
    #se-setima-linha div {
        margin: 0 auto;
    }
    
    .se-container .se-cmd-6:first-child {
        margin-left: 0px !important;
    }
    
    .se-container .se-cmd-6:last-child {
        margin-right: 0px !important;
    }
    
    .se-banner-grande-overlay.se-container {
        top: 70px;
        left: 120px;
    }
    .se-container{
        max-width: 1200px;
    }
}
@media(max-width: 1024px){
    /* =======================
    seção da /produto-teste
    ======================= */
    div#se-product-slider {
        margin-left: 0px !important;
        margin-right: 50px !important;
        flex: 0 0 80px !important;
    }
    
    div#se-product-image {
        margin-right: 40px !important;
        flex: 0 0 400px !important;
        height: 400px !important;
    }
    
    #se-leve-junto-section span.fa.fa-plus.se-m-auto {
        margin: auto 10px;
    }
    
    #se-leve-junto-section .swiper-slide {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #se-leve-junto-section .swiper-slide:nth-child(2) {
        margin-left: 10px;
    }
    
    div#se-leve-junto-holder {
        margin-left: auto;
        margin-right: 0px;
    }
    /* ===== end ===== */
    .se-container{
        max-width: 980px;
    }
    form#se-busca-home{
        margin-left: 30px;
        width: 408px;
    }
    form#se-busca-home input[type="text"]{
        width: 300px;
    }
    div#user-nav{
        margin-left: 10px;
    }
    div#se-favoritos {
        margin-left: 18px;
    }

    div#se-cart-icon {
        margin-left: 18px;
    }
    .se-banner-grande-overlay {
        position: absolute;
        top: 33px;
        left: 55px;
    }
    .se-cmd-6 {
        flex: 0 0 47%;
        max-width: 50%;
        padding: 10px;
    }
    .se-banner-inside-text {
        top: 47px;
    }
    div#se-slide1-home {
        width: 70%;
    }
    div#se-slide2-home {
        width: 70%;
    }
    .se-banner4-inside-text {
        top: 45px;
    }
    .se-banner12-inside-text {
        top: 30px;
    }

    .se-banner6-inside-text {
        top: 30px;
    }

    #newsletter input[type="text"] {
        width: 200px;
    }

    #newsletter .se-text.se-relative {
        margin-right: 40px;
    }

    #newsletter button.se-button-blue {
        width: 144px;
    }

    #newsletter span.discount {
        font-size: 48px;
    }

    #newsletter span.discount-text {
        bottom: 35px;
    }

    img#img-newsletter {
        left: 65px;
    }

    #redes-sociais ul.se-footer-list li {
        margin-right: 10px !important;
    }

    .se-footer-list .se-circle {
        height: 35px;
        width: 35px;
    }

    .se-footer-list .se-circle i.fa {
        padding-left: 11px;
    }

    section#footer-links section {
        margin-left: 15px !important;
    }

    #footer-after-links div.se-container section {
        width: 30%;
    }

    img#e-bit {
        width: 70px;
        height: 80px;
    }

    img#empresa-associada {
        width: 60px;
        height: 80px;
    }

    /* ==================
    seção da pagina de categoria
    ================== */

    section.se-coluna-esquerda {
        flex: 0 0 28% !important;
    }
    
    section.se-coluna-direita {
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }
    
    .product-find:nth-child(1), .product-find:nth-child(4), .product-find:nth-child(7), .product-find:nth-child(10), .product-find:nth-child(13) {
        margin-left: 0 !important;
    }
    
    .product-find:nth-child(3), .product-find:nth-child(6), .product-find:nth-child(9), .product-find:nth-child(12), .product-find:nth-child(15) {
        margin-right: 0 !important;
    }
    
    .product-find {
        flex: 0 0 30% !important;
        max-width: 30% !important;
    }
    
    #se-category-page p.se-card-full-title {
        width: 175px !important;
        padding-left: 32px !important;
    }
    
    span.se-card-price-before {
        margin-left: 10px !important;
    }
    
    #se-category-page span.se-card-price-actual {
        font-size: 18px !important;
        margin-top: 35px !important;
    }
    
    .se-card-overlay button.se-button-blue {
        top: 150px !important;
        left: 35px !important;
    }

    #se-category-last-banner-holder-text p {
        width: auto !important;
    }

    form#se-busca-home button{
        width: 90px !important;
    }
    /* ===================
    seção do quem somos
    =================== */
    .image-part {
        width: 250px !important;
    }
    
    .text-part {
        margin-left: 15px !important;
        width: 200px !important;
    }
    
    #conheca-nossas-lojas article button {
        margin-top: 11px !important;
    }
    /* ==========
    seção quickfix da home
    ========== */

    #se-main-page #se-primeira-linha article {
        margin: 0 auto;
    }
    
    div#se-segunda-linha {
        padding-top: 50px !important;
        padding-left: 23px !important;
    }
    
    .se-banner4-inside-text {
        top: 30px !important;
        left: 17px !important;
    }
    
    div#se-quarta-linha {
        padding-top: 50px !important;
        padding-left: 23px !important;
    }

}
.swiper-container{
	z-index: 0 !important;
}
#se-header button .fa.fa-search {
    margin: 0px;
}
span.fa.fa-shopping-cart.se-mobile {
	margin: 15px 0;
}
.se-right,
.se-left{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #001C3E;
    color: #fff;
    border-radius: 100%;
    top: 50%;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
}

.se-right {
    right: 215px;
    left: auto;
}

.se-left {
    left: 10px;
    right: auto;
}

/* span.fa.fa-chevron-left {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 12px;
}

span.fa.fa-chevron-right {
    padding-top: 15px;
    padding-left: 17px;
    font-size: 12px;
} */

div#se-slide2-home,
div#se-slide1-home {
	width: 1180px;
    margin-right: 0px;
    margin-left: 80px;
}

#se-slide3-home img {
    width: 110px;
    margin: 0 auto;
    text-align: center;
}

#se-slide3-home .swiper-slide {
    height: unset !important;
    width: 15% !important;
    text-align: center;
    border: none;
}

div#se-slide-brand-home {
    width: 100%;
    margin-top: 20px;
}
#se-slide-brand-home img {
    width: 56px;
    margin: 0 auto;
    text-align: center;
}

#se-slide-brand-home .swiper-slide {
    height: unset !important;
    width: 25% !important;
    text-align: center;
    border: none;
}

#se-slide-brand-home span.fa.fa-chevron-left {
    color: white !important;
    font-size: 14px !important;
}
#se-slide-brand-home span.fa.fa-chevron-right {
    color: white !important;
    font-size: 14px !important;
}
div#se-slide-holder img {
    width: 282px;
    height: 291px;
}
.se-swiper-gradient {
    width: 20px;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 428px;
    right: 0;
}
.se-slide2-prev .se-swiper-gradient, 
.se-slide1-prev .se-swiper-gradient {
    right: unset;
    left: -20px;
    box-shadow: -130px 0 250px 380px #fff;
}
.se-slide2-prev .se-swiper-gradient, .se-slide1-next .se-swiper-gradient {
    right: -20px;
    left: unset;
    box-shadow: 100px 0 250px 380px #fff;
}
.se-slider-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 200px;
}
#se-slide2-home .se-left,
#se-slide1-home .se-left{
    left: 220px;
    right: auto;
}

.se-container .se-cmd-4:first-child {
    padding-left: 0px;
    margin-left: 0px;
}

.se-container .se-cmd-4:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

/* .se-relative.se-cmd-4 img {
    width: 384px;
} */

/* .se-cmd-6 img.se-w100 {
    width: 588px;
} */

.se-container .se-cmd-6:first-child {
    padding-left: 0px;
}

.se-container .se-cmd-6:last-child {
    padding-right: 0px;
}

div#se-slide3-home {
    width: 100%;
}

#se-slide3-home .se-left {
    left: 0px;
}

#se-slide3-home .se-right {
    right: 0px;
}

.se-brand-line .se-right {
    right: 0px;
}

.se-slide3-prev .se-swiper-gradient {
    left: 0;
    right: auto;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 00%);
}

section.se-brand-line {
    width: 600px;
}

.swiper-slide.se-brand-slide {
    width: 25%;
    margin: 0 auto;
}

.se-relative.se-cmd-4 {
    margin: 0 auto;
}

.se-slide01-wrapper { 
    display: flex !important; 
    flex-flow: row !important; 
    justify-content: flex-start !important; 
    align-items: center !important; 
}


/* =====================
pagina de categoria
===================== */

@font-face {
    font-family: 'icomoon';
    src:  pwa-url(icomoon-eot);
    src:  pwa-url(icomoon-eot) format('embedded-opentype'),
      pwa-url(icomoon-ttf) format('truetype'),
      pwa-url(icomoon-woff) format('woff'),
      pwa-url(icomoon-svg) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cartao:before {
    content: "\e900";
    color: #2bbafe;
  }
  .icon-entrega-expresso:before {
    content: "\e901";
    color: #2bbafe;
  }
  .icon-sacola:before {
    content: "\e902";
    color: #2bbafe;
  }
  

section.se-coluna-esquerda {
    flex: 0 0 280px;
    max-width: 100%;
}

section.se-coluna-direita {
    flex: 0 0 895px;
    max-width: 100%;
}

section#inner-category-section section {
    margin: 0 auto;
}

section#inner-category-section section:first-child {
    margin-left: 0px;
}

section#inner-category-section section:last-child {
    margin-right: 0px;
}

main#se-category-page {
    background-color: #fff;
}

.se-breadcrumb p {
    margin-top: 0;
    margin-left: 305px;
    color: #5A6672;
    margin-bottom: 0px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

span.se-underline {
    text-decoration: underline;
}

.se-breadcrumb span:last-child {
    font-family: axiforma-bold;
    color: #2BBAFE;
}

.se-filtros {
    border: solid 1px #F1F1F1;
    border-radius: 5px;
    -webkit-box-shadow: -1px 5px 8px -2px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: -1px 5px 8px -2px rgba(0, 0, 0, 0.20);
    box-shadow: -1px 5px 8px -2px rgba(0, 0, 0, 0.20);
}
.se-filters-header h2 {
    font-family: Axiforma-Bold;
    font-size: 20px;
    color: #001C3E;
    margin-top: 20px;
    margin-bottom: 12px;
}

.se-filters-header h3 {
    font-family: Axiforma-thin;
    color: #8CA2A6;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 100;
}

.se-filters-header {
    text-align: center;
    border-bottom: solid 1px #F1F1F1;
}

.se-filter-options {
    padding: 12px;
    padding-bottom: 20px;
    border-bottom: solid 1px #F1F1F1;
}

.se-filter-options h2 {
    font-family: Axiforma-Bold;
    color: #2BBAFE;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.se-marcas input[type="text"] {
    border: none;
    background-color: #daf3ff;
    color: #2B85C1;
    padding-left: 15px;
    width: 195px;
}

.se-marcas input[type="text"]:focus {
    outline: none;
}

form#se-busca-marca {
    background-color: #DAF3FF;
    color: #2B85C1;
    height: 32px;
    border-radius: 5px;
}

#se-busca-marca button {
    border: none;
    background-color: unset;
    color: #2B85C1;
    font-size: 20px;
}

.se-filter-options ul {
    list-style: none;
    margin-block-start: 17px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    height: 82px;
    overflow: auto;
    margin-bottom: 0px;
}

.blue-scroll::-webkit-scrollbar{
    width: 10px;
    height: 25px;
}
.blue-scroll::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #E2EFF5;
}
.blue-scroll::-webkit-scrollbar-thumb{
    background: #2BBAFE; 
    border-radius: 10px;
}
.blue-scroll::-webkit-scrollbar-thumb:hover{
    background: #0f8dc7; 
}

button.se-square-box {
    width: 29px;
    height: 29px;
    background-color: #DAF3FF;
    color: #001C3E;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 0px 10px 10px 0;
}

button.se-square-box:hover {
    background-color: #88d8ff;
    transition: all .2s ease;
    cursor: pointer;
}

img.se-w100 {
    width: 100%;
}

.product-find {
    flex: 0 0 282px;
    max-width: 100%;
    border: solid 1px #EBEBEB;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.product-find:nth-child(1),
.product-find:nth-child(4),
.product-find:nth-child(7),
.product-find:nth-child(10),
.product-find:nth-child(13) {
    margin-left: 0px;
}

.product-find:last-child {
    margin-right: 0px;
}

.product-find:nth-child(3),
.product-find:nth-child(6),
.product-find:nth-child(9),
.product-find:nth-child(12),
.product-find:nth-child(15) {
    margin-right: 0px;
}

.product-find .se-card-title p.se-card-parcelas {
    margin-bottom: 7px;
}
button.se-color-option {
    height: 29px;
    width: 29px;
    border: none;
    border-radius: 5px;
}

button.se-color-option.red {
    background-color: #FF5A5A;
}

button.se-color-option.pink {
    background-color: #FF99F4;
}

button.se-color-option.purple {
    background-color: #DAE0FF;
}

button.se-color-option.green {
    background-color: #97FFA4;
}
.se-cores .blue-scroll li {
    display: flex;
    margin-bottom: 7px;
}

.se-cores li p {
    margin: auto auto;
    margin-left: 5px;
}

.se-cores .blue-scroll {
    height: 138px;
}

button.se-color-option:focus {
    outline: none;
}

input.se-price-filter {
    height: 24px;
    width: 62px;
    border: 1px solid #2BBAFE;
    background-color: #DAF3FF;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.se-filter-options li {
    color: #8CA2A6;
    font-size: 14px;
}

.se-filter-options label {
    color: #8CA2A6;
    font-size: 14px;
}

.se-promocoes {
    height: 103px !important;
}

.se-material {
    height: 17px;
}

.se-products-total-find {
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 0px;
    color: #8CA2A6;
}

.se-products-filter {
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.se-products-total-find span {
    color: #2B85C1;
    font-weight: 800;
}

.se-products-filter label {
    color: #8CA2A6;
}

.se-products-filter select#se-filter {
    width: 152px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #DAF3FF;
    color: #2B85C1;
    margin-left: 18px;
    padding-left: 10px;
}

.se-products-filter select#se-filter:focus {
    outline: none;
}

button.se-add-to-favorite {
    border: none;
    background-color: #F5F4F5;
    color: #D0A6C7;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
    position: absolute;
    right: 9px;
    top: 16px;
}

button.se-add-to-favorite:focus {
    outline: none;
}

.se-price-off {
    width: 67px;
    height: 16px;
    position: absolute;
    background-color: #FEC417;
    color: #fff;
    font-family: Axiforma-bold;
    font-size: 10px;
    border-radius: 3px;
    padding-top: 7px;
    padding-left: 10px;
    letter-spacing: 2px;
    top: 20px;
    left: 15px;
}

.se-shipping-free {
    width: 103px;
    height: 16px;
    background-color: #F96621;
    color: #fff;
    border-radius: 3px;
    padding-left: 11px;
    padding-top: 7px;
    position: absolute;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: axiforma-bold;
    top: 46px;
    left: 16px;
}

.product-find a:active, 
.product-find a:hover, 
.product-find a {
    text-decoration: none;
    color: unset;
}

div#se-category-last-banner-holder {
    margin-top: 45px;
}

#se-category-last-banner-holder-text h3 {
    font-family: axiforma-bold;
    font-size: 14px;
    color: #2B85C1;
}

#se-category-last-banner-holder-text p {
    font-size: 12px;
    color: #5A6672;
    width: 894px;
    letter-spacing: 1.33px;
    line-height: 15px;
}

.se-text-center {
    text-align: center;
}

section#se-category-footer {
    background-color: #EEF5F8;
    height: 171px;
}

#se-category-footer p {
    margin: 0;
    font-size: 16px;
    color: #2B85C1;
    margin-top: 16px;
}

#se-category-footer h2 {
    margin: 0;
    font-family: axiforma-bold;
    font-size: 20px;
    color: #2BBAFE;
}

#se-category-footer .se-cmd-4 {
    text-align: center;
    margin: 0 auto;
    margin-top: 43px;
}

#se-category-footer p.se-gray {
    color: #8CA2A6;
    font-size: 12px;
    margin-top: 3px;
}

span.icon-cartao {
    font-size: 25px;
}

span.icon-entrega-expresso {
    font-size: 25px;
}

span.icon-sacola {
    font-size: 25px;
}

#se-categoria-footer h2 {
    margin-top: 63px;
    margin-bottom: 35px;
    font-family: Axiforma-bold;
    font-size: 33px;
    color: #2B85C1;
}

section#se-categoria-footer {
    padding-bottom: 80px;
}

.se-add-to-favorite span.fa.fa-heart-o {
    padding: 2px;
    padding-top: 4px;
}

.product-find:hover {
    border: solid 1px #2BBAFE;
    transition: all .2s linear;
}

.product-find:hover p.se-card-full-title {
    text-decoration: underline;
    color: #2BBAFE;
    transition: all .1s linear;
}

.product-find:hover p.se-card-parcelas {
    text-decoration: underline;
    color: #2BBAFE;
    transition: all .1s linear;
}

.product-find:hover .se-card-overlay button.se-button-blue {
    display: block;
}

button.se-square-box:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}

.se-filter-options label:hover {
    font-weight: bold;
    color: #496267;
    transition: all .2s linear;
}

button.se-color-option:hover {
    transform: scale(0.9);
    transition: all .2s ease;
}

input.se-price-filter:focus {
    outline: none;
    border: 1px solid #226484;
    transition: all .2s ease;
}

#se-category-last-banner-holder-text {
    padding-top: 50px;
}

.swiper-pagination-bullets {
    position: absolute !important;
    bottom: 5px !important;
    left: 45% !important;
    z-index: 1;
}

#se-slide-banner6-home .se-right {
    right: 15px !important;
}

#se-slide-banner6-home .swiper-pagination-bullet-active {
    background: #ffffff7d !important;
}

/* ============
parte do pagina-produto
============ */

div#se-product-slider {
    flex: 0 0 120px;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 26px;
    margin-right: 58px;
}

div#se-product-image {
    flex: 0 0 588px;
    max-width: 100%;
    height: 588px;
    border: solid 1px #C9EEFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 22px;
}

div#se-product-buy-info {
    flex: 0 0 384px;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

p#se-product-buy-info-marca {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-family: axiforma-bold;
    color: #001C3E;
}

p#se-product-buy-info-name {
    margin-top: 14px;
    margin-bottom: 0px;
    font-family: axiforma-bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #001C3E;
    max-width: 344px;
}

p#se-product-buy-info-sku {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 1.33px;
    color: #8CA2A6;
}

p#se-product-buy-info-price-before {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #8CA2A6;
}

p#se-product-buy-info-price-now {
    font-family: axiforma-bold;
    font-size: 28px;
    margin-top: 12px;
    margin-bottom: 0px;
    color: #2BBAFE;
}

p#se-product-buy-info-price-now span {
    font-size: 33px;
    font-family: axiforma-bold;
}

p#se-product-buy-info-parcelas {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: axiforma-bold;
    font-size: 14px;
    color: #2B85C1;
    letter-spacing: 1.2857px;
}

p#se-product-buy-info-parcelas span {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #2BBAFE;
    font-family: axiforma-bold;
    font-size: 14px;
}

p#se-product-buy-info-lead-to-parcelas {
    color: #2B85C1;
    font-size: 12px;
    margin: 0 auto;
    margin-right: 0;
}

a.se-reset, a.se-reset:active, 
a.se-reset:hover, a.se-reset:focus, 
a.se-reset:visited {
    text-decoration: none;
    color: unset;
}

div#se-product-quantity-option {
    display: flex;
}

.se-product-option {border-top: solid 1px #D6F2FF;}

.se-product-option h3 {
    font-family: axiforma-bold;
    font-size: 14px;
    color: #001C3E;
    letter-spacing: 1.28px;
    margin-top: 13px;
}

button.se-square-box.disabled:hover {
    transform: unset;
    background-color: #DAF3FF;
}

button.se-square-box.disabled {opacity: 0.3;}

#se-product-color-option div.se-flex div {
    margin: 0 14px;
    text-align: center;
}

#se-product-color-option div.se-flex div:first-child {
    margin-left: 0px;
}

#se-product-number-option div.se-flex div.se-flex {
    width: 205px;
}

#se-product-quantity-option input#product-quantity {
    width: 58px;
    height: 32px;
    border: none;
    background-color: #DAF3FF;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 10px;
}

#se-product-buy-info button.se-button-blue {
    width: 100%;
    margin-top: 21px;
}

input.se-button-frete {
    margin: 0 auto;
    border: solid 1px #D1DBE0;
    padding-left: 15px;
    width: 161px;
    height: 28px;
    color: #2B85C1;
    letter-spacing: 1.3333px;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 30px;
}

button.se-button-consultar {
    margin: 0 auto;
    width: 180px;
    height: 34px;
    border: none;
    border-radius: 5px;
    font-family: axiforma-bold;
    color: #2B85C1;
    font-size: 14px;
    background-color: #A7FFEF;
    margin-right: 0px;
    margin-top: 29px;
}

.se-product-description h3 {
    font-family: Axiforma-bold;
    color: #2B85C1;
    font-size: 20px;
}

.se-product-description p {
    font-size: 16px;
    color: #5A6672;
}

a.se-link-tags {
    background-color: #2B85C1;
    border-radius: 5px;
    color: #fff !important;
    font-size: 12px;
    margin: 0 5px;
    padding: 0px 5px;
}

a.se-link-tags:hover {
    background-color: #58a8de;
    transition: all .1s ease;
}

section.se-cmd-4.se-product-description {
    margin: 0 auto;
}

div#se-product-slider img {
    border: solid 1px #C9EEFF;
    border-radius: 5px;
}

#se-product-number-option a {
    font-size: 12px;
    text-decoration: underline;
    color: #2B85C1;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 13px;
}

.se-blue{
    color: #2B85C1;
}

.se-m-auto{
    margin: 0 auto;
}

.fa.fa-plus.se-m-auto {
    margin: auto;
    color: #2B85C1;
    font-size: 23px;
}

#se-leve-junto-section .swiper-slide:first-child {
    margin-left: 0px;
}

#se-leve-junto-holder h3 {
    color: #2BBAFE;
    font-size: 28px;
    font-family: Axiforma-Bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

#se-leve-junto-holder h4 {
    font-family: Axiforma-Bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #2B85C1;
}

p.se-price-before {
    font-size: 14px;
    font-family: axiforma-bold;
    color: #8CA2A6;
    margin-top: 37px;
    margin-bottom: 0px;
}

p.se-price-now {
    font-family: axiforma-bold;
    font-size: 33px;
    color: #2BBAFE;
    margin-top: 13px;
    margin-bottom: 0px;
}

#se-leve-junto-holder button {
    width: 100%;
}

#se-leve-junto-holder {
    max-width: 305px;
    margin: auto auto;
    margin-right: 90px;
    margin-left: 115px;
    text-align: center;
}

#se-leve-junto-holder .se-button-blue {
    margin-top: 40px;
}

#se-leve-junto-section .swiper-slide:last-child {
    margin-right: 0px !IMPORTANT;
}

#se-leve-junto-section h2 {
    font-family: Axiforma-bold;
    font-size: 33px;
    margin-bottom: 39px;
}

#product-details-section {
    padding-top: 43px;
    margin-top: 60px;
    border-top: solid 1px #EEEEEE;
}

#se-voce-vai-gostar h2 {
    font-size: 33px;
    font-family: axiforma-bold;
    margin-top: 0px;
}

#se-voce-vai-gostar {
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px #EEEEEE;
    margin-bottom: 110px;
}

#voce-tambem-viu-section h2 {
    font-size: 33px;
    font-family: axiforma-bold;
    margin-top: 0px;
    margin-bottom: 34px;
}

section#voce-tambem-viu-section {
    margin-top: 110px;
    margin-bottom: 110px;
}

#breadcrumb-section p {
    color: #5A6672;
    font-size: 14px;
}

span.se-last {
    color: #2BBAFE;
    font-family: Axiforma-bold;
    font-size: 14px;
}

/* ============
secao do quem somos
============ */

#quem-somos-banner{
    background-image: pwa-url(shoes-battle-woman);
    height: 275px;
}

#quem-somos-banner h4 {
    margin-top: 0;
    font-family: Axiforma-heavy;
    color: #fff;
    font-size: 39px;
    text-align: center;
    padding-top: 120px;
}

#porque-comprar .se-wrapper {
    max-width: 792px;
    margin: 0 auto;
}

#porque-comprar h3 {
    font-family: Axiforma-bold;
    font-size: 30px;
    color: #2B85C1;
    padding-bottom: 28px;
}

#porque-comprar p {
    text-align: justify;
    font-size: 16px;
    color: #5A6672;
}

.se-cmd-5 {
    flex: 0 0 50%;
    max-width: 100%;
}

.image-part {
    width: 282px;
}

.text-part h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Axiforma-bold;
    font-size: 20px;
    color: #2BBAFE;
}

.text-part p {
    color: #5A6672;
    margin-top: 30px;
    min-height: 63px;
}

.text-part {
    margin-left: 24px;
    width: 230px;
}

#conheca-nossas-lojas h3 {
    margin-top: 75px;
    font-family: Axiforma-bold;
    color: #2B85C1;
    font-size: 30px;
    margin-bottom: 42px;
}

#conheca-nossas-lojas article {
    margin: 0 auto;
    margin-bottom: 35px;
}

#conheca-nossas-lojas article button {
    margin-top: 37px;
    width: 100%;
}

#conheca-nossas-lojas {
    padding-bottom: 45px;
}

/* ============
seção do carrinho teste
============ */

.se-product-row .image img {
    width: 175px;
    margin-left: 63px;
}

p.se-product-card-marca {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-family: axiforma-bold;
    color: #001C3E;
}

.se-product-row {
    border: solid 1px #E5E4E5;
    border-radius: 5px;
}

.text-info {
    margin-left: 65px;
}

p.se-product-card-name {
    margin-top: 14px;
    margin-bottom: 0px;
    font-family: axiforma-bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #001C3E;
    max-width: 344px;
}

p.se-product-card-remove {
    color: #2B85C1;
    font-size: 12px;
    margin-top: 17px;
}

p.se-product-card-remove span {
    font-size: 16px;
}

p.se-product-configuration-color {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #001C3E;
}

p.se-product-configuration-color span {
    font-family: Axiforma-bold;
    font-size: 14px;
    color: #2BBAFE;
}

input[type="number"] {
    width: 58px;
    height: 32px;
    border: none;
    background-color: #DAF3FF;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 10px;
}

div#se-linha-price-before {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #8CA2A6;
}

#se-linha-price-single p {
    font-size: 12px;
    color: #5A6672;
}

#se-linha-price-single h2 {
    color: #2B85C1;
    font-family: axiforma-bold;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#se-linha-price-single h3 {
    color: #2BBAFE;
    font-size: 12px;
}

#se-linha-subtotal h3 {
    font-size: 12px;
    color: #5A6672;
}

#se-linha-subtotal h2 {
    color: #2BBAFE;
    font-family: Axiforma-bold;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product-card {
    padding: 29px 18px 29px 34px;
}

.product-card-price {
    border: solid 1px #E5E4E5;
    border-radius: 5px;
    background-color: #F9F9F9;
}

/* =============================
seção do duvidas frequentes
============================= */

#duvidas-frequentes-banner{
    background-image: pwa-url(faq-banner);
    height: 275px;
}

#duvidas-frequentes-banner h4 {
    margin-top: 0;
    font-family: Axiforma-heavy;
    color: #fff;
    font-size: 39px;
    text-align: center;
    padding-top: 120px;
}

.se-acordion {
    background-color: #eee;
    color: #2B85C1;
    cursor: pointer;
    padding: 21px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 5px;
}

.se-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.se-acordion.type1 {
    background-color: #CFEFFF;
}

.se-acordion.type2 {
    background-color: #F9FDFF;
}

.se-acordion.type3 {
    background-color: #2BBAFE;
    color: #fff;
}

.se-panel p {
    margin-top: 23px;
    margin-left: 29px;
    font-size: 16px;
    color: #5A6672;
}

.se-acordions-section {
    margin-bottom: 80px;
}

main.se-faq .se-container.se-text-center h3 {
    font-family: Axiforma-bold;
    font-size: 30px;
    color: #2B85C1;
    padding-bottom: 28px;
}

/* ===============
seçao do entrega-expressa
=============== */

#se-entrega-expressa h3 {
    font-family: Axiforma-bold;
    font-size: 30px;
    color: #2B85C1;
    padding-bottom: 28px;
}

#se-entrega-expressa .se-wrapper {
    max-width: 792px;
    margin: 0 auto;
}

#se-entrega-expressa .se-wrapper p {
    text-align: justify;
    font-size: 16px;
    color: #5A6672;
}

#lojas-disponiveis article {
    max-width: 282px;
    min-width: 220px;
    margin: 0 auto;
    height: 175px;
}

#lojas-disponiveis article h4 {
    margin-bottom: 17px;
    color: #2BBAFE;
    font-size: 20px;
    font-family: axiforma-bold;
}

#lojas-disponiveis article p {
    color: #5A6672;
}

article.se-cmd-3 {
    flex: 0 0 30%;
    max-width: 100%;
}

section#lojas-disponiveis {
    margin-bottom: 80px;
}

/* ===================
seçao do trocas e devolucoes
=================== */

#trocas-devolucoes-banner{
    background-image: pwa-url(trocas-devolucoes);
    height: 275px;
}

#trocas-devolucoes-banner h4 {
    margin-top: 0;
    font-family: Axiforma-heavy;
    color: #fff;
    font-size: 39px;
    text-align: center;
    padding-top: 120px;
}

#se-trocas-e-devolucoes-texto h3 {
    font-family: Axiforma-bold;
    font-size: 30px;
    color: #2B85C1;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 33px;
}

#se-trocas-e-devolucoes-texto {
    max-width: 792px;
    margin: 0 auto;
    text-align: justify;
}

#se-trocas-e-devolucoes-texto h4 {
    font-size: 20px;
    font-family: axiforma-bold;
    color: #001C3E;
    margin-bottom: 21px;
}

#se-trocas-e-devolucoes-texto p {
    font-size: 16px;
    color: #5A6672;
    padding-bottom: 38px;
}