#user-nav img:hover {
    cursor: pointer;
}

#se-cart-icon .overlay span {
	font-size: 13px;
}

#se-top-header {
	background-color: #ECF7FE;
	color: #2B85C1;
	height: 50px;
	letter-spacing: 1.33px;
}

.se-flex {
	display: flex;
	flex-wrap: wrap;
}

.se-item {
	display: flex;
	margin: 0 auto;
	padding-top: 5px;
}

.se-fa-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
	height: 38px;
	width: 38px;
	border-radius: 100%;
	background-color: #fff;
}

.se-item .se-fa-circle i.fa {
	padding-left: 12px;
	padding-top: 10px;
}

.se-text {
	padding-top: 13px;
	padding-left: 13px;
	font-family: 'axiforma-regular';
	font-size: 12px;
}

#se-header img#se-logo {
	width: 206px;
	height: 77px;
	margin-top: 25px;
	margin-left: 64px;
}

#se-busca-home {
	width: 485px;
	height: 46px;
	border: 1px solid #E0E0E0;
	padding: 2px;
	border-radius: 5px;
	margin-top: 40px;
	margin-left: 84px;
    position: relative;
    transition: .1s ease;
}

#se-busca-home input[type="search"] {
	border: none;
	width: 380px;
	height: 46px;
	padding-left: 15px;
	font-size: 12px;
	color: #8CA2A6;
}

#se-busca-home:focus-within {
    border-color: #b6b6b6;
}

#se-busca-home button {
	background-color: #2BBAFE;
	border: none;
	width: 94px;
	height: 46px;
	border-radius: 5px;
	color: white;
    position: absolute;
    right: 2px;
}

#se-busca-home input[type="search"]:focus {
	outline: none;
}

img#se-guest-profile-pic {
	width: 40px;
	height: 40px;
}

#se-header #user-nav h2 {
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    color: #2B85C1;
}

#se-setima-linha .se-cmd-6:first-child {
    margin-left: 0px;
}

#se-setima-linha .se-cmd-6:last-child {
    margin-right: 0px;
}

#user-nav a {
	color: #2BBAFE;
    font-size: 10px;
    text-transform: uppercase;
}

#se-favoritos {
	height: 40px;
    width: 40px;
    background-color: #FFE6FA;
    color: #D0A6C7;
    border-radius: 100%;
    cursor: pointer;
    margin: 46px 24px 0 43px;
}

#se-favoritos i.fa {
	padding-left: 10px;
	font-size: 20px;
	padding-top: 10px;
	color: #D0A6C7;
}

#se-cart-icon {
	/* position: relative;
	margin-top: 46px;
	margin-left: 24px;
	cursor: pointer; */
	margin: 46px 56px 0 0;
	position: relative;
}

#se-cart-icon .overlay {
	position: absolute;
	height: 23px;
	width: 23px;
	background-color: #2BBAFE;
	border-radius: 100%;
	color: white;
	top: 0;
    right: -15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#se-cart-icon .circle {
	height: 40px;
	width: 40px;
	background-color: #ECF7FE;
	color: #8DC0E1;
	border-radius: 100%;
}

#se-cart-icon .circle i.fa {
	font-size: 20px;
	padding-top: 9px;
	padding-left: 10px;
}

section#se-header {
	height: 130px;
	background-color: #fff;
}

#user-nav {
	margin-top: 46px;
	margin-left: 46px;
	width: 178px;
}

#user-nav .text {
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 4px;
}

#se-nav {
	height: 60px;
	background-color: #fff;
	border-top: solid 1px #EBEBEB;
}

#se-nav ul.menu {
	list-style-type: none;
	margin-block-start: 0px;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
    display: flex;
    justify-content: space-around;
	position: relative;
	height: 100%;
}

/* nav#se-nav ul.menu li {
	float: left;
	margin: 0 auto;
	font-size: 14px;
	transition: all .1s ease;
	color: #001C3E;
} */

.submenu ul.menu li {
    float: initial;
    color: #5A6672;
    list-style: none;
    /* margin-inline-start: -38px; */
    margin-bottom: 18px;
}

.submenu ul.menu li a {
    transition: all .4s ease;
}

.submenu {
	top: 60px;
	left: 0;
	position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
	transition: all .4s ease;
}

.se-category-list li {
    float: initial;
    color: #5A6672;
    list-style: none;
    /* margin-inline-start: -38px; */
    margin-bottom: 18px;
}

.se-category-list {
    padding-inline-start: 0px;
}

.submenu-content h3 {
    margin-block-start: 6px;
    margin-block-end: 17px;
}

.se-category-list li {
    line-height: 30px;
}

.se-more-category-links {
    padding-inline-start: 0px;
}

.se-category-list li:last-child {
    margin-bottom: 30px !important;
}

.se-menu-item {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 21px;
    font-size: 14px;
    transition: all .1s ease;
	color: #001C3E;
}

.se-more-category-links li {
	float: initial;
	/* margin-inline-start: -33px; */
	margin-bottom: 18px;
	list-style: none;
}

.se-more-category-links li:hover {
	border: none;
	color: #0b96d8;
	font-weight: 800;
}

.se-brand-line {
    position: relative;
}

.se-slide-brand-masculino-next {
    position: absolute;
    right: 0px;
    top: 25%;
}

.se-slide-brand-masculino-prev {
    position: absolute;
    top: 25%;
    left: 0px;
}

.se-slide-brand-masculino-prev,
.se-slide-brand-masculino-next{
    background-color: #001C3E;
    border-radius: 120px;
    height: 48px;
    width: 48px;
	display: flex;
	z-index: 1;
}

.se-slide-brand-masculino-next .fa,
.se-slide-brand-masculino-prev .fa{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin: 0 auto;
}

.se-brand-slide img {
	width: 100%;
	max-width: 50px;
}

#se-slide-brand-masculino-home {
	width: 560px;
	height: 90px;
}

#se-slide-brand-masculino-home .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#se-nav .se-container {
    height: 60px;
}

#se-cart__darken {
    width: 100%;
    background: #000000a6;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: none;
    animation: none;
}



/* ===============
PARTE DOS SUBMENUS
ESPORTE, FEMININO, MASCULINO, MENINA, MENINO
=============== */

#se-slide-brand-MENINO,
#se-slide-brand-MENINA,
#se-slide-brand-MASCULINO,
#se-slide-brand-FEMININO,
#se-slide-brand-ESPORTE {
    position: relative;
}

.se-slide-brand-MENINO-next,
.se-slide-brand-MENINA-next,
.se-slide-brand-MASCULINO-next,
.se-slide-brand-FEMININO-next,
.se-slide-brand-ESPORTE-next{
    position: absolute;
    top: 0px;
	right: 0px;
	z-index: 2;
}

.se-slide-brand-MENINO-prev,
.se-slide-brand-MENINA-prev,
.se-slide-brand-MASCULINO-prev,
.se-slide-brand-FEMININO-prev,
.se-slide-brand-ESPORTE-prev{
    position: absolute;
    top: 0px;
	left: 0px;
	z-index: 2;
}

.se-slide-brand-MENINO-next .fa-chevron-right,
.se-slide-brand-MENINA-next .fa-chevron-right,
.se-slide-brand-MASCULINO-next .fa-chevron-right,
.se-slide-brand-FEMININO-next .fa-chevron-right,
.se-slide-brand-ESPORTE-next .fa-chevron-right {
    background-color: #001C3E;
    border-radius: 120px;
    height: 48px;
    width: 48px;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.se-slide-brand-MENINO-prev .fa-chevron-left,
.se-slide-brand-MENINA-prev .fa-chevron-left,
.se-slide-brand-MASCULINO-prev .fa-chevron-left,
.se-slide-brand-FEMININO-prev .fa-chevron-left,
.se-slide-brand-ESPORTE-prev .fa-chevron-left {
    background-color: #001C3E;
    border-radius: 120px;
    height: 48px;
    width: 48px;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

#se-slide-brand-MENINO .swiper-wrapper,
#se-slide-brand-MENINA .swiper-wrapper,
#se-slide-brand-MASCULINO .swiper-wrapper,
#se-slide-brand-FEMININO .swiper-wrapper,
#se-slide-brand-ESPORTE .swiper-wrapper {
    width: 494px;
	height: 90px;
	z-index: 1;
}

#se-slide-brand-MENINO .swiper-slide,
#se-slide-brand-MENINA .swiper-slide,
#se-slide-brand-MASCULINO .swiper-slide,
#se-slide-brand-FEMININO .swiper-slide,
#se-slide-brand-ESPORTE .swiper-slide {
    margin-top: 12px;
}

#se-slide-brand-MENINO,
#se-slide-brand-MENINA,
#se-slide-brand-MASCULINO,
#se-slide-brand-FEMININO,
#se-slide-brand-ESPORTE {
    margin-top: 47px;
}

.se-slide-brand-MENINO-next:hover,
.se-slide-brand-MENINA-next:hover,
.se-slide-brand-MASCULINO-next:hover,
.se-slide-brand-FEMININO-next:hover,
.se-slide-brand-ESPORTE-next:hover {
    cursor: pointer;
}

.se-slide-brand-MENINO-prev:hover,
.se-slide-brand-MENINA-prev:hover,
.se-slide-brand-MASCULINO-prev:hover,
.se-slide-brand-FEMININO-prev:hover,
.se-slide-brand-ESPORTE-prev:hover {
    cursor: pointer;
}