*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
pre {
    background-color: #e4e4e4;
    padding: 15px;
    font-family: monospace !important;
    border-radius: 5px;
}
.fa-chevron-up {
    color: #ff3b3b;
    font-size: 20px !important;
}

.fa-chevron-down {
    color: #2ad82a;
    font-size: 20px !important;
}

.fa-plus-circle{
    color: #3b87e6;;
    font-size: 20px !important;
}

table {
    border-spacing: 0px;
}

tr:hover {
    background-color: #cccccc;
    transition: all .4s ease;
}
.text-center{
    text-align: center;
}

#opcoes button {
    height: 40px;
    width: 615px;
    border: none;
    border-radius: 5px;
    background-color: #3b87e6;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#opcoes a {
    margin: 0 auto;
}

#opcoes a:first-child {
    margin-left: 0px;
}

#opcoes a:last-child {
    margin-right: 0px;
}

#opcoes button:hover {
    background-color: #265fff;
    transform: scale(1.025);
    transition: all .2s ease;
}
a,
a:visited,
a:active,
a:hover{
    text-decoration: none;
    color: inherit;
}

#menu-principal {
    background-color: #41b883;
    text-align: center;
}

#menu-principal li {
    color: #fff;
    font-weight: bold;
    margin: 10px 10px;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

html {
    background: #e5fff3;
}

.w100{
    width: 100%;
}

#about section{
    margin-top: 20px;
}