.block1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    width: 60%;
}
.columnstyle  {
    height: 500px;
}
.columnstyle .bg-mask {
    opacity: 0;
}
li.vc_tta-tab {
    background-color: #f2f2f2;
}
li.vc_tta-tab.vc_active {
    background-color: #c6eaea;
}
.hotel-alone .menu-style-2 .menu .current-menu-ancestor>a{
 background: transparent !important;   
}
.footer-custom a{
 color: #333;   
}
#header .header .header-right .st-list li.st-header-link a {
    background: none !important;
    color: #3e3e3e !important;
    border: none !important;
    padding: 0px !important;
    font-size: 30px !important;
    text-decoration: none !important;
}
#header .header .header-left #st-main-menu {
    margin-left: 50px !important;
    margin-top: 10px !important;
}

#header .header .header-left #st-main-menu .main-menu li.current-menu-item > a, #header .header .header-left #st-main-menu .main-menu li.current-menu-ancestor > a {
    color: #2e53a4 !important;
}


/*aqui começa seu código */

#banner-vitrine .wpb_column.column_container.col-md-12.col-lg-12 {
    padding: 0px;
}

.vc_item {
    width: 33.3333% !important;
    /* height: 877px !important; */
}

/* .vc_inner,
div#vc_images-carousel-1-1588593616, 
.vc_images_carousel .vc_carousel-inner {
    height: 877px;
} */

#main-footer > div {
    width: unset !important;
}
.container.main-footer-sub {
    display: none;
}
.vc_images_carousel .vc_carousel-indicators .vc_active {
    border: 1px solid white !important;
}
.vc_images_carousel .vc_carousel-indicators li {
    border: 1px solid white !important;
    background-color: white !important;
}
#header .header .header-right .st-list li.st-header-link a {
    background: none !important;
    color: #3e3e3e !important;
    border: none !important;
    padding: 0px !important;
    font-size: 30px !important;
    text-decoration: none !important;
}
#header .header .header-left #st-main-menu {
    margin-left: 50px !important;
    margin-top: 10px !important;
}
#header .header .header-left #st-main-menu .main-menu > li > a {
    font-weight: 400 !important;
    padding: 0px 3px !important;
    color: #2e53a4 !important;
    font-size: 17px;
    text-transform: lowercase;
}
.search-result-page .tour-search-form-home{
    width: 1200px;
}
.banner.st_1588168056, .st-breadcrumb {
    display: none;
}
img.attachment-full {
    width: 100%;
    /* height: 877px; */
}
.header {
    max-width: 1270px;
    margin: 0 auto;
}
.header .logo img {
    max-width: unset;
    height: 90px;
    width: 200px;
}
div#sticky-nav {
    margin-top: 0px !important;
}

/* Aqui começa a seção do footer */

.footer-links, 
.footer-payment-types,
.instagram-block {
    margin-top: 35px;
    padding: 15px;
    font-size: 20px;
    color: white;
}
.instagram-block {
    margin-left: 40px;
}
.instagram-block .custom-row img {
    width: 80px;
    margin: 10px;
    margin-left: 0px;
}
i.fa.fa-envelope {
    margin-bottom: 10px;
}
.footer-links a, .footer-links a:hover, .footer-links a:visited, .footer-links a:active {
    text-decoration: none;
    color: white;
}
.custom-row {
    flex: 0 0 50%;
    display: flex;
}
.footer-payment-types .custom-row img {
    width: 158px;
    height: 41.226px;
    padding: 5px 5px;
}
i.fa.fa-instagram, 
i.fa.fa-facebook-f, 
i.fa.fa-whatsapp, 
i.fa.fa-youtube, 
i.fa.fa-google-plus, i.fa.fa-skype {
    font-size: 28px;
    padding: 11px 17px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background: white;
    border-radius: 44px;
    color: #848484;
}
i.fa.fa-whatsapp,
i.fa.fa-youtube,
i.fa.fa-skype {
    padding-left: 14px;
}
i.fa.fa-instagram {
    padding-left: 13px;
}
i.fa.fa-google-plus {
    padding-left: 10px;
}
.wpb_column.column_container.col-md-3:nth-child(1) {
    width: 18%;
}
.wpb_column.column_container.col-md-3:nth-child(2) {
    width: 24%;
}
.wpb_column.column_container.col-md-3:nth-child(4) {
    margin-left: 18px;
}
.footer-row {
    font-size: 17px;
    color: white;
}
i.fa.fa-envelope, i.fa.fa-link {
    font-size: 30px;
    margin-right: 10px;
}
.mailchimp {
    display: none;
}
#main-footer {
    padding-bottom: 0px !important;
}

/* seção para a página partners */

.page-id-8349 .banner {
    display: none;
}

.partners-photos img {
    height: 10%;
    width: 10%;
    margin: 0 auto;
}

/* seção para a página about-us */

.page-id-8028 .banner {
    display: none;
}

/* seção da pagina /testimonial */

.page-id-8370 .banner {
    display: none;
}


/* seção media */
#mobile-row{
    display: none;
}

/* Aqui começa a seção /about-us */

div#about-us-text {
    padding: 0px !important;
    min-height: 0px !important;
    top: -21px;
}
#about-us-text .container-fluid {
    padding: 0px !important;
}

/* Aqui começa a seção do search-form personalizado */

div#sticky-nav {
    background: none;
}
.search-result-page .tour-search-form-home .form-button button{
    right: -290px;
}
#sticky-nav button.btn.btn-primary.btn-search {
    height: 57px;
    top: 0;
}
#sticky-nav .col-md-4 {
    height: 57px;
    top: 10px;
}
#sticky-nav .col-md-4:nth-child(3) {
    position: absolute;
    left: 715px;
    background: white;
}
#sticky-nav .col-md-4:nth-child(2) {
    position: absolute;
    left: 238px;
    background: white;
}
#sticky-nav .col-md-4:nth-child(1) {
    left: -230px;
    position: absolute;
    background: white;
}
.home #st-content-wrapper.search-result-page .search-form-wrapper {
    margin-top: 8px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    position: relative !important;
    background: rgb(46, 83, 164);
}
.home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .btn-search {
    border-radius: 0px;
    margin-right: 2px;
    background: rgb(194, 21, 27);
    box-shadow: none !important;
}
.home #st-content-wrapper.search-result-page .search-form-wrapper .search-form {
    border-radius: 0px;
    box-shadow: none !important;
}
.search-result-page .tour-search-form-home .search-form .form-extra-field {
    padding: 8px 0 14px 0 !important;
}
.search-result-page .tour-search-form-home .search-form .form-date-field {
    padding: 8px 5px 17px 5px !important;
}
.search-result-page .search-form-wrapper .search-form .form-group.has-icon .field-icon{
    top: 33% !important;
}
.form-group.form-extra-field.dropdown.clearfix.field-detination.has-icon i.input-icon {
    left: 0 !important;
}
@media (max-width: 991px){
    .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .form-group {
        margin-top: 10px;
    }
}


@media(max-width: 1920px){
    .home #st-content-wrapper.search-result-page .search-form-wrapper{
        width: 1905px;
        left: -367px
    }
}
@media(max-width: 1440px){
    .search-result-page .tour-search-form-home .form-button button {
        right: -200px;
    }
    #sticky-nav .col-md-4:nth-child(3) {
        left: 660px;
        width: 300px;
    }
    #sticky-nav .col-md-4:nth-child(2) {
        left: 330px;
        width: 300px;
    }
    #sticky-nav .col-md-4:nth-child(1) {
        left: 0px;
        width: 300px;
    }
}
@media(max-width: 1024px){
    i.fa.fa-instagram, i.fa.fa-facebook-f, 
    i.fa.fa-whatsapp, i.fa.fa-youtube, 
    i.fa.fa-google-plus, i.fa.fa-skype {
        font-size: 20px !important;
        padding: 10px 13px !important;
        height: 40px !important;
        width: 40px !important;
    }
    i.fa.fa-instagram {
        padding-left: 11px !important;
    }
    i.fa.fa-google-plus {
        padding-left: 9px !important;
    }
    i.fa.fa-whatsapp, i.fa.fa-youtube, i.fa.fa-skype {
        padding-left: 11px !important;
    }
    .search-result-page .tour-search-form-home .form-button button {
        right: -240px;
        width: 130px;
    }
    #sticky-nav .col-md-4:nth-child(2) {
        left: 255px;
        width: 200px;
    }
    #sticky-nav .col-md-4:nth-child(3) {
        left: 512px;
        width: 200px;
    }
    #sticky-nav .col-md-4:nth-child(1) {
        left: 0px;
        width: 200px;
    }
    .header .logo img {
        height: 45px;
        width: 100px;
    }
    #header .header .header-left #st-main-menu .main-menu > li > a{
        font-size: 15px;
    }
    #header .header .header-left #st-main-menu{
        margin: auto auto;
    }
}
@media(max-width: 768px){
    #sticky-nav .col-md-4:nth-child(1) {
        left: 0px !important;
    }
    #sticky-nav .col-md-4:nth-child(2){
        left: 285px !important;
    }
    #sticky-nav .col-md-4:nth-child(3) {
        left: 580px !important;
    }
    .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .form-group{
        border-bottom: none;
    }
    .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .btn-search {
        position: absolute;
        right: -17px;
        width: 120px;
    }
    .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .form-group.field-detination {
        padding: 0px !important;
    }
    .home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .form-group {
        margin-top: 10px;
        padding: 0px !important;
    }
}
@media(max-width: 425px){
    html {
        margin-top: 0px !important;
    }
    #sticky-nav .col-md-4:nth-child(1) {
        left: 364px !important;
        width: 100px !important;
    }
    #sticky-nav .col-md-4:nth-child(2) {
        left: 484px !important;
        width: 145px !important;
    }
    #sticky-nav .col-md-4:nth-child(3) {
        left: 640px !important;
        width: 120px !important;
    }
    .search-result-page .search-form-wrapper .search-form .field-detination .dropdown#dropdown-destination {
        padding-left: 25px !important;
        padding-right: 13px;
    }
    .search-result-page .tour-search-form-home .search-form .form-date-field .date-wrapper .check-in-wrapper {
        padding-left: 20px !important;
    }
    #mobile-row{
        display: block;
    }
    .wpb_column.column_container.col-md-3:nth-child(3),
    .wpb_column.column_container.col-md-3:nth-child(4) {
        display: none;
    }
    .wpb_images_carousel.wpb_content_element.vc_clearfix {
        height: 200px;
    }
    img.attachment-full {
        width: 100%;
        height: 200px;
    }
    #header .header .header-left .logo img {
        height: 40px;
    }
    #footer-row .container .row {
        display: flex;
    }
    .footer-mobile-payment-types .custom-row img {
        width: 50%;
        padding: 5px 5px;
    }
    .footer-mobile-payment-types p b {
        color: white;
        font-size: 20px;
    }
    .footer-mobile-payment-types {
        margin-top: 100px;
        padding: 30px;
    }
    .footer-payment-types .custom-row img {
        width: 50%;
        padding: 5px 5px;
    }
    #mobile-row .container {
        max-width: 425px;
    }
    #mobile-row .footer-icons {
        margin-top: 0px;
        margin-left: 50px;
        margin-bottom: 40px;
    }
    .wpb_column.column_container.col-md-3:nth-child(1), 
    .wpb_column.column_container.col-md-3:nth-child(2) {
        width: unset !important;
    }
    div#footer-row {
        height: 240px;
    }
    i.fa.fa-envelope, i.fa.fa-link {
        font-size: 18px;
        margin-right: 10px;
    }
    .footer-row {
        font-size: 14px;
    }
    .search-result-page .tour-search-form-home {
        width: unset !important;
    }
    .footer-payment-types {
        margin-top: 100px;
    }
}

/* seção do grid */
p.price {
    font-size: 20px;
    line-height: 25px;
}

div#icones-pra-add .fa {
    margin: auto auto;
    height: 40px;
    width: 40px;
    background-color: #2e53a4;
    color: white;
    font-size: 17px;
    border-radius: 100%;
    padding: 11px;
}
i.fa.fa-bicycle {
    padding-left: 9px !important;
}
.item-service.grid-item.has-matchHeight {
    text-align: center;
}
.section-footer button {
    background-color: #c2151b;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 20px;
}
.search-result-page.st-tours .grid-item .service-title a {
    color: #2e53a4 !important;
    font-weight: bold;
}
.descricao p, p.price {
    color: #2e53a4;
}
.search-result-page.st-tours .grid-item .service-border{
    border: none !important;
}
i.fa.pt.mr5,
i.fa.en.mr5 {
    display: none;
}

@media(max-width: 1300px){
    #header .header .header-right .st-list li:last-child{
        display: block !important;
    }
}   
/* bagunça da homepage */
div.search-form.sticky.small {
    display: none;
}
.form-group.form-date-search.st-form-package.clearfix {
    display: none;
}
li.dropdown.dropdown-currency.hidden-xs.hidden-sm {
    display: none !important;
}
a.vc_left.vc_carousel-control, a.vc_right.vc_carousel-control {
    border-radius: 100%;
    background-color: black;
    color: white;
    border: none !important;
    height: 60px;
    opacity: 0.7 !important;
}
a.vc_right.vc_carousel-control {
    left: 32.25% !important;
}
.vc_images_carousel .vc_carousel-control:hover{
    opacity: 0.4 !important;
}
a.vc_left.vc_carousel-contro,
a.vc_right.vc_carousel-control {
    display: block !important;
}
li.dropdown.dropdown-currency.hidden-xs.hidden-sm, 
li.dropdown.dropdown-currency.hidden-xs.hidden-sm a {
    display: none;
}