.block1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    width: 60%;
}
.columnstyle  {
    height: 500px;
}
.columnstyle .bg-mask {
    opacity: 0;
}
li.vc_tta-tab {
    background-color: #f2f2f2;
}
li.vc_tta-tab.vc_active {
    background-color: #c6eaea;
}
.hotel-alone .menu-style-2 .menu .current-menu-ancestor>a{
 background: transparent !important;   
}
.footer-custom a{
 color: #333;   
}
#header .header .header-right .st-list li.st-header-link a {
    background: none !important;
    color: #3e3e3e !important;
    border: none !important;
    padding: 0px !important;
    font-size: 30px !important;
    text-decoration: none !important;
}
#header .header .header-left #st-main-menu {
    margin-left: 50px !important;
    margin-top: 10px !important;
}
#header .header .header-left #st-main-menu .main-menu > li > a {
    padding: 0px 10px !important;
}
#header .header .header-left #st-main-menu .main-menu li.current-menu-item > a, #header .header .header-left #st-main-menu .main-menu li.current-menu-ancestor > a {
    color: unset !important;
}


/*aqui começa seu código */
#main-footer > div {
    width: unset !important;
}
.container.main-footer-sub {
    display: none;
}
.vc_images_carousel .vc_carousel-indicators .vc_active {
    border: 1px solid white !important;
}
.vc_images_carousel .vc_carousel-indicators li {
    border: 1px solid white !important;
    background-color: white !important;
}
#header .header .header-right .st-list li.st-header-link a {
    background: none !important;
    color: #3e3e3e !important;
    border: none !important;
    padding: 0px !important;
    font-size: 30px !important;
    text-decoration: none !important;
}
#header .header .header-left #st-main-menu {
    margin-left: 50px !important;
    margin-top: 10px !important;
}
#header .header .header-left #st-main-menu .main-menu > li > a {
    padding: 0px 10px !important;
}
#header .header .header-left #st-main-menu .main-menu li.current-menu-item > a, #header .header .header-left #st-main-menu .main-menu li.current-menu-ancestor > a {
    color: unset !important;
}
.home #st-content-wrapper.search-result-page .search-form-wrapper {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    position: relative !important;
}
.search-result-page .tour-search-form-home{
    width: 1200px;
}
.banner.st_1588168056, .st-breadcrumb {
    display: none;
}
img.attachment-full {
    width: 100%;
}
.header {
    max-width: 1270px;
    margin: 0 auto;
}
.header .logo img {
    max-width: unset;
    height: 90px;
    width: 200px;
}
div#sticky-nav {
    margin-top: 0px !important;
}
.home #st-content-wrapper.search-result-page .search-form-wrapper .search-form {
    border-radius: 0px;
}
.home #st-content-wrapper.search-result-page .search-form-wrapper .search-form .btn-search {
    border-radius: 0px;
    margin-right: 2px;
}


/* Aqui começa a seção do footer */


.footer-icons, .footer-links, .footer-payment-types {
    margin-top: 35px;
    padding: 15px;
    font-size: 20px;
    color: white;
}
.footer-links a, .footer-links a:hover, .footer-links a:visited, .footer-links a:active {
    text-decoration: none;
    color: white;
}
.footer-icons {
    margin-top: 105px;
}
.custom-row {
    flex: 0 0 50%;
    display: flex;
}
.footer-payment-types .custom-row img {
    width: 70%;
    padding: 5px 5px;
}
i.fa.fa-instagram, 
i.fa.fa-facebook-f, 
i.fa.fa-whatsapp, 
i.fa.fa-youtube, 
i.fa.fa-google-plus, i.fa.fa-skype {
    font-size: 28px;
    padding: 11px 17px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background: white;
    border-radius: 44px;
    color: #848484;
}
i.fa.fa-whatsapp,
i.fa.fa-youtube,
i.fa.fa-skype {
    padding-left: 14px;
}
i.fa.fa-google-plus {
    padding-left: 10px;
}
.wpb_column.column_container.col-md-3:nth-child(1) {
    width: 18%;
}
.wpb_column.column_container.col-md-3:nth-child(2) {
    width: 24%;
}
.wpb_column.column_container.col-md-3:nth-child(4) {
    margin-left: 18px;
}
.footer-row {
    font-size: 17px;
    color: white;
}
i.fa.fa-envelope, i.fa.fa-link {
    font-size: 30px;
    margin-right: 10px;
}
.mailchimp {
    display: none;
}
#main-footer {
    padding-bottom: 0px !important;
}

/* seção para a página partners */

.page-id-8349 .banner {
    display: none;
}

.partners-photos img {
    width: 20%;
}

/* seção para a página about-us */

.page-id-8028 .banner {
    display: none;
}

/* seção da pagina /testimonial */

.page-id-8370 .banner {
    display: none;
}


/* seção media */
#mobile-row{
    display: none;
}

@media(max-width: 1024px){
    i.fa.fa-instagram, i.fa.fa-facebook-f, i.fa.fa-whatsapp, i.fa.fa-youtube, i.fa.fa-google-plus, i.fa.fa-skype {
        font-size: 20px !important;
        padding: 10px 13px !important;
        height: 40px !important;
        width: 40px !important;
    }
    i.fa.fa-google-plus {
        padding-left: 9px !important;
    }
    i.fa.fa-whatsapp, i.fa.fa-youtube, i.fa.fa-skype {
        padding-left: 11px !important;
    }
}

@media(max-width: 425px){
    #mobile-row{
        display: block;
    }
    .wpb_column.column_container.col-md-3:nth-child(3),
    .wpb_column.column_container.col-md-3:nth-child(4) {
        display: none;
    }
    .wpb_images_carousel.wpb_content_element.vc_clearfix {
        height: 200px;
    }
    img.attachment-full {
        width: 100%;
        height: 200px;
    }
    #header .header .header-left .logo img {
        height: 40px;
    }
    #footer-row .container .row {
        display: flex;
    }
    .footer-mobile-payment-types .custom-row img {
        width: 20%;
        padding: 5px 5px;
    }
    .footer-payment-types .custom-row img {
        width: 50%;
        padding: 5px 5px;
    }
    #mobile-row .container {
        max-width: 425px;
    }
    #mobile-row .footer-icons {
        margin-top: 0px;
        margin-left: 50px;
        margin-bottom: 40px;
    }
    .wpb_column.column_container.col-md-3:nth-child(1), 
    .wpb_column.column_container.col-md-3:nth-child(2) {
        width: unset !important;
    }
    div#footer-row {
        height: 240px;
    }
    i.fa.fa-envelope, i.fa.fa-link {
        font-size: 18px;
        margin-right: 10px;
    }
    .footer-row {
        font-size: 14px;
    }
    .search-result-page .tour-search-form-home {
        width: unset !important;
    }
    .footer-payment-types {
        margin-top: 100px;
    }
}