/* 
==========================
  here starts the loose CSS within blocks
========================== 
*/

.block-customer-login .form-login .field.password {
	margin: 0 0 20px !important;
}

.block-customer-login .field.email.required {
	margin: 0 0 20px !important;
}

button#send2 {
	width: 147px;
	margin-top: 0px;
}

.form-login .g-recaptcha {
	margin-top: 20px;
}

.block-new-customer .block-content .actions-toolbar {
	margin-top: 90px;
}

.block-customer-login .fieldset:last-child {
	margin-bottom: 0px !important;
}

@media(min-width: 769px) {
	.category-info .page-title-wrapper {
		display: none;
	}
}


/* 
==========================
  loose CSS from public-sector-menu
========================== 
*/

@media (max-width: 1024px) {
	body .page_full.intermediary_full .page_container .banner_internal_page {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	body .page_full.intermediary_full .page_container .banner_internal_page .widget {
		padding: 0;
		max-width: 100%;
	}
	body .page_full.intermediary_full .page_container .banner_internal_page .banner_slide {
		margin: 0 !important;
		padding-bottom: 20px;
	}
	body .page_full.intermediary_full .page_container .internal_text p {
		text-align: justify;
	}
}

.box_products_full .box_product .product_info .product_title span {
	font-family: 'Raleway';
}


/* 
==========================
  loose CSS from newsonco-footer-links
========================== 
*/

@media (max-width: 732px) {
	body .footer.content .footer_full .box_full .box_footer {
		width: 36.33%;
		padding: 0 !important;
	}
	body .footer.content .footer_full {
		padding: 20px 12px 40px !important;
	}
	.desktop-footer {
		display: none;
	}
	.mobile-adjust-footer {
		margin-top: 36px;
	}
}

@media(min-width: 733px) {
	.mobile-footer {
		display: none;
	}
}

.text-center {
	text-align: center;
}

.copy-footer {
	margin-top: 18px;
	font-size: 13px;
	margin-bottom: -36px;
	color: black;
}

body .footer.content .footer_full .box_full .box_footer ul.box_links li a.link_item {
	font-size: 12px !important;
	font-family: Camber-Rg;
}

@media (max-width: 768px) {
	#topratedlocal-widget {
		display: none;
	}
}

/* 
==========================
  loose CSS from about-us
========================== 
*/

body .full_home .banner_home_full .bx-controls {
	height: auto !important;
}

body .full_home .banner_home_full .bx-controls .bx-controls-direction {
	top: 145px;
}

@media (max-width: 374px) {
	body .full_home .banner_home_full .bx-controls .bx-controls-direction {
		top: 3em;
	}
}

@media (min-width: 375px) and (max-width: 467px) {
	body .full_home .banner_home_full .bx-controls .bx-controls-direction {
		top: 4em;
	}
}

@media (min-width: 468px) and (max-width: 770px) {
	body .full_home .banner_home_full .bx-controls .bx-controls-direction {
		top: 10em;
	}
}