.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1058px;
  }
}
body.catalog-category-view .page-wrapper .page-main .columns .column.main .products.products-grid .products.product-items .product-item .product-item-info .product-item-details .product-item-name .product-item-link {
    height: 40px !important;
}
body .footer.content .footer_full .box_full .box_footer ul.box_links li a.link_item i.fa.fa-phone:before {font-size: 14px;color: #000;}
body.catalog-product-view .page-wrapper .page-main .columns .product.info.detailed .product.data.items>.item.content {
    padding: 20px 0;
}
.item span.price-label {
    display: none;
}

.item .minimal-price-link span.price-label {
    display: inline-block;
}
.checkout-index-index .opc-wrapper.layout-3-columns.am-opc-wrapper.am-submit-summary {
    width: 100%;
    margin: 0 !important;
    max-width: 100%;
}
.checkout-index-index .menu-pages, 
.checkout-index-index #bt-departaments,
.checkout-index-index  .block-search,
.checkout-index-index  .price-match,
.checkout-index-index  .top-container,
.checkout-index-index .options-menu-sonco,
.checkout-index-index .inserthere-quotecart
 {
    display: none !important;
}
.checkout-index-index .menu-sonco{
  min-height: 110px !important;
      margin-top: -32px;
}
.checkout-index-index .menu-fixo
{
  margin-top: 0px;
  min-height: 68px !important;
}

.checkout-index-index a.logo {
    height: 50px;
}

body.checkout-index-index header.page-header .header.content .logo img {
    top: -10px !important;
}

.checkout-index-index button.action.primary.checkout.amasty {
    width: 100% !important;
}
.checkout-index-index aside.modal-custom.authentication-dropdown.custom-slide._show {
    width: 450px !important;
    left: -42px;
}
.checkout-index-index .block-content form {
    top: 0px;
    left: 0px;
}
.checkout-index-index #checkout.am-checkout {
    background: #fff !important;
}

/*** PRODUCT PAGE ****/
.description_video h2 {
    font-size: 32px;
    color: #444;
    font-weight: bold;
    margin-bottom: 35px;
}

.description_video p {
    line-height: 1.52;
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
    text-align: justify;
}

.description_video {
    margin-bottom: 50px;
}

.description_video .dv_video iframe {
    max-width: 100%;
}

.description_video .dv_content {
    margin-bottom: 35px;
}

.description_image_text {
    margin-bottom: 50px;
    padding-top: 17px;
    clear: both;
}

.description_image_text .dit_content {
    float: left;
    width: 54%;
}

.description_image_text .dit_image_right {
    float: right;
    width: 45%;
}

.description_image_text h3 {
    font-size: 23px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}

.description_image_text p {
    font-size: 15px;
    color: #444;
    text-align: justify;
}

.divisor_line {
    clear: both;
    border-bottom: 1px solid #c2c2c2;
    margin: 25px 0;
    display: block;
    padding: 25px 0 0;
}

.product-add-form.download-specs {
    padding: 0;
}

.download-specs ul li.dowload-especification-btn {
    margin-top: 0px !important;
}

.product-add-form .product-options-wrapper .field:not(.date) > .control {
    width: 100%;
}

.file_input_button, .file_input_button_hover {
    background: #508521;
    border-color: #508521;
}
/**** END PRODUCT PAGE ****/
@media(min-width:1000px)
{
.block-content form {
        left: 0px !important;

	}
}
.just-one-unit.product-item-inner,.just-two-unit.product-item-inner
{
	position: relative !important;
}
.just-one-unit.product-item-inner .price-box span.aitoc-puq-units
{
    position: absolute;
    right: left;
    top: 14px;
    left: 87px;
    font-size: 13px;
}
.just-two-unit.product-item-inner .price-box span.aitoc-puq-units
{
    position: absolute;
    right: left;
    top: 3px;
    font-size: 13px;
    left: 71px;

}
.just-two-unit.product-item-inner .price-box a span.aitoc-puq-units

{   
    position: absolute !important;
    right: left !important;
    top: 27px !important;
    font-size: 11px;
    left: 89px !important;
}
body.catalog-product-view .page-wrapper .page-main .columns .product-info-main .product-price-after {

    height: 54px !important;
    padding: 4px 0px 0px !important;

    }
</style>
<style>
@media(max-width: 1000px)
{
  .cd-2
  {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
.search-new-menu
{
  background: white;
  width: 100%;


}
#algolia-glass-newmenu
{
     position: absolute;
    bottom: 21px;
    z-index: 200;
    width: 20px;
    height: 20px;
    display: block;
    right: 65px;
}

.new-menu-input
{
    border: none !important;
    background: #eaeaea !important;
    height: 0px;
    width: 100% !important;
    background-image: none !important;
    outline: none !important;
    padding: 0px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    border-radius: 6px !important;
    color: #000 !important;
    transition: .3s ease-out !important;
    -webkit-appearance: none !important;
    padding-right: 50px !important;
}
.span-new-menu
 {

  }
.search-new-menu
{
  height: 0px;
  transition-duration: 1.5s;
}

.search-new-menu input
{
  height: 0px;
  transition-duration: 1s;
}
.search-new-menu .sentForm_newhome
{
    height: 0px;
}
.search-new-menu.new-height-search
{
    height: 87px;
    padding: 20px;
}
.search-new-menu.new-height-search input
{
    height: 50px;
        padding: 14px;
}
.search-new-menu.new-height-search .sentForm_newhome
{
    height: 20px !important;
}
.search-new-menu.new-height-search .content-search-menu
{
  display: block;
}
.register-topo
{
  background: #1d3055;
    padding: 6px;
  color: white;
}
.subcontent-menu.closed-newmenu
{
  display: none;
}
.content-menu-mobile.aberto-sub .main-conteudo-menu
{
  display: none;
}
.lista_menu_mobile .w-100
{
  text-align: left;
  color:#1d3055;
padding: 9px 22px;

}
.content-menu-mobile .backtomain-conteudo
{
  display: none;

}
.content-menu-mobile.aberto-sub .backtomain-conteudo
{
  display: block;
  position: relative;
}
.content-menu-mobile .register-content
{
  padding: 15px 22px;
  text-align: center;
}
.content-menu-mobile .backtomain-conteudo
{
text-align: left;
    padding: 15px 22px;
    padding-top: 22px;
    padding-left: 48px;
    font-size: 14px;
}
.content-menu-mobile.aberto-sub .register-content
{
  display: none;
}
.button-register
{
      padding: 0;
    line-height: 32px;
    color: #000;
      color: #fff;
    background-color: #ebae1f;
    border: 1px solid #ebae1f;
    font-weight: 700;
    transition: .3s ease-out;
    letter-spacing: .29px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 9px 14px;
    width: 97%;
    font-size: 14px;
    line-height: 22px;
    border: none;
    border-radius: 6px;
}
.content-menu-mobile .number-menu
{

   
    text-align: left;
    color:  white;
    padding: 15px 22px;
    position: relative;
    margin-top: 10px;
    min-height: 71px;
}
.number-menu .first-contact-us
{
  float: left;
}
.number-menu .second-contact-us
{
  float: right;
}
li.main-option-menu::before {
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    color: #848ea2;
    font-size: 15px;
    padding-top: 5px;
    position: absolute;
    font-weight: normal;
    right: 20px;
}
.withsubmenu .w-100::before
{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    color: #848ea2;
    font-size: 15px;
    padding-top: 5px;
    position: absolute;
    font-weight: normal;
    right: 20px;
}
.w-100.register-topo.backtomain-conteudo::before {
    content: "\f053";
    font: normal normal normal 14px/1 FontAwesome;
    color: #848ea2;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    left: 18px;
    top: 25px;
}


.header_top
{
  height: 75px;
  background-color: white;
  padding-top: 0.6em;
}




ul.menu_topo
{
      float: left;
    display: inline-flex;
    list-style: none;

    font-family: Baloo;
    margin-top: 1em;
}
ul.menu_topo li
{
    padding-left: 30px;
    font-size: 15px;
    padding-top: 0.3em;
    color: #2c3e50;
}
ul.submenu_topo
{
      float: left;
    display: inline-flex;
    list-style: none;
    margin-top: 0.5em;
}
ul.submenu_topo li
{
    padding-left: 30px;
    color: #2c3e50;
    font-size: 15px;
    padding-top: 0.3em;
}

ul.icons_menu
{

    display: inline-flex;
    list-style: none;
    margin-top: 1em;
    position: absolute;
    right: 0;
}
ul.icons_menu li
{

    display: inline-flex;
    list-style: none;
    padding-left: 27px;

}ul.icons_menu li img
{
  cursor: pointer;

}


ul.menu_topo li span
{
    cursor: pointer;
  
}
ul.submenu_topo li span
{
    cursor: pointer;
  
}
@media(max-width: 998px)
{
    .desktop-menu
  {
    display: none !important;
  }
  .header_top
  {
    height: 0px !important;
  }

  .menuMobile-new
  {
    padding: 0;
    left: 0;
    background: white;
    margin-top: 0px;
    -webkit-transition: left .3s;
    max-width: 320px;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    position: fixed;
    z-index: 99;
    top: 90px;
    width: 83%;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
  }
  .menuMobile-new.menuClosed
  {
    left: -100%;
  }
  .menuMobile-new ul
  {
        list-style: none none;
        padding: 0;
        margin: 0;

  }

  .menuMobile-new ul.lista_menu_mobile
  {
          color: white;
  }
  .menuMobile-new ul.lista_menu_mobile li.main-option-menu:nth-child(1)
  {
    border-top: 1px solid #1d3055;

  }
  .menuMobile-new ul.lista_menu_mobile li
  {
    border-bottom: 1px solid #1d3055;
    font-size: 1.6rem;
    text-align: left;
    padding: 15px 22px;
  }
  .menuMobile-new ul.sublista_menu_mobile li
  {
    text-align: left;
    padding: 6px;
  }
  .menuMobile-new ul.sublista_menu_mobile
  {
    border-bottom:  1px solid #d1d1d1;
  }
  .menuMobile-new ul li span
  {
    
    color: #1d3055;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    width: initial;
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: initial;
    transform: initial;
  }
    .nav-toggle_newhome {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        top: 15px;
    }
    .nav-toggle_newhome::before {
        -webkit-font-smoothing: antialiased;
        font-size: 28px;
        line-height: inherit;
        color: #8f8f8f;
        content: '\e609';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

}

@media(min-width: 999px)
{
    .mobile-menu
  {
    display: none !important;
  }

}
@media(max-width: 767px)
{

  .desktop
  {
    display: none !important;
  }
  .adjustfeatured
  {
    width: 82%;
  }
}
@media(min-width: 768px)
{ 
  .mobile
  {
    display: none !important;
  }
  .custompaddingblog
  {
    padding-right: 0px !important;
  }

}

.blog_2
{
  width: 100%;
}



.textaftericons
{
  width: 55%;
  margin: 0 auto;
}
.read-moretext
{
    color: red;

}
.read-moretext-menu
{
    position: absolute;
    bottom: 16px;
    left: 87px;
    color: red;
}
               	.menu-new-mobile
               	{
               		background: white;
               	}

               	.sentForm_newhome
               	{
                         		position: absolute;
          				    bottom: 21px;
          				    right: 7px;
          				    width: 20px;
          				    height: 20px;
          				    display: block;
          				    top: 9px;
          				    right: 18px;
               	}
            .showcart_icon{
                height: 30px;
                width: 30px;
                font-size: 18px;
                line-height: 30px;
                margin: 0;
                position: absolute;
                color: #ff1d2f;
                top: -5px;
                border-radius: 100%;
                right: -7px;
                text-align: center;
          }
          .showcart_icon::before
          {
                -webkit-font-smoothing: antialiased;
                font-size: 22px;
                line-height: 28px;
                color: #ff1d2f;
                content: '\e611';
                font-family: 'luma-icons';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
          }
                    
          .span-new-menu::before
          {
            color: #ff1d2f !important;

          }
          .openMobileMenu
          {
              text-decoration: none;
              cursor: pointer;
              display: block;
              font-size: 0;
              left: 34px;
              z-index: 14;
              top: 13px !important;
              margin-left: 13px;
          }
          .openMobileMenu::before
          {
              -webkit-font-smoothing: antialiased;
              font-size: 28px;
              line-height: inherit;
              color: #ff1d2f !important;
              content: '\e609';
              font-family: 'luma-icons';
              vertical-align: middle;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
          }
          .logo-mobile
          {
              width: 100%;
              text-align: center;
          }
          .tel_foneicon
          {
             
                z-index: 200 !important;
                width: 20px !important;
                height: 20px !important;
                /* left: 45px; */
                    transform: rotate(365deg) !important;
                display: block !important;
                float: right;
                margin-top: -31px;
                margin-right: 18px;
                position: absolute;
                right: -12px;
          }
         
          .tel_foneicon::before
          {
           content: "\f095";
          font: normal normal normal 14px/1 FontAwesome;
             color: #ed3833;
          font-size: 22px;
          }
           .quote_icon
          {
                position: absolute;
                z-index: 200;
                width: 20px;
                height: 20px;
                right: 30px;
                display: block;
                top: 0px;
          }
         
          .quote_icon::before
          {
                 content: "\f1ec";
                font: normal normal normal 14px/1 FontAwesome;
                color: #ed3833;
                font-size: 22px;
          }
          .sublista_menu_mobile div.w-100
          {
                text-align: left;
                color: white;
               padding: 9px 22px;
          }
          .sublista_menu_mobile a
          {
            color: white !important;
          }
          .icons-content-right
          {
            float: right;
            position: relative;
          }
       
@media(min-width: 999px)
{
    .mobile-menu
  {
    display: none !important;
  }

}
#algolia-glass
{
    position: absolute;
    bottom: 21px;
    z-index: 200;
    width: 20px;
    height: 20px;
    display: block;
    top: 7px !important;
    right: 10px;
}
#algolia-glass::before {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    font-size: 22px;
}
@media(max-width: 1159px) and (min-width: 988px )

{
  .aitoc-puq-units
  {
    display: none;
  }
}
span.tel-menu
{
  font-size: 19px;
}
.image-tel-menu
{
    position: absolute;
    right: 67px;
    top: 25px;
}



  
           

                .sentForm_newhome
                {
                            position: absolute;
                      bottom: 21px;
                      right: 7px;
                      width: 20px;
                      height: 20px;
                      display: block;
                      top: 9px;
                      right: 18px;
                }
            .showcart_icon{
                height: 30px;
                width: 30px;
                font-size: 18px;
                line-height: 30px;
                margin: 0;
                position: absolute;
                color: #ff1d2f;
                top: -5px;
                border-radius: 100%;
                right: -7px;
                text-align: center;
          }
          .showcart_icon::before
          {
                -webkit-font-smoothing: antialiased;
                font-size: 22px;
                line-height: 28px;
                color: #ff1d2f;
                content: '\e611';
                font-family: 'luma-icons';
                margin: 0;
                vertical-align: top;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
          }
                    
          .span-new-menu::before
          {
            color: #ff1d2f !important;

          }
  
          .openMobileMenu::before
          {
              -webkit-font-smoothing: antialiased;
              font-size: 28px;
              line-height: inherit;
              color: #ff1d2f !important;
              content: '\e609';
              font-family: 'luma-icons';
              vertical-align: middle;
              display: inline-block;
              font-weight: normal;
              overflow: hidden;
              speak: none;
              text-align: center;
          }
        
         
          .tel_foneicon::before
          {
           content: "\f095";
          font: normal normal normal 14px/1 FontAwesome;
             color: #ed3833;
          font-size: 22px;
          }
           .quote_icon
          {
                position: absolute;
                z-index: 200;
                width: 20px;
                height: 20px;
                right: 30px;
                display: block;
                top: 0px;
          }
         
          .quote_icon::before
          {
                 content: "\f1ec";
                font: normal normal normal 14px/1 FontAwesome;
                color: #ed3833;
                font-size: 22px;
          }
          .sublista_menu_mobile div.w-100
          {
                text-align: left;
                color: #1d3055;
               padding: 9px 22px;
          }
          .icons-content-right
          {
            float: right;
            position: relative;
                margin-top: -43px;
          }
         
.form-serch-menu-mobile
{
  margin-bottom: 15px;
}
#search_mini_form
{
  position: relative;
}
.redes-sociais span
{
  margin-left: 8px;
}
.promotion.mobile-top-bar
{
  /*display: none !important;*/
}
@media(min-width: 801px)
{
  .form-serch-menu-mobile
  {
    display: none !important;
  }
}

@media(max-width: 800px)
{
  body .request-a-quote-btn
  {
    width: 58% !important;
  }
}
.counter.qty span.counter-label
{
  display: none !important;
}
.espacamento-padrao
{
  margin-top: 52px;
}
.category-info .page-title span.base
{
    font-family: Camber-Sb !important;
    font-size: 30px;
}
.internal-page__item img, .internal-page__item figure {
    height: 100% !important;
}
.ba-slider
{
  border: 2px solid #808285;
}
span.counter-number
{
  color: #032e5a !important;
}
.price-container span.price-label
{
  margin-right: 3px;

}
.filter-options-title {
    padding-left: 0px !important;
}
.desktop
{
  margin-bottom: 40px;
}
@media(min-width: 800px)
{
  /*.category-info
  {
    margin-top: -17px !important;
  }*/
}
.swatch-option.text
{

    padding: 0px 12px 2px 4px !important; 
}
.newsletter-container
{
  margin-top: 35px;
}
.just-one-unit.amount-three-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 61px !important;
}

.just-one-unit.amount-two-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 52px !important;
}
.just-one-unit.amount-nine-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 76px !important;
}

.just-one-unit.amount-four-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 44px !important;
}



.just-two-unit.amount-three-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 61px !important;
}
.just-two-unit.amount-three-aitoc.product-item-inner .price-box a span.aitoc-puq-units
{
  left: 95px !important;
}



.just-two-unit.amount-two-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 52px !important;
}
.just-two-unit.amount-two-aitoc.product-item-inner .price-box a span.aitoc-puq-units
{
  left: 91px !important;
}



.just-two-unit.amount-nine-aitoc.product-item-inner .price-box span.aitoc-puq-units
{
  left: 76px !important;
}
.slider-category.slider-controls
{
  z-index: 90 !important;
}


#block-customer-login-heading, #block-new-customer-heading
{
  font-family: Camber-Sb !important;
  font-size: 27px !important;
  color: #1d2b5a !important;
}
.fieldset.login .field.note,.block.block-new-customer p
{
  font-family: Camber-Rg !important;
  font-size: 20px !important;
  color: #1d2b5a !important;
}
.modal-popup
{
    z-index: 90000000 !important;
}
.modals-overlay
{
  z-index: 80000000 !important;
}
body .newsletter-container .subscribe h5
{
      font-family: Camber-rg !important; 
}
body .newsletter-container .block.newsletter .content .form.subscribe .field.newsletter .control .action.primary
{
      font-family: Camber-Rg;
}
body .newsletter-container .block.newsletter .content .special-financing h6
{
  font-family: Camber-Rg;
}
body .newsletter-container .block.newsletter .content .special-financing a
{
  font-family: Camber-Rg;
}
.mapWrap
{
      background: #f0f1f1 !important;
}
#soncoMap .jvectormap-container {
    background: #f0f1f1 !important;
}
.hqWrap h3, .hqWrap h3 strong,
{
  font-family: Camber-Rg !important; 
}
.cms-locations em.fa.fa-phone
{
  margin-left: 0px !important;
}

.block-new-customer .action.create.primary,
.fieldset.login button.action.login
{
      border: none !important;
    background: #ff1e2f !important;
    font-family: Camber-Rg;
}
/* 
==========================
  here starts the loose CSS within blocks
========================== 
*/

.block-customer-login .form-login .field.password {
  margin: 0 0 20px !important;
}
.block-customer-login .field.email.required {
  margin: 0 0 20px !important;
}
button#send2 {
  width: 147px;
margin-top: 0px;
}
.form-login .g-recaptcha {
  margin-top: 20px;
}
.block-new-customer .block-content .actions-toolbar {
  margin-top: 90px;
}
.block-customer-login .fieldset:last-child{
margin-bottom: 0px !important;
}
@media(min-width: 769px){
  .category-info .page-title-wrapper {
      display: none;
  }
}

/* 
==========================
  loose CSS from public-sector-menu
========================== 
*/

@media (max-width: 1024px) {
  body .page_full.intermediary_full .page_container .banner_internal_page {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  body .page_full.intermediary_full .page_container .banner_internal_page .widget {
    padding: 0;
    max-width: 100%;
  }

  body .page_full.intermediary_full .page_container .banner_internal_page .banner_slide {
    margin: 0 !important;
    padding-bottom: 20px;
  }

  body .page_full.intermediary_full .page_container .internal_text p {
    text-align: justify;
  }
}
.box_products_full .box_product .product_info .product_title span {
  font-family: 'Raleway';
}

/* 
==========================
  loose CSS from newsonco-footer-links
========================== 
*/

@media (max-width: 732px){
  body .footer.content .footer_full .box_full .box_footer {
      width: 36.33%;
      padding: 0 !important;
  }
  body .footer.content .footer_full {

      padding: 20px 12px 40px !important;
  }
  .desktop-footer
  {
      display: none;
  }
  .mobile-adjust-footer
  {
          margin-top: 36px;
  }
}
@media(min-width: 733px){
  .mobile-footer{
      display: none;
  }
}
.text-center
{
  text-align: center;
}
.copy-footer
{
      margin-top: 18px;
      font-size: 13px;
      margin-bottom: -36px;
      color: black;
}
body .footer.content .footer_full .box_full .box_footer ul.box_links li a.link_item
{
      font-size:12px !important;
font-family: Camber-Rg;

}

@media (max-width: 768px) {
#topratedlocal-widget {
  display: none;
}    
}