.header-topbar {
    position: relative;
    background: #E79B75;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #fff;
    z-index: 9997;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: roboto;
}

li.menu-item.nb-destaque {
    font-family: 'Montserrat';
    color: #E79B75;
    font-weight: 700;
}

.header-menu .menu-item {
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.01em;
	cursor: pointer;
	color: var(--color-custom-07);
}

.header-menu .menu-item.active,
.header-menu .menu-item:hover {
	color: black;
}

.header-menu .menu-item.active:after,
.header-menu .menu-item:hover:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #E3DB5A;
}

li.menu-item.nb-destaque:hover {
    color: #E79B75;
}

.header-menu-container {
	height: 80px;
	display: flex;
	align-items: center;
	border-left: 1px solid var(--color-custom-05);
	background: #f7f7f9;
	z-index: 9997;
	max-width: 1240px;
}

.header-logo {
	flex-shrink: 0;
    padding-right: 62px;
    padding-left: 23px;
    height: 100%;
    padding-top: 22px;
    background: white;
}

.header-menu .menu-item:first-child {
	padding-left: 0px;
	margin-left: 0px;
}


.menu-list {
	list-style: none;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.menu-list li {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
	white-space: nowrap;
}


.header-logo img.logo {
	min-width: 120px;
}

.header-logo img.menu {
	cursor: pointer;
	min-width: 28px;
}

.header-menu-user {
	margin-left: 12px;
	background: var(--color-custom-a);
	padding: 20px 0px;
	width: 240px;
	height: 100%;
}

.header-menu .nav-menu .menu-item:last-child {
    margin-right: 38px;
}

.header-menu-container:after {
	content: '';
	display: block;
	position: absolute;
	top: 39px;
	right: 0px;
	width: 30%;
	height: 85px;
	background: var(--color-custom-a);
	z-index: -1;
}

#btn-search {
    margin-left: 25px;
}

.header-menu .menu-item:first-child {
    padding-left: 0px;
}

#btn-search {
    margin-left: 25px;
}

.header-menu-user .menu-list .menu-item {
    padding: 0px;
    display: flex;
    min-width: 20px !important;
}

.header-menu-user .menu-list #btn-search {
    margin-right: 43px;
}

.header-menu-user .menu-list .menu-item:nth-child(2) {
    margin-right: 42px;
}

.header-menu-user .menu-list .menu-item.icon-bag {
    margin-right: 39px;
}

.form-search {
	width: 255px;
	position: relative;
	margin-left: 13px;
	display: none;
}

.header-menu-user .search {
    width: 230px;
}

.btn-search {
	background: none;
    border: none;
    position: absolute;
    top: 49%;
    left: 7px;
    transform: translateY(-10px);
    cursor: pointer;
}

.container-submenu-list {
	width: 100%;
	max-width: 1240px;
	height: auto;
	background: #fff;
	padding: 20px 40px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header-menu .menu-item {
    margin: 0 auto;
    margin-right: 28px;
    margin-left: 0px;
}

.header-menu {
	height: 100%;
    border-bottom: solid 1px #D1D1D1;
}

.header-menu img.logo {
	width: 100%;
	min-width: 120px;
}

.nav-menu {
	/* width: 100vw; */
	width: unset;
	/* margin-left: -20px; */
	height: 100%;
	overflow-x: none;
	background: white;
}

.nb-submenu-first-line h2 {
    font-family: 'Barlow';
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E27C73;
    margin-top: 24px;
    margin-bottom: 0px;
}

.submenu-search .card-product {
    padding-top: 26px;
	padding-bottom: 41px;
	width: 297px;
}

.bl-gray {
	border-left: 1px solid #D1D1D1;
	margin-left: 53px;
    padding-left: 31px;
}

.nb-submenu-last-line a {
    margin: 0 auto;
    color: #586A6A;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat';
	font-size: 16px;
	display: flex;
	margin-bottom: 36px;
}

.nb-submenu-last-line {
    display: flex;
}

.nb-submenu-last-line img {
    height: 11px;
    width: 11px;
    margin-top: 3px;
    margin-right: 16px;
}

.container-submenu-search {
	width: 100%;
	max-width: 1240px;
	height: auto;
	background: #fff;
	padding: 20px 40px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 27px;
}

.list-products-search.wrapper.gap30 {
    display: flex;
}

.container-submenu-search .span9 {
    width: 920px;
}

.container-submenu-search .list li a {
	font-size: 16px;
	line-height: 20px;
	color: var(--color-custom-black400);
}

.title-submenu-search {
	font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 36px;
    margin-top: 24px;
    color: #E27C73;
}

.submenu-search .list {
	text-decoration: underline;
	max-width: 163px;
}
.submenu-list .btn {
    background: #E79B75;
    font-size: 23px;
    font-family: 'Barlow';
    font-weight: 700;
    padding: 0;
    height: 46px;
    width: 193px;
}

.submenu-search {
	display: none;
	width: 100%;
	position: absolute;
	top: 121px;
	left: 0px;
	z-index: 9999;
}

.submenu-search.active {
	display: block;
}

.submenu-search .list li {
	margin-bottom: 10px;
}

.submenu-search .list li a:hover {
	color: #000;
}

.form-search.active {
	display: block;
}

.form-search .input-form {
	width: 100%;
	margin-top: -10px;
	padding-left: 35px;
}

.header-logo-mobile {
	width: 100%;
    display: flex;
    align-items: center;
}

.header-logo-mobile div {
    margin: 0 auto;
    margin-top: 9px;
}

.nb-mobile-menu-bar {
    font-size: 30px;
}

.header-logo-mobile .logo {
    margin-top: 0px !important;
}

.menu-mobile {
	display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 0px;
    height: auto;
    top: 0;
    left: 0;
    z-index: 9995;
    overflow: hidden;
    transition: all .3s ease;
}

.menu-mobile.active {
    display: block;
    opacity: 1;
    width: 100%;
    visibility: visible;
    transition: all .3s ease;
}

.bcg-menu-mobile {
	background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container-menu-mobile {
	order: -1;
    height: 100vh;
    background: #fff;
    width: 300px;
    z-index: 9996;
    padding: 130px 20px 20px 20px;
    overflow-y: scroll;
}

.search-menu-mobile {
	border-bottom: 1px solid var(--color-custom-black100);
	padding-bottom: 20px;
}

.form-search-menu-mobile {
	position: relative;
}

.form-search-menu-mobile .input-form {
	padding-left: 35px;
}

.menu-list-mobile ul {
	list-style: none;
	margin: 0;
	padding: 20px 0px;
	border-bottom: 1px solid var(--color-custom-black100);
}

.menu-list-mobile ul li {
	cursor: pointer;
	padding: 10px 0px;
}

.menu-list-mobile ul li span {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-left: 0px;
}


.menu-list-mobile ul li.menu-item a img {
    transition: .3s all ease-in-out;
    width: 8px;
    height: 10px;
}

.menu-list-mobile ul li.menu-item a {
    text-decoration: unset;
    color: unset;
}

.menu-list-mobile ul li.menu-item.nb-flex img {
    transition: .3s all ease-in-out;
    width: 8px;
    height: 10px;
}

.submenu-list.active {
	display: block;
	top: 121px;
	left: 333px;
	width: unset;
}

.menu-list-mobile ul li:first-child .nb-flex span {
    margin: 0 auto;
    margin-left: 0px;
}

.menu-list-mobile ul li:first-child .nb-flex img {
    margin: 0 auto;
    margin-right: 0px;
}

.menu-list-mobile ul li:first-child .nb-flex {
    width: 100%;
}

.menu-list-mobile ul li.active img {
	transform: rotate(180deg);
}

.menu-list-mobile ul.user-menu-list-mobile li img {
	transform: rotate(0deg);
	padding-right: 0px;
	margin-right: 10px;
}

.user-menu-list-mobile .menu-item:first-child span img {
    margin-right: 7px;
}

.submenu-list-mobile {
	display: none;
	margin-left: 20px;
}

.submenu-list-mobile.active {
	display: block;
}

.list-subitens.list li {
    padding: 0px;
}


.header-logo-mobile .logo img {
	max-width: 95%;
}

.header-logo-mobile .label-cart {
	top: 10px;
}

.header-logo-mobile .icon-bag {
    margin-top: 2px;
}

.container-submenu-list.wrapper {
    grid-template-columns: repeat(10, 1fr) !important;
}

@media(max-width: 425px){
	.nb-container.header-menu-container {
		max-width: unset;
	}
}

@media (max-width: 600px) {
	.header-logo {
		width: 100vw;
		display: flex;
		justify-content: space-between;
		margin: 0 0 0 0;
	}
	.nav-menu {
		margin-left: -30px;
		padding: 10px;
	}
}

@media(max-width: 768px){
    .header-logo-mobile.show-only-small {
        display: flex !important;
    }
    .header-menu-user.hide-only-small {
        display: none;
    }
    .header-logo.hide-only-small{
        display: none;
	}
	.container.header-menu-container {
		position: relative;
		height: 60px;
	}
	.header-menu-user.hide-only-small {
		display: none !important;
	}
	.header-menu-container:after{
		display: none !important;
	}
}

@media(max-width: 1024px){
    .header-logo {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-menu .menu-item {
        margin-right: 15px;
    }
    .header-menu-user .menu-list #btn-search {
        margin-right: 25px;
        margin-left: 10px;
    }
    .header-menu-user .menu-list .menu-item:nth-child(2) {
        margin-right: 25px;
    }

    .header-menu-user .menu-list .menu-item.icon-bag {
        margin-right: 30px;
	}
	.header-menu .nav-menu .menu-item:last-child {
		margin-right: 15px;
	}
	.header-menu-user {
		width: unset !important;
	}
	
	.header-menu-user .search {
		width: unset !important;
	}
	
	.form-search {
		width: unset !important;
		margin-left: 0px;
	}
	.container-submenu-search .span9{
		width: unset;
	}
	.container-submenu-search .bl-gray {
		width: unset;
	}
}

@media (max-width: 1200px) {
	.header-logo img.menu {
		float: left;
		margin-left: -20px;
	}
	.header-menu-container:after {
		display: none;
	}
	.nav-menu {
		overflow-x: scroll;
	}
}