/* ================================
SHOW CATEGORY MENU ON HOVER
================================ */

/* .sc-top-nav__item--categories:hover .sc-menu  */
.sc-menu.ativo{
	visibility: visible;
	opacity: 1;
	transition: all .4s;
}

.sc-top-nav__span {
	color: #444;
	display: flex;
	font-size: 14px;
	align-items: center;
}

.sc-top-nav__span--bold {
    font-size: 16px;
    color: #fff;
    font-weight: unset;
    font-family: camber-medium;
}

.sc-top-nav__link,
.sc-top-nav__link:visited {
	z-index: 10;
	display: flex;
	position: relative;
	text-decoration: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}


/**************************************
  * MENU
  */
.sc-menu {
	top: 0px;
	z-index: 20;
	width: 1090px;
	height: 529px;
    margin-left: -17px;
	display: flex;
	overflow: hidden;
	position: absolute;
	background: #fff;
	border-radius: 0 20px 20px 20px;
	box-shadow: 16px 0 0px 9999px rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	/* transition: all .4s; */
}

.sc-menu-main__holder {
    margin-left: 17px;
    margin-top: 4px;
}

/*
  * MENU MAIN DIV
  */

.sc-menu-main {
    top: 0;
    left: 0;
    width: 256px;
    height: 100%;
    display: flex;
    position: absolute;
    background: #eee;
    flex-direction: column;
    border-radius: 0 20px 20px 20px;
    border-top-right-radius: unset;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 0px 20px 0px rgba(0,0,0,0.75);
}

.sc-menu-main__strong {
	height: 43px;
	display: flex;
	color: #00436d;
	padding-left: 15px;
	align-items: center;
}

.sc-menu-main__list {
	height: 100%;
	display: flex;
	overflow: hidden;
	list-style: none;
	flex-direction: column;
	justify-content: space-between;
}

.sc-menu-main__item {
    max-height: 94px;
	height: 100%;
	color: #666;
	display: flex;
	cursor: pointer;
	padding: 0 15px;
	font-size: 16px;
	align-items: center;
	flex-direction: row;
	transition: background 0.2s;
}

.sc-menu-main__item:hover {
	background: #e0e3e4;
	text-decoration: underline;
}

.sc-menu-main__item--active {
	background: #e0e3e4;
	text-decoration: underline;
}

/*.sc-menu-main__item::after {
	right: 0;
	font-size: 9px;
	content: "\f054";
	position: absolute;
	margin-right: 15px;
	font-family: fontAwesome;
}*/

.sc-menu-main__item--barricades:hover .sc-menu-sub--barricades,
.sc-menu-main__item--active .sc-menu-sub--barricades {
	display: flex;
}

.sc-menu-main__item--signs:hover .sc-menu-sub--signs,
.sc-menu-main__item--active .sc-menu-sub--signs {
	display: flex;
}

.sc-menu-main__item--fences:hover .sc-menu-sub--fences,
.sc-menu-main__item--active .sc-menu-sub--fences {
	display: flex;
}

.sc-menu-main__item--stanchions:hover .sc-menu-sub--stanchions,
.sc-menu-main__item--active .sc-menu-sub--stanchions {
	display: flex;
}

.sc-menu-main__item--traffic:hover .sc-menu-sub--traffic,
.sc-menu-main__item--active .sc-menu-sub--traffic {
	display: flex;
}

.sc-menu-main__icon {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 5px;
    font-size: 15px;
    position: relative;
}

.sc-menu-main__icon a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sc-menu-main__icon img {
	margin-right: 15px;
	width: 20px;
}

.sc-sonco-header-list path {
    fill: #909090 !important;
}

.sc-menu-main__icon .fa-chevron-right {
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 40%;
}

.sc-menu-main__icon .fa-chevron-right path {
    fill: #666 !important;
}

/*
  * MENU SUB DIVS
  */
.sc-menu-sub {
	width: 100%;
    display: flex;
    max-width: 265px;
	/* background: #fff; */
	flex-direction: column;
}
.sc-menu-main__item--traffic:hover {
    border-bottom-right-radius: 20px;
}

.sc-menu-sub--barricades,
.sc-menu-sub--signs,
.sc-menu-sub--fences,
.sc-menu-sub--stanchions,
.sc-menu-sub--traffic {
	top: 0;
	left: 256px;
	display: none;
	position: absolute;
	width: 834px;
    height: 100%;
}

.sc-menu-sub--traffic{
    width: 874px;
}

.sc-menu-sub--stanchions{
    width: 942px;
}


.sc-menu-sub__div {
	height: 100%;
	display: flex;
	padding-left: 30px;
	flex-direction: column;
}

.sc-menu-sub__div:not(:last-child) {
	padding-top: 13px;
}

.sc-menu-sub__list {
	list-style: none;
}

.sc-menu-sub__item {
    /* padding: 3px 0; */
    line-height: 25px;
}

.sc-menu-sub__image {
	width: 100%;
	height: 101%;
	object-fit: cover;
    background-color: blue;
}

.sc-menu-sub__strong {
    color: #6F6F6F;
    padding: 0;
    font-size: 15px;
    font-family: camber-semibold;
    line-height: 31px;
    letter-spacing: -0.2px;
}

.sc-comming-soon a, .sc-comming-soon li {
    cursor: default !important;
}
.sc-comming-soon a:hover, .sc-comming-soon li:hover {
    text-decoration: none !important;
    color:#6F6F6F !important;
}

.sc-menu-sub__link {
    flex: 1;
    font-size: 14px;
    color: #909090;
    position: relative;
    align-items: center;
    /*display: inline-block;*/
    text-decoration: none;
    letter-spacing: -0.02px;
    line-height: 31px;
}

.sc-menu-sub__link--new::after {
    color: #fff;
    content: "New";
    margin: 8px 5px;
    font-size: 10px;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FEA729;
    font-family: "camber-bold";
    line-height: 30px;
    height: 15px;
    width: 40px;
}

.sc-menu-sub__link--free-shipping::after {
    color: #fff;
    content: "Free Shipping";
    margin: 8px 5px;
    /*padding: 0 5px;*/
    font-size: 10px;
    width: 83px;
    height: 14px;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E62332;
    font-weight: 500;
    font-family: "camber-bold";
}

.sc-menu-sub__link--comming-soon::after {
    color: #fff;
    content: "Comming soon";
    margin: 3px 5px;
    /*padding: 0 5px;*/
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #07AC40;
    font-weight: 500;
    font-family: "camber-bold";
    width: 84px;
    height: 14px;
    font-size: 10px;
    line-height: 31px;
}

.sc-menu-sub__strong.sc-menu-sub__link--comming-soon::after,
.sc-menu-sub__strong.sc-menu-sub__link--new::after,
.sc-menu-sub__strong.sc-menu-sub__link--vip::after,
.sc-menu-sub__strong.sc-menu-sub__link--comming-soon::after {
    margin-top: 7px;
}

.sc-menu-sub__link--vip::after {
    color: #fff;
    content: "VIP";
    margin: 5px 5px;
    font-size: 10px;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    background-color: #0c0c0c;
    width: 40px;
    height: 14px;
    font-family: "camber-bold";
    line-height: 30px;
}

.sc-menu-sub__link--offers::after {
    color: #fff;
    content: "Offers End Soon";
    margin: 5px 5px;
    font-size: 10px;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    background-color: #2375E6;
    font-family: "camber-bold";
    height: 14px;
    width: 84px;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.sc-menu-main__item .icon-sc-ico-fence-solutions {
    margin-left: 16px;
    font-size: 20px;
    margin-right: 20px;
    width: 30px;
}

.sc-menu-main__icon .icon-sc-ico-custom-signs {
    margin-left: 21px;
    margin-right: 17px;
    font-size: 20px;
}

.sc-menu-main__list .icon-sc-ico-fence-solutions-1 {
    font-size: 20px;
    width: 36px;
    margin-left: 18px;
    margin-right: 12px;
}

.sc-menu-main__list .icon-sc-ico-stanchions {
    width: 37px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 8px;
}

.sc-menu-main__list .icon-sc-ico-traffic-safety {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 13px;
}

#sub-menu-list-plastic-barricades {
    padding-top: 17px;
}

div#sub-menu-list-stage-barriers {
    height: unset;
}

#sub-menu-list-watter-filled-barriers {
    padding-top: 45px;
}

#sub-menu-list-outdoor-displays {
    padding-top: 9px;
}

div#sub-menu-list-safety-signs {
    padding-top: 36px;
}

div#sub-menu-list-accessories {
    padding-top: 10px;
}

div#sub-menu-list-fence-gates {
    padding-top: 35px;
}

#sub-menu-list-customizing-options {
    padding-top: 19px;
    height: unset;
}

div#sub-menu-list-wall-mounts {
    padding-top: 15px;
    max-height: 135px;
}

div#sub-menu-list-retractable-belt-barriers {
    padding-bottom: 0px;
    height: unset;
}

div#sub-menu-list-stanchions-accessories {
    padding-top: 19px;
}

div#sub-menu-list-tradition-post-rope {
    height: unset;
}

div#sub-menu-list-storage-carts {
    padding-top: 22px;
}

div#sub-menu-list-tools-supplies {
    padding-top: 11px;
}

div#sub-menu-list-parking-safety {
    height: unset;
}

div#sub-menu-list-traffic-barriers {
    height: unset;
    padding-top: 19px;
}

div#sub-menu-list-roadway-safety {
    height: unset;
}

div#sub-menu-list-ppe-gear {
    padding-top: 25px;
}

/* .sc-menu-sub--traffic .sc-menu-sub__link--comming-soon::after {
    font-size: 10px;
    width: 90px;
    height: 15px;
} */

.sc-menu-sub--traffic {
    width: 1069px;
}


/* ===========================
shop by application
=========================== */

li.sc-top-nav__item.sc-top-nav__item--shopby {
    position: relative;
}

#sc-applications-menu .sc-flex {
    background: #fff;
}

#sc-applications-menu {
    position: absolute;
    top: 38px;
    /* padding-top: 41px; */
    left: -25px;
    width: 948px;
    height: 516px;
    background: #ffffff00;
    border-radius: 21px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    box-shadow: 16px 0 0px 9999px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.sc-shop-by-application-image-holder img {
    height: 258px;
}

.sc-shop-by-application-block {
    position: relative;
    /* border: 1px solid #565656; */
    width: 316px;
    /* overflow: hidden; */
    height: 258px;
}

.sc-shop-by-application-overtext {
    background-color: #021c36d6;
    width: 316px;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    /* transition: all .5s ease; */
}

.sc-shop-by-application-overtext p {
    font-family: camber-bold;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 115px;
}

.sc-shop-by-application-block a:hover .sc-shop-by-application-overtext {
    opacity: 0;
    transition: all .4s ease;
}

.sc-shop-by-application-image-holder {
    width: 316px;
}

.sc-application-menu-header {
    background: #ffffff;
    height: 55px;
    width: 100%;
    z-index: 100;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    padding-left: 26px;
    padding-top: 5px;
}

#sc-applications-menu .sc-top-nav__span {
    font-size: 14px;
    font-family: camber-regular;
    color: #444;
}

#sc-applications-menu .sc-top-nav__span.sc-top-nav__span--bold {
    font-size: 17px;
    color: #004770;
    font-weight: bold;
    font-family: camber-regular;
}

/* li.sc-top-nav__item--shopby:hover #sc-applications-menu  */
.ativo #sc-applications-menu
{
    opacity: 1 !important;
    transition: opacity .4s ease;
    visibility: visible;
}

#sc-why-sonco-menu, #sc-support-menu,
#sc-resources-menu,#sc-reopen-menu{
    visibility: hidden;
    display: none;
}

/* ========================
resto dos menu basicos
======================== */

#sc-why-sonco-menu, #sc-support-menu,
#sc-resources-menu,#sc-reopen-menu{
    visibility: hidden;
    display: none;
}

/* .sc-top-nav__item--why-sonco:hover #sc-why-sonco-menu,
.sc-top-nav__item--support:hover #sc-support-menu,
.sc-top-nav__item--resources:hover #sc-resources-menu,
.sc-top-nav__item--reopen:hover #sc-reopen-menu {
    position: absolute;
    top: 0px;
    margin-left: -10px;
    width: 240px;
    box-shadow: 177px 1976px 0px 121.2em rgba(0, 0, 0, 0.6);
    padding-top: 40px;
    z-index: 10;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
} */

.sc-item-especifit:hover .sc-items-menu-nav {
    position: absolute;
    top: 0px;
    margin-left: -10px;
    width: 240px;
    box-shadow: 16px 0 0px 9999px rgba(0, 0, 0, 0.6);
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    z-index: 47;
}

.ativo-menu-items {
    display: block !important;
    visibility: visible !important;
}

.sc-sonco-header-list {
    background: #fff;
    list-style: none;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.sc-sonco-header-list li {
    font-size: 15px;
    font-family: camber-regular;
    line-height: 30px;
    color: rgb(102, 102, 102) ;
}

.sc-sonco-header-list li a {
    text-decoration: none;
    color: unset;
    text-transform: capitalize;
}

.sc-sonco-header-list span {
    padding-left: 15px;
    padding-right: 3px;
}

.sc-sonco-header-list li:first-child {
    padding-top: 18px;
}

.sc-sonco-header-list li:last-child {
    padding-bottom: 21px;
}

.sc-sonco-header-list li:hover {
    color: #0093FF;
    text-decoration: underline;
    cursor: pointer;
}

/* ================================
for menu mobile
================================ */

.sc-top-nav.ismobile li,
.sc-submenu-two-list li {
    flex-flow: row;
    width: 100%;
    justify-content: flex-start;
    padding: 0 20px;
    align-items: center;
    height: 50px;
    z-index: 11;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.sc-submenu-two-list li  {
    padding-top: 14px;
    padding-bottom: 14px;
}

.sc-top-nav__subitem {
    justify-content: space-between !important;
}

.sc-top-nav__subitem.sc-top-nav__getback {
    justify-content: flex-start !important;
}

.sc-submenu-two-list {
    flex-flow: column;
    width: 100%;
    overflow-y: auto;
}

.sc-top-nav__subitem .fa-chevron-right path {
    fill: #fff !important;
}

@media (max-width: 1024px) {
    .sc-top-nav__subitem {
        margin: unset !important;
    }

    .sc-safari .sc-search {
        width: 95% !important;
    }

    .sc-header-calc-cart__calculator span,
    .sc-header-calc-cart__cart span {
        margin-right: -5px;
        padding: 3px 7px !important;
    }

    .sc-header-calc-cart__calculator {
        flex-flow: row-reverse;
    }
}

/*.sc-top-nav.ismobile.firstmenu li::after {
    content: "\f078";
    font-family: fontAwesome;
    color: #fff;
    margin-left: 5px;
    transform: rotate(-90deg);
    position: absolute;
    right: 20px;
    font-size: 15px;
}*/

.sc-top-nav.ismobile.sc-submenu.sc-submenu-closed {
    display: none !important;
}

.sc-submenu-closed {
    display: none !important;
}

.sc-top-nav.ismobile.firstmenu.sc-submenu-closed {
    display: none !important;
}

.sc-top-nav__subitem a {
    text-decoration: none;
    color: unset;
}

.sc-top-nav__subitem {
    border-top: 1px solid #fff;
    margin: auto auto;
    display: flex;
}

.sc-top-nav .fa-chevron-left {
    margin-right: 10px;
}

.sc-menu-main__item a {
    text-decoration: none;
    color: unset;
}

.sc-menu-sub__link:hover,
.sc-menu-sub__strong a:hover {
    text-decoration: underline;
    color: #0093FF;
}

.sc-sonco-header-list svg.svg-inline--fa.fa-chevron-right.fa-w-10 {
    margin-left: 19px;
    margin-right: 5px;
}

/* ============================
parte do abou-us no top
============================ */

#sc-about-top {
    background:#032e5a;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    height: 0px;
    display: block;
    transition: all 1s ease;
}
#sc-about-top.active{
    height: 170px;
    transition: all 1s ease;
}

#sc-about-top .sc-about_box_full {
    display: table;
    margin: 34px auto 30px;
    max-width: 1280px;
    padding: 0 16px 0;
    box-sizing: border-box;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks {
    float: left;
    width: 40%;
    display: flex;
    align-items: flex-start;
}
#sc-about-top .sc-about_box_full .sc-about-description {
    padding-left: 20px;
    margin-left: 0;
    padding-right: 0;
    display: table;
    line-height: 17.27px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box {
    width: 25%;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box a {
    color: #fff;
    float: left;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box a .sc-about_img {
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box a .sc-box_text {
    text-align: left;
    margin: 0 auto;
    display: table;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box a .sc-about_img img {
    max-height: 100%;
    height: initial;
    float: left;
}
#sc-about-top .sc-about_box_full .sc-about-pagelinks .sc-about_box a .sc-box_text p {
    display: table;
    line-height: 18px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
#sc-about-top .sc-about_box_full .sc-about-description .sc-about-title {
    margin: 10px 0;
    color: #ff1d2f;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.sc-about-content {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.27px;
    text-align: justify;
}
.sc-about-description a {
    color: #fff;
}
/* 
==========================
   HEADER 
========================== 
*/
.sc-header {
	width: 100%;
	display: flex;
	position: relative;
	background: #032e5a;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.sc-header-banner {
    width: 100%;
    height: 36px;
    position: relative;
    background: #E4770B;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.sc-header-content {
	width: 100%;
	color: transparent;
	height: 113px;
	display: flex;
	flex-direction: column;
}

.sc-header-content-inner {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 7px 0px 0px 0px;
}

.sc-header-contact {
    color: #fff;
    width: 100%;
    /* display: flex; */
    font-size: 16px;
    padding-top: 7px;
    flex-direction: row;
    font-family: camber-semibold;
    justify-content: flex-end;
}

.sc-header-contact__phone {
	padding-right: 8px;
	border-right: 2px solid #fff;
    font-weight: normal;
    font-family: "camber-medium";
    font-size: 15px;
}

.sc-header-contact__about {
	padding-left: 8px;
    font-weight: normal;
    font-family: "camber-medium";
    font-size: 15px;
}

.sc-header-logos {
	display: flex;
	align-items: center;
}

.sc-header-logos--sonco {
    width: 148px;
    /*height: 78px;*/
    margin-right: 38px;
}

.sc-header-logos--est {
	/*width: 37px;*/
    height: 41px;
    margin-right: 35px;
}


/**************************************
  *   HEADER SEARCH
  */
.sc-search {
	width: 806px;
	display: flex;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	background-color: #fff;
    position: relative;
}

.sc-search__input {
    width: 100%;
    height: 33px;
    border: none;
    color: #333;
    padding: 0 10px;
    font-size: inherit;
    padding-right: -40px;
    font-family: inherit;
    background-color: #fff;
    border-radius: 30px;
    -webkit-appearance: none;
}

.sc-search__input:focus {
	outline: none;
}

/*.sc-search__icon::before {
	right: 10px;
	padding: 10px;
	font-size: 19px;
	position: relative;
    color: #DEDEDE;
}*/

.sc-search .fa-search {
    right: 13px;
	font-size: 19px;
	position: relative;
}

.sc-search .fa-search path {
	fill: #DEDEDE !important;
}

.sc-search-nav-found-products {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 99999;
    background: #fff;
    border-radius: 12px;
    padding: 10px 0;
    box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.2);
}
.sc-search-nav-found-products-cards {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
}
.sc-search-nav-found-products-cards:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #b8b8b8;
}
.sc-search-nav-found-products-cards img {
    width: 70px;
}
.sc-search-nav-found-products-cards-info {
    margin-left: 10px;
}
.sc-search-nav-found-products-cards-info > * {
    color: #444;
    font-weight: 200;
}
.sc-search-nav-found-products-cards-info label {
    font-size: 14px;
}


/**************************************
  * HEADER SIGN-IN
  */
.sc-header-signin {
	height: 37px;
	color: #fff;
	display: flex;
	font-size: 15px;
	margin-left: 35px;
    margin-right: 14px;
	align-items: center;
	justify-content: center;
}

.sc-header-signin.sc-user-logged {
    width: 127px !important;
    justify-content: left !important;
}

.sc-user-logged .sc-header-signin__inner strong {
    font-family: "camber-regular";
    font-size: 16px;
}

.sc-header-signin__inner {
	display: flex;
	align-items: center;
}

.sc-header-signin__inner strong {
   font-family: "camber-medium";
    font-weight: normal;
    font-size: 16px;
}

/*.sc-header-signin__icon--user {
	padding: 6px;
	font-size: 17px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #fff;
	justify-content: center;
	align-items: center;
	display: flex !important;
}

.sc-header-signin__icon--chevron {
	font-size: 8px;
	margin-left: 4px;
}*/

.sc-header-signin__inner .fa-user-circle {
    font-size: 27px;
    margin-right: 7px;
}

.sc-header-signin__inner .fa-user-circle path,
.sc-header-signin__inner .fa-chevron-down path,
.sc-header-calc-cart__cart .fa-shopping-cart path {
    fill: #fff !important;
}

.sc-header-signin__inner .fa-chevron-down {
    font-size: 12px;
    margin-left: 4px;
    margin-top: 3px;
}

.sc-header-calc-cart__calculator .fa-calculator {
    font-size: 23px;
    /* margin-top: 11px; */
}

.sc-header-calc-cart__cart .fa-shopping-cart {
    font-size: 23px;
    /* margin-top: 9px; */
}


/**************************************
  * HEADER CALCULATOR AND CART
  */
.sc-header-calc-cart {
    width: 104px;
    justify-content: space-between;
	height: 37px;
	color: #fff;
    padding-left: 7px;
}

.sc-header-calc-cart__icon {
	margin-bottom: 2px;
}

.sc-header-calc-cart span,
.sc-header-calc-cart__calculator span,
.sc-header-calc-cart__cart span {
    background: #FD1D35;
	font-size: 9px;
    letter-spacing: unset;
    font-family: camber-medium;
    margin-top: -17px;
    margin-left: -5px;
    padding: 3px 10px;
    border-radius: 12px;
}

.sc-header-calc-cart__cart span,
.sc-header-calc-cart__calculator span {
    color: #fff;
}

.sc-header-calc-cart__cart,
.sc-header-calc-cart__calculator {
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
}

.sc-header-calc-cart__cart img,
.sc-header-calc-cart__calculator img {
	margin-bottom: 2px;
}

.sc-header-calc-cart__calculator {
    position: relative;
	/*margin-right: 34px;*/
}

/*.sc-header__content-mobile-calculator::before {
	margin: 5px 0px 2px;
	font-size: 25px;
	content: "\f1ec";
	font-family: fontAwesome;
}*/

/* 
======================
   TOP MENU - NAVIGATION
=======================
 */

.sc-menu-container {
	width: 100%;
	background: transparent;
    position: relative;
}

.sc-top-nav {
	width: 100%;
	display: flex;
	list-style: none;
	flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.sc-top-nav__item {
	display: flex;
    padding-right: 50px;
    height: 38px;
    justify-content: flex-start;
    align-items: center;
}

.sc-header-banner p {
    display: flex;
    align-items: center;
    font-family: camber-bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.sc-header-banner img {
    width: 27px;
    margin: 0px 8px;
}

.sc-header-banner span {
    font-family: camber-medium;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: unset;
    margin-left: 10px;
}

.sc-header-home .sc-header-content {
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255,0.3);
}

.sc-header-home {
    width: 100%;
    display: flex;
    position: absolute;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sc-header-home #sc-our-products {
    background: rgb(255, 255, 255, 0.15);
    padding: 9px 16px;
}

.sc-top-nav .fa-angle-down path {
    color: #fff;
    fill: #fff !important;
}

.sc-top-nav svg.fa-angle-down {
    margin-left: 5px;
}

.sc-header-contact__phone path {
    fill: #fff !important;
}

.sc-header-contact__phone svg {
    margin-right: 5px;
}

.sc-search svg.fa-search path {
    fill: #3C5B80 !important;
}

.sc-header-contact__about path {
    fill: #fff !important;
}

.sc-header-contact__about svg {
    margin-left: 5px;
}

.sc-header-signin__inner:hover {
    cursor: pointer;
}

.sc-header-calc-cart__calculator:hover {
    cursor: pointer;
}

.sc-header-calc-cart__cart:hover {
    cursor: pointer;
}

.sc-header-contact__about:hover {
    cursor: pointer;
}

.sc-search .fa-search:hover {
    cursor: pointer;
}

.sc-header-not-home {
    width: 100%;
    display: flex;
    position: relative;
    background: #3C5B80;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media (max-width: 1024px) {
    .sc-header-not-home {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }
}

svg.svg-inline--fa.fa-angle-down.fa-w-10.girar {
    animation: rotate-icon 500ms ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

svg.svg-inline--fa.fa-angle-down.fa-w-10{
    animation: des-rotate-icon 500ms ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
}

@keyframes des-rotate-icon {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sc-menu-main .sc-top-nav__span--bold{
    color: #032E5A;
}

.sc-menu-main__holder span {
    margin-top: 3px;
}

.sc-menu-main__holder .fas.fa-angle-down{
    color: red;
}

.sc-menu-main .sc-top-nav__span--bold path {
    fill: #FD1D35 !important;
    animation: des-rotate-icon 500ms ease-out;
}

/* .sc-top-nav__item--categories:hover .sc-menu-main__holder svg.svg-inline--fa.fa-angle-down.fa-w-10 */
.sc-menu.ativo .sc-menu-main__holder svg.svg-inline--fa.fa-angle-down.fa-w-10{
    animation: rotate-icon 500ms ease-out;
    animation-fill-mode: forwards;
    transform-origin: center;
}

.sc-menu-sub__strong a {
    font-size: 15px;
    font-weight: normal;
    font-family: camber-semibold;
    color: #6F6F6F;
    line-height: 31px;
}

.sc-menu-sub--barricades .sc-menu-sub__image {
    width: 345px;
}

.sc-menu-sub--signs .sc-menu-sub__image {
    width: 345px;
}


.sc-menu-sub--fences .sc-menu-sub__image {
    width: 345px;
}

.sc-menu-sub--stanchions .sc-menu-sub__image {
    width: 345px;
}

.sc-menu-sub--traffic .sc-menu-sub {
    max-width: 242px;
}

.sc-menu-sub--traffic .sc-menu-sub__image {
    width: 345px;
}

.sc-header__content-mobile {
    background: #3C5B80;
}

/**
 PWA CSS
*/
.p4a-account-header__close img {
    content: pwa-url(sc-times);
}
.p4a-account-menu .p4a-account-menu__item img {
    content: pwa-url(sc-chevron-right);
}
.p4a-authentication-header .p4a-authentication-header__close img {
    content: pwa-url(sc-chevron-left);
}
.p4a-account-menu .p4a-account-menu__item img {
    width: 10px;
}

/***************
    SAFARI
*/
/* .sc-safari .sc-menu-main__item {
    position: relative;
} */

.sc-safari .sc-menu-main__icon .fa-chevron-right {
    margin-top: 0px;
}

.sc-safari .sc-menu-sub__div {
    height: auto !important;
}

.sc-safari .sc-search {
    width: 806px;
    background-color: transparent;
}

.sc-safari .sc-search .fa-search {
    right: 25px;
}

span {
    font-weight: normal;
}


/*============
    MOBILE
=============*/
@media (max-width: 550px) { 
    .sc-header__content-mobile-logo img {
        position: relative;
        left: 11px;
    }

    .sc-header-calc-cart__calculator {
        left: 12px;
    }
}


/* ==============
    TABLET
================*/
@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .sc-header-calc-cart__calculator {
        right: -20%;
    }

    .sc-header__content-mobile-logo img {
        position: relative;
        left: 67%;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
    .sc-header__content-mobile-logo img {
        left: 121px !important;
    }
}
