.sc-cart {
    width: 0;
    visibility: hidden;
    opacity: 0;
    top: 0;
    z-index: -1;
    transition: all .25s ease-in;
    position: fixed;
    display: flex;
    flex-flow: column;
    background: #fff;
    height: 100vh;
    right: 0;
    padding: 0 0;
    text-transform: none !important;
    font-weight: 400 !important;
    overflow-y: auto;
}

.sc-cart__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
    padding-top: 10px;
}

.sc-cart--open {
    transition: all .25s ease-in;
    width: 495px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.sc-cart__header div h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #032e5a;
}

.sc-cart__header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sc-cart__header>* {
    align-self: center;
}

.sc-cart__header a {
    cursor: pointer;
}

.sc-cart__empty {
    position: absolute;
    top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 90%;
    background: #fff;
    z-index: 999;
}

.sc-cart__empty .fa-heart {
    font-size: 40px !important;
    margin-bottom: 15px;
    color: #032e5a;
}

.sc-cart__empty a {
    background: #032e5a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 55px;
    margin-top: 20px;
    color: #fff;
}

.sc-cart__darken {
    width: 100%;
    background: #000000a6;
    height: 100%;
    z-index: 998;
    position: fixed;
    display: none;
    animation: none;
}

.sc-cart__header .fa-shopping-cart,
.sc-cart__header .fa-calculator {
    margin-right: 7px;
}

.sc-cart__header .fa-shopping-cart path,
.sc-cart__header .fa-calculator path {
    fill: #032e5a !important;
}

.sc-cart__header div span {
    padding: 5px 7px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #032e5a;
    font-weight: bold;
}

.sc-delivery-calculator {
    padding: 25px 15px 0px 15px;
}

.sc-delivery-calculator h2 {
    font-family: "camber-semibold";
    font-size: 16px;
    color: #6F6F6F;
}

.sc-delivery__calc-content {
    display: flex;
    align-items: center;
}

.sc-delivery__calc-content p {
    color: #707070;
    font-size: 16px;
}

.sc-delivery__calc-content .sc-input-delivery-calc {
    width: 100%;
    margin: 0 0 0 auto;
    height: 45px;
    border: 1px solid #707070;
    border-radius: 5px;
    color: #6F6F6F;
    font-size: 16px;
    padding-left: 13px;
    padding-right: 45px;
}

.sc-delivery__calc-input {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.sc-delivery__calc-input button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 45px;
    background: #07AC40;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.sc-cart__list {
    display: flex;
    flex-flow: column;
    list-style: none;
}

.sc-cart__item {
    display: flex;
    width: calc(100% - 30px);
    margin: 15px 15px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px #f4f4f4 solid;
}

.sc-cart__row-bag {
    /*display: flex;*/
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.sc-cart__row-bag .sc-cart__row-bag-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.sc-image-product-cart {
    width: 145px;
    margin-right: 8px;
}

.sc-image-product-cart img {
    width: 100%;
}

.sc-inputs-price {
    display: flex;
    margin-top: 5px;
}

.sc-price-product-input {
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
}

.sc-input__number {
    /*width: 100px;*/
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.sc-input__number-btns {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 5px;
}
.sc-input__number-btns {
    border: 2.4px solid #032e5a;
    width: 30px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sc-input__number input {
    width: 49px;
    height: 28px;
    text-align: center;
    border: 2.4px solid #032e5a;
}
.sc-input__number-increment  {
    margin: 0 0 0 5px !important;
}
.sc-cart__row-bag-comment--active {
    height: 50px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    font-family: 'camber-regular';
}

.sc-cart__product-oldprice {
    padding-top: 10px;
    font-weight: normal;
    color: #6F6F6F;
    font-family: 'camber-semibold';
    font-size: 15px;
}

.sc-cart__footer {
    display: flex;
    flex-flow: column;
    padding: 15px 37px;
    width: 100%;
    padding-bottom: 40px;
    margin: 0 !important;
    background: #f6f6f6;
}

.sc-footer-cart-content {
    margin-top: 15px;
    padding-bottom: 43px;
}

.sc-cart__subtotal,
.sc-estimated-tax,
.sc-estimated-shipping {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.sc-estimated-tax,
.sc-estimated-shipping {
    padding-top: 15px;
}

.sc-estimated-tax h3,
.sc-estimated-shipping h3 {
    font-size: 18px;
    font-family: "camber-semibold";
    color: #6F6F6F;
    flex: 1;
}

.sc-estimated-tax span,
.sc-estimated-shipping span {
    font-size: 15px;
    font-family: "camber-semibold";
    color: #6F6F6F;
    flex: 0.3;
}

.sc-more-shipping-options {
    padding-top: 15px;
}

.sc-more-shipping-options a {
    font-family: "camber-medium";
    font-size: 15px;
    color: #07AC40;
}

.sc-cart__discout {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.sc-cart__total {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 15px;
}

.sc-cart__btn {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-cart__subtotal h3 {
    font-weight: normal;
    font-family: 'camber-semibold';
    font-size: 18px;
    color: #6F6F6F;
    flex: 1;
}

.sc-cart__subtotal span {
    font-weight: normal;
    color: #6F6F6F;
    font-size: 15px;
    font-family: 'camber-semibold';
    flex: 0.3;
}

.sc-cart__subtotal h3 span {
    font-family: 'camber-regular';
    font-size: 16px;
}   

.sc-cart__total span {
    font-weight: normal;
    font-family: 'camber-semibold';
    color: #6F6F6F;
    font-size: 15px;
    flex: 0.3;
}

.sc-cart__discout-title h3 {
    font-weight: bold;
    font-size: 15px;
    color: #032e5a;
}

.sc-cart__discout .sc-form__input {
    width: 45%;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.sc-cart__discout .sc-form__input input {
    width: calc(100% - 20px);
    height: 48px;
    padding: 10px;
    color: #000;
    border: 1px solid #032e5a;
}

.sc-form__coupon-btn {
    height: 48px;
    font-size: 13px;
    padding: 0px 15px;
    background: #032e5a;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sc-cart__total h3 {
    font-weight: normal;
    font-family: "camber-semibold";
    font-size: 18px;
    color: #6F6F6F;
    flex: 1;
}

.sc-cart__btn a,
.sc-cart__btn-not-logged {
    width: 100%;
    background: #07AC40;
    font-family: "camber-semibold";
    color: #fff;
    padding: 13px;
    text-align: center;
    font-size: 22px;
}

.sc-cart__btn-not-logged {
    background: #D8D6D6 !important;
}

.sc-continue-shopping {
    padding-top: 9px;
    text-align: center;
}

.sc-continue-shopping a {
    text-decoration: underline;
    color: #022E5A;
    font-size: 16px;
    font-family: "camber-medium";
}

body.locked {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.sc-cart__row-pay {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.sc-cart__row-pay h3 {
    color: #032e5a;
    font-size: 16px;
    font-family: camber-semibold;
}
.sc-name-delete-prod {
    display: flex;
}
.sc-cart__row-bag-comment-icon {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.sc-cart__row-bag-comment {
    width: 100%;
    height: 0;
    transition: all .3s;
    border: none;
}
.sc-cart__row-bag-comment--active {
    height: 50px !important;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

.sc-cart__header .fa-times path {
    fill: #e8404c !important;
}

.delete__item .fa-trash-alt path {
    fill: #6F6F6F !important;
}

.sc-cart__right {
    display: flex;
    flex-flow:  column;
    justify-content: space-between;
    align-items: center
}
.sc-cart__right .sc-cart__options {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 12px 0px;
}
.sc-cart__right .sc-cart__options li {
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    list-style: none;
    color: #6F6F6F;
}
.delete__item {
    width: 28px;
    text-align: right;
}


/* Bought Together */
.sc-bought-together {
    padding: 45px 37px 0px 37px;
}

.sc-bought-together h2 {
    font-size: 20px;
    font-family: "camber-medium";
    color: #022E5A;
    margin-bottom: 12px;
}

.sc-bought-together-card {
    margin-top: -2px;
    padding: 12px;
    border: 3px solid #F0EFF2;
    width: 100%;
    display: flex;
}

.sc-bought-together-image {
    flex: 0.3;
    margin-right: 10px;
}

.sc-bought-together-image img {
    width: 100%;
}

.sc-inf-prod__bought-together {
    flex: 1;
}

.sc-inf-prod__bought-together h3 {
    font-family: "camber-semibold";
    font-size: 15px;
    color: #022E5A;
    width: 69%;
}

.sc-prod__price-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
}

.sc-prod__price-button span {
    font-size: 18px;
    color: #6F6F6F;
    font-family: "camber-semibold";
}

.sc-prod__price-button a {
    height: 100%;
    width: 53px;
    background-color: #DFE1E5;
    border: none;
    font-size: 35px;
    color: #6F6F6F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sc-login-create__account-use {
    text-align: center;
    padding-top: 35px;
}

.sc-login-create__account-use p {
    color: #6F6F6F;
    font-size: 16px;
}

.sc-create-login-request {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
}

.sc-login-request a,
.sc-create-request a {
    border-right: 1px solid #707070;
    color: #022E5A;
    font-size: 16px;
    font-family: "camber-medium";
    text-decoration: underline;
    padding-right: 15px;
    padding-left: 15px;
}

.sc-create-request a {
    border: none !important;
}

.sc-registered-users-quote {
    padding-top: 25px;
}

.sc-text-area-field {
    width: 100%;
    padding: 15px;
}

.sc-text-area-field textarea {
    width: 100%;
    height: 90px;
    border: 1px solid #6F6F6F;
    padding: 10px;
    resize: none;
    font-family: 'camber-regular';
}

/*
.sc-registered-users-quote h2 {
    font-size: 18px;
    font-family: "camber-semibold";
    color: #022E5A;
}

.sc-registered-users-quote p {
    font-size: 17px;
    color: #022E5A;
}

.sc-registered-users-quote form {
    padding-top: 50px;
}

.sc-registered-users-quote form label {
    font-size: 18px;
    color: #6F6F6F;
}

.sc-input-login-quote {
    border: none;
    border-bottom: 1px solid #6F6F6F;
    margin-top: 30px;
}

.sc-input-submit-login {
    width: 399px;
    border: 2px solid #032E5A;
}*/

/******
    PWA SIGN IN
*/
.p4a-authentication--open {
    width: 496px !important;
}

.p4a-authentication-text {
    display: none !important;
}

.p4a-authentication-form::before {
    content: 'Enter your email address below:';
    color: #6F6F6F !important;
    font-size: 18px;
}

.p4a-input .p4a-input__label {
    display: none;
}

.p4a-input__field {
    background-color: transparent !important;
}

.p4a-input input {
    border-bottom: 1px solid #6F6F6F !important;
}

button.p4a-style__primary--background:disabled {
    background: unset !important;
    background-color: #07ac40 !important;
}

.p4a-button.p4a-style__primary--background {
    background-color: #07AC40 !important;
    height: 54px;
    font-size: 18px;
    font-family: "camber-semibold";
}