:root {
    font-size: 60%;
    --color-background: #F5F4F5;
    --color-background-footer: #123E52;
    --color-background-menu-user: #174E67;
    --color-background-footer-second: #D1DCE1;
    --color-button-blue-100: #D0EFF6;
    --color-button-blue-200: #A1DFED;
    --color-background-button-primary: #FFFF;
    --color-title-text: #ffffff;
    --color-text-while: #FFFF;
    --color-text-princ-200: #A2B8C2;
    --color-text-princ-300: #7495A4;
    --color-text-princ-400: #457185;
    --color-text-princ-500:  #174E67;
    --color-text-blue: #14AFD1;
    --color-text-blue-600: #108CA7;
    --color-text-blue-700: #0C697D;
    --color-text-primary-footer: #D1DCE1;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:after, :before{
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button,
a {
    cursor: pointer;
    outline: none;
}

h4 { /* Títulos do site*/
    color: #174E67;
    margin-bottom: 12px;
    font-family: Cambay;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Cambay;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

/* displays */
.eqf-d-none {
    display: none !important;
}

.eqf-d-flex,
.eqf-d-none.eqf-d-flex  {
    display: flex !important;
}

.eqf-d-block,
.eqf-d-none.eqf-d-block {
    display: block !important;
}

h5{ /* título - campo de pesquisa  */
    height: 23px;
    position: relative;
    margin-top: 1.5pc;
  
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;
}

/* Estilização para botam de modais, close e hanburger. */
.pwa-button-action-modal {
    width: 38px;
    height: 25px;

    position: relative;
    border:none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pwa-button-action-modal span {
    width: 100%;
    height: 100%;

    background: pwa-url(handle-bar);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwa-button-action-modal.close span{
    background: pwa-url(handle-close) no-repeat center;
}

/* Ajusta a imagem no fundo */
.bg-equipo-facil-logo-fundo {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

.looked {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

h6{
    color: #174E67;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

a {
    /* margin: auto; */
    color: #14AFD1;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}

.ismobile{
    display: none !important;
}

.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: unset !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: unset !important;
}


img.swiper-button-next, img.swiper-button-prev{
    width: 10px;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, 
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
.col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.relative{
    position: relative;
}

.w100{
    width: 100%;
}

.btn-branco:hover {
    background: #14AFD1;
    color: #FFFFFF;
    transition: all .1s ease;
}

.btn-branco {
    height: 50px;
    width: 240px;
    font-size: 20px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #14AFD1;
    font-family: Cambay;
    font-weight: 700;
	border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.swiper-pagination {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* .pwa-bg-blue, .pwa-bg-blue-faq {
    width: 100%;
    height: 125px;
    outline: none;
    background: #43BFDA no-repeat right  pwa-url(bg-logo-equipoFacil-fineline);
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.pwa-bg-blue-faq {
    height: 145px;
}
.pwa-inst-faq-title {
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 10px;
}
.pwa-inst-faq-text {
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}
.ef-container, .pwa-container-text {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.pwa-container-text {
    margin-top: 35px;
}
.pwa-H5-blue {
    height: fit-content;
    margin-bottom: 10px;
    color: #174E67;
    font-family: Cambay;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.pwa-text-gray {
    margin-bottom: 25px;
    width: fit-content;
    color: #457185;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
}
.pwa-link-blue {
    text-decoration: underline;
}
.pwa-bg-white {
    height: 575px;
    width: 100%;
    text-align: center;
    outline: none;
    padding: 20px;
    padding-top: 30px;
    background: #FFFFFF;
    margin-bottom: 1.5pc;
}
.pwa-text-navy-blue {
    color: #174E67;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}
.pwa-icons-container-flex {
    display: flex;
    flex-wrap: wrap;
}
.pwa-icon-whats-navy-blue {
    text-align: center;
    margin-bottom: 12px;
}
.pwa-icon-whats-navy-blue::before {
    content: pwa-url(icon-whats-navy-blue);
    position: relative;
    top: 2px;
}
.pwa-h4-title {
    padding-top: 50px;
}

.pwa-bg-white .pwa-h4-title{
    margin-top: -50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


/*FAQ-INST-FORM*/

.pwa-box-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pwa-label-gray {
    width: fit-content;
    margin-right: 0;
}

.pwa-form-centered {
    max-width: 796px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.pwa-box-input {
    width: fit-content;
    margin: 0;
}

.pwa-box-input-textarea {
    width: 100%;
}

.pwa-textarea-input {
    height: 137px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E5E7EC;
    outline: none;
    color: #7495A4;
}

.pwa-input-small-responsive {
    height: 50px;
    width: 35vw;
    max-width: 373px;
    border-radius: 5px;
    border: 1px solid #E5E7EC;
    padding-left: 10px;
    outline: none;
    color: #7495A4;
}

.pwa-btn-blue-medium {
    margin-top: 15px;

    height: 58px;
    width: 100%;
    max-width: 166px;

    background: #14AFD1;
    border:#14AFD1 ;
    border-radius: 5px;
    outline: none;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-btn-blue-medium:hover {
    background: #108CA7;
}

.pwa-label-gray{
    height: 15px;
    width: 41px;
    border-radius: nullpx;
    display: flex;
    align-self: auto;
    margin-top: 1pc;
    margin-right: 18pc;
    color: #7495A4;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
}

.swiper-button-prev, 
.swiper-container-rtl .swiper-button-next {
    width: 12px;
}

.swiper-button-next, 
.swiper-container-rtl .swiper-button-prev {
    width: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    transition: all .25s ease;
}

.swiper-pagination-bullet {
    transition: all .25s ease;
}

/*************************CHECKBOX-INPUT***************************/
.input-checkbox-modal label {
    position: relative;
    display: inline-flex;
}

.input-checkbox-modal label input {
    width: 20px;
    height: 20px;

    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}



/*================
* TICKET PRODUCT
=============== */
.ticket-inspect-equipo {
  margin: 11px auto;
}

/* etiqueta de equipo vistoriado*/
.ticket-inspect-equipo {
  width: 166px;
  height: 23px;
  background: #00ceb0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 6px 6px 3px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.ticket-inspect-equipo::after {
  content: "";
  width: 15px;
  height: 15px;
  background: pwa-url(icon-equipo-verificado) no-repeat center
    center;
  order: -1;
  display: flex;
  align-items: center;
  margin-top: -2px;
}

/* TICKET STATUS */
.pwa-ticket-status-product {
    max-width: 300px;
    width: fit-content;
    background: #7495A4;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
}

.pwa-ticket-status-product span{ 
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    margin-right: 7px;
}

.pwa-ticket-status-product span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pwa-ticket-status-product.awaiting-approval span::after,
.pwa-ticket-status-product.awaiting-payment span::after {
    background: pwa-url(icon-clock-white) no-repeat center center;
}

.pwa-ticket-status-product.on-course {
    background: #0C697D;
}
.pwa-ticket-status-product.on-course span::after {
    background: pwa-url(icon-truck-white) no-repeat center;
}

.pwa-ticket-status-product.awaiting-payment-highlight {
    background: #0086D0;
}

.pwa-ticket-status-product.awaiting-payment-highlight span::after {
    background: pwa-url(icon-clock-white) no-repeat center;
}

.pwa-ticket-status-product.delivered {
    background: #27AE60;
}

.pwa-ticket-status-product.delivered span::after {
    background: pwa-url(icon-confirm-white) no-repeat center center;
}

.pwa-ticket-status-product.canceled {
    background: #EB5757;
}

.pwa-ticket-status-product.canceled span::after {
    background: pwa-url(icon-canceled-white) no-repeat center center;
}


.pwa-ticket-status-product.product-problems {
    background-color: #A2B8C2;
}

.pwa-ticket-status-product.product-problems span::after {
    background: pwa-url(icon-question-white) no-repeat center center;
}

.pwa-ticket-status-product p {
    font-family: Cambay;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    margin-top: 3px;
}

.pwa-ticket-status-product p + p {
    margin-left: 11px;
}


/*===============
    DESKTOP
===============*/
@media(min-width: 800px) {
    .eqf-pl-sm-0 {
        padding-left: 0;
    }

    .eqf-mx-sm-30 {
        margin-right: 30px !important;
        margin-left: 30px !important;
    }

    .eqf-px-sm-30 {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .eqf-mt-sm-50 {
        margin-top: 50px !important;
    }
}

@media only screen and (min-width: 768px) {
   /*  .pwa-bg-blue, 
    .pwa-bg-blue-faq  {
        height: 360px!important;
        width: 100%;
    } */
    .pwa-inst-faq-title {
        font-size: 13px;
        line-height: 25px;
    }
    .pwa-inst-faq-text {
        font-size: 33px;
        line-height: 54px;
    }
    .pwa-container-text {
        margin-top: 45px;
    }
    .pwa-table-cel-navy-blue {
        text-align: RIGHT;
        padding-right: 30PX;
    }
    .pwa-table-cel-white {
        text-align: center;
    }
    .pwa-table-cel-gray,
    .pwa-table-cel-light-blue,
    .pwa-table-cel-blue {
        text-align: center;
    }
    .ef-container {
        text-align: right;
    }
    .pwa-icon-whats-navy-blue{
        margin-right: 50px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .pwa-h4-title {
        font-size: 20px;
    }
    .pwa-question-container {
        margin-bottom: 5pc;
    }
}
@media(max-width: 1024px){
    .container {
        max-width: 1000px;
    }
}

/**************QUESTIONS-ANSWERS****************/
.bg-white {
    background-color: #FFFFFF;
}

.pwa-header-navy-blue {
    background-color: #174E67;
    height: 60px;
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pwa-header-text-with-icon {
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 15px;
}
.pwa-header-text-with-icon::before {
    content: pwa-url(icon-question);
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.pwa-container-master-inner {
    margin: auto;
    width: 100%;
    max-width: 768px;
    margin-bottom: 30px;
}
/* //////////// Perguntas e Respostas //////////////// */
.ef-questions-answers{
    width: 100% !important;
    max-width: 768px!important;
    margin: auto!important;

    color: #457185!important;
    font-family: Cambay!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 26px!important;
    letter-spacing: 0.01em!important;
    text-align: center!important;
    padding: 20px!important;
    border-top: 1px solid #D1DCE1!important;
}

.pwa-questions-answers-title{
    color: #174E67;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.pwa-questions-title{
    color: #174E67;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.09em;
    text-align: left;
    margin-bottom: 1pc;
}


/* //////////// Perguntas //////////////// */
.ef-question{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    max-width: 768px;
    padding: 0px 0px 10px 10px;

    margin-top: 1pc;
    text-align: left;
}

.pwa-questions-mesage {
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.pwa-question-text {
    height: 176px;
    width: 80%;
    max-width: 739px;
    position: relative;
    padding-right: 20px;
    text-align: left;
}
.pwa-question-title-data {
    position: relative;
    margin-top: 5px;
    width: fit-content;
    color: #A2B8C2;
    font-family: Cambay;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}

/* //////////// Respostas //////////////// */
.ef-answer {
    margin: auto;
    margin-top: 1pc;
    margin-bottom: 2pc;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pwa-answer-img {
    width: 74px;
    height: 74px;
    margin-right: 10px;
    margin-top: -10px;
}
.pwa-answer-img img {
    width: 54px;
    height: 54px;
}

.pwa-header-answer {
    display: flex;
    align-items: center;
}

.pwa-header-answer img {
    width: 55px;
    height: 55px;
}

.pwa-header-answer-title {
    max-width: 320px;
    width: fit-content;
    height:40px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 18px 0 8px;
}
.pwa-tag-seller{
    height: 18px;
    width: 79px;

    padding-left: 6px;
    padding-top: 4px;

    border-radius: 3px;
    background: #14AFD1;
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
}
.pwa-header-answer-title-name {
    color: #14AFD1 ;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    left: -50px;
}
.pwa-header-answer-title-data {
    color: #7495A4;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
}
.pwa-answer-text {
    height: 176px;

    margin: auto;
    padding: 0px 10px 0px 60px;
}

.pwa-question-group {
    text-align: left;
}
.pwa-question-group .ef-question {
    margin-bottom: 12px;
}

.pwa-border-gray {
    border-top: 1px solid #D1DCE1;
}

.pwa-product-answers-questions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 130px;
}

.pwa-product-quest-container-img {
    height: 74px;
    width: 74px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.pwa-product-img-small {
    height: 100%;
    width: 100%;
}


.pwa-product-brand-name-question {
    width: 270px;
}
.pwa-product-brand {
    color: #14AFD1;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;

    margin-bottom: 5px;
    padding-top: 10px;   
}
.pwa-name-product-question {
    color: #7495A4;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;

}

.pwa-reply-text {
    position: relative;
    left: -11px;
    color: #14AFD1;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.09em;
    text-align: left;
}


.pwa-other-question-and-anounce, 
.pwa-question-anounce {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 110px;
    max-width: 768px;
    margin: auto;
    
    border-top: 1px solid #D1DCE1;
    border-bottom: 1px solid #D1DCE1;
    padding-right: 20px;
    padding-left: 20px;
}
.pwa-question-anounce {
    border-bottom: none ;
}
.pwa-do-other-question {
    height: 46px;
    width: 150px;
    
    color: #000000;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.09em;
}
.pwa-btn-blue-small {
    margin: initial;
}



.pwa-adjust-footer {
    display: flex;
}
.pwa-btn-container {
    margin-bottom: 40px;
}


/* ////////////////////////// RESPONSIVIDADE DESKTOP////////////////////////////////// */
@media only screen and (min-width: 1200px) {
    main .modal-desktop-user {
        display: block;
        left: 0;
        box-shadow: none;
        z-index: 1;
        margin-top: 0;
        position: relative;
        height: fit-content;
        width: 340px;
    }
    .modal-desktop-user::before {
        display: none;
    }
    .pwa-active-menu {
        color: #174E67;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pwa-flex-master {
        display: flex;
    }
    
    .pwa-icon-turn-back {
        display: none;
    }
    .pwa-header-navy-blue {
        background-color: transparent;
        height: 100px;
        justify-content: flex-start;
    }
    .pwa-header-text-with-icon {
        padding-top: 50px;
        margin-left: -10px;
        color: #174E67;
        font-family: Cambay;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pwa-header-text-with-icon::before {
        content: '';
    }
    .pwa-questions-answers-title {
        font-size: 16px;
    }
    .pwa-question-title-data {
        position: initial;
        margin-top: 5px;
        width: 60px;
    }
    .pwa-product-brand {
        font-size: 13px;
    }
    
    .pwa-tag-seller{
        height: 29px;
        width: 75px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 0;
        
    }
    .pwa-question-answer-group {
        box-shadow: 0px 0px 20px 0px #e6e6e6;
        margin-top: 20px;
        margin-bottom: 50px;

        border-radius: 8px;
    }
    .ef-questions-answers {
        padding-bottom: 10px;
    }
    .ef-question {
        padding-left: 0!important;
        padding-right: 0!important;
        flex-direction: column!important;
    }
    .pwa-question-title-data {
        order: 1;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .pwa-question-text {
        order: 2;
    }
    .ef-question p, .pwa-answer-text  {
        height: fit-content;
        margin-bottom: 10px;
    }
    .ef-answer {
        margin-bottom: 10px;
    }
    .pwa-product-answers-questions {
        justify-content: flex-start;
    }
    .pwa-product-quest-container-img {
        margin-left: 10px;
        margin-right: 10px;
    }
    .pwa-product-brand-name-question {
        width: fit-content;
    }

    .pwa-question-group .ef-question {
        margin-bottom: 0;
        padding-bottom: 0;
    }


    .pwa-other-question-and-anounce, 
    .pwa-question-anounce {
        background: #E5E5E5;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        justify-content: flex-end;
        height: 89px;
    }
    .pwa-do-other-question {
        width: fit-content;
        margin-right: 50px;
        margin-top: 30px;
    }
    .pwa-btn-blue-big {
        margin-right: 0;
        margin-top: 15px;
        height: 40px;
        width: 144px;
        border-radius: 4px;
    }
    .pwa-btn-blue-big, .pwa-btn-blue-small {
        height: 40px;
        width: 144px;
        border-radius: 4px;
    }
}

/***************COMPONENTES***************/
.pwa-input-padrao {
    height: 50px;
    /* width: 326px; */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E5E7EC !important;
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-left: 24px;
    background: #FFFFFF;
    color: #7495A4 !important;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;

    margin-bottom: 1pc;
}
.pwa-btn-blue {
    height: 58px;
    width: 326px;
    margin-bottom: 1pc;


    background: #14AFD1;
    color: white ;
    border-color: var(--color-text-blue);
    border-radius: 5px;
    text-align: center;
    padding-left: 0;
    outline: none;
    border:  #108CA7;
}
.pwa-btn-blue:hover, 
.pwa-btn-blue:active {
    background-color: #108CA7;
}
.pwa-bnt-outline-blue{
    height: 58px !important;
    width: 326px !important;

    border-radius: 5px;
    border: 1px solid #14AFD1;
    background-color: transparent !important;

    color: #14AFD1 !important;
    font-family: Cambay;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-bnt-outline-blue:hover{
    background-color: #14AFD1 !important;
    color: #FFFFFF !important;
}
.pwa-btn-blue-small{
    height: 58px;
    width: 171px;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #14AFD1;
    color: #FFFFFF;

    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-btn-blue-small:hover {
    background: #108CA7;
}
/* borda cinza */
.pwa-bdr-gray-top{
    border-top: 1px solid #D1DCE1;
}

.pwa-btn-container { 
    border-top: 1px solid #D1DCE1;
    text-align: center;
    height:100px;
    width: 100%;
    display: flex;
}
.pwa-btn-blue-big {
    text-align: center;
    background: #14AFD1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    margin-bottom: 1pc;
    height: 58px;
    width: 296px;

    border:#14AFD1 ;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
    
} 
.pwa-btn-blue-big:hover {
    background: #108CA7;
}

/* grupo de input único */
.pwa-inputs-group-1col {
    width: 325px;
    margin: auto;
}
/* grupo de input em duas colunas */
.pwa-inputs-group-2col {
    display: flex;
    justify-content: space-between;
}
.pwa-box-input {
    width: 360px;
    margin: auto;
    margin-left: 1.8pc;
}
.pwa-create-PF-steps {
    margin-top: 25px;
    height: 15px;
    width: 70px;
}
.pwa-box-input-2col {
    margin-bottom: 1PC;
    width: 150px;
}
.pwa-select select,
.pwa-select-2col select{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    outline: none;

    padding-left: 10px;

    color: #7495A4;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;

}
.pwa-select svg {
    position: absolute;
    margin-top: 17px;
    margin-left: -22px;

}
.pwa-select-2col svg {
    position: relative;
    left: 130px;
    top: -35px;
}
.pwa-box-input-extra-small {
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.pwa-input-extra-small {
    height: 50px;
    width: 83px;
    background: #FFFFFF;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #E5E7EC;

    color: #7495A4;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}

.pwa-input-extra-small::placeholder, .pwa-input-medium::placeholder {
    color: #7495A4;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}
.pwa-box-input-medium {
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.pwa-input-medium {
    height: 50px;
    width: 216px;
    padding-left: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D1DCE1;

    color: #7495A4;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}
.pwa-inputs-group-flex {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1pc;
}
.pwa-input-small {
    height: 50px;
    /* width: 153px; */
    width: 100%;
    padding-left:20px;
    outline: none;
    border: 1px solid #E5E7EC;
    border-radius: 5px;
    color: #7495A4;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}
.pwa-placeholder::placeholder{  
    color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

/* //////////////// TEXTOS ////////////////// */
/* labels cinza - */
.pwa-label-text-gray {
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
    display: block;
    color: #7495A4;

}
/* Labels utilizados nas páginas do recorte de Login */
.pwa-label-gray{
    height: 15px;
    width: 41px;
    border-radius: nullpx;
    display: flex;
    align-self: auto;
    margin-top: 1pc;
    margin-right: 18pc;

    color: #7495A4;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
}
/* Links azuis */
.pwa-link-blue {
    color: #14AFD1;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: auto;

    text-decoration: none;
}
/* Títulos H4 Azul */
.pwa-titles-H4-Blue {
    margin-top: 2pc;

    color: #174E67;
    font-family: Cambay;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
/* Textos das paginas de login - a partir da page logar em diante */
.pwa-pages-login-text-gray {
    width: 263px;
    margin-top: 15px;
    margin-bottom: 20px;

    color: #457185;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: center;
}

/* ////////////////// TÍTULOS OPÇÕES DE PESQUISA  //////////////// */
.pwa-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2pc;
}
.pwa-li {
    color: #A2B8C2;
    height: 80px;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;
}

.pwat-li-active{
    border-bottom:4px solid #14AFD1;

    color: #174E67;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;

}
.pwa-li-title {
    height: 23px;
    width: 145px;
}


/* ////////////////////////// RESPONSIVIDADE DESKTOP////////////////////////////////// */
@media only screen and (min-width: 768px) {
   
    .pwa-placeholder::placeholder {  
        color: #7495A4;
    }
}

/*********BOOTSTRAP-FIT**********/
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.box.hide{
    display: none !important;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
    pointer-events: all !important;
    cursor: pointer !important;
}

.swiper-button-prev {
    left: 0px !important;
}

.swiper-button-next {
    right: 0px !important;
}

.isdesktop.flex {
    display: flex;
    flex-wrap: wrap;
}

/****LIST.CSS*****/
.pwa-list-content {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    margin: auto;
}
.pwa-first-list {
    width: 35%;

    list-style:none;
    color: #174E67;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: right;
}
.pwa-second-list {
    width: 60%;
    list-style:none;
    color: #457185;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left; 
}
.pwa-first-list li,
.pwa-second-list li {
    height: 19px;
    margin-bottom: 8px;
}

/****CARD-RECEBIMENTO.CSS****/
.pwa-receivement-container {
    width: 100%;
    max-width: 768px;
    min-width: 340px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
.pwa-receivement-card {
    /*height: 300px;*/
    width: 100%;
    margin: auto;
    margin-top: -75px;
    margin-bottom: 30px;

    border-radius: 5px;
    background: #FFFFFF;
    position: static;
    top: -80px;
}
.pwa-title-receivement {
    padding-left: 11px;
    padding-top: 15px;
    margin-bottom: 15px;

    color: #7495A4;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


.pwa-flex-receivement {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 12px;
    
    margin-bottom:15px ;
}

.pwa-price-gray {
    margin-top: 0;

    color: #7495A4;
    font-family: Cambay;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}
.pwa-price-blue {
    color: #14AFD1;
    font-family: Cambay;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: right;
}

.pwa-text-gray-receivement {
    color: #174E67;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
}

.pwa-receivement-card .pwa-first-list li{ 
    height: 30px;
}
.pwa-receivement-card .pwa-first-list {
    width: 35%;
}
.pwa-receivement-card  .pwa-second-list {
    width: 60%;
}
.pwa-receivement-card .pwa-list-content {
    margin: initial;
    max-width: initial;
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid #D1DCE1;
}

.pwa-text-rate-add-receivement, 
.pwa-text-delivery-receivement {
    color: #457185;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: right;

}
.pwa-date-delivery-receivement {
    margin-bottom: 5px;

    color: #174E67;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: right;
}


.pwa-card-green-product-received {
    background: #6FCF97;
    border: 1px solid #72CFE3;
    height: 77px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.pwa-card-green-date-received-product {
    color: #219653;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

/* ////////////////////////// RESPONSIVIDADE DESKTOP////////////////////////////////// */
@media only screen and (min-width: 768px) {
    .pwa-receivement-card {
        box-shadow: 0px 0px 20px 0px #b6b6b6;
    }

    .pwa-price-gray {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pwa-price-blue {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .pwa-text-gray-receivement {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .pwa-text-rate-add-receivement, 
    .pwa-text-delivery-receivement {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pwa-date-delivery-receivement {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;    
    }
    
    .pwa-title-receivement {
        padding: 30px 40px 0px 40px;
    }
    .pwa-receivement-card .pwa-flex-receivement {
        padding: 20px 40px 40px 40px;
    }
    .pwa-receivement-card .pwa-list-content {
        padding: 0px 90px 0px 40px;
    }

}

/***MODAL-PHOTO-GLOBAL***/

    .pwat-icones-photos{
        position: absolute;
        display: flex;
        margin-top: 40px;
    }

    .pwat-document-left{
        margin-left: 15%;
    }

    .pwat-selfie-right{
        margin-left: -30%;
    }

    .pwat-check-left{
        position: absolute;
        margin-top: -70px;
        margin-left: -150px;
    }
    .pwat-check-right{
        position: absolute;
        margin-top: -70px;
        margin-left: 40px;
    }

.pwa-scann-photo-selfie-small-left {
    position: absolute;
    margin-top: 100px;
    margin-left: -130px;
}

.pwat-photo-check{
	position: absolute;
    margin-top: -17px;
    margin-left: -185px;
}

.pwa-modal-photo {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.pwa-display-none {
    display: none;
}
.pwa-modal-photo-content,
.pwa-modal-photo-with-document-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    height: 490px;
    width: 323px;
    left: 26px;
    top: 85px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Botão de fechar */
.pwa-close-modal-photo {
    float: right;
    height: 20px;
    width: 20px;
    margin-left: 17.5pc;
}
.pwa-close-modal-photo:hover,
.pwa-close-modal-photo:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pwa-text-modal-photo {
    height: 74px;
    width: 269px;
    margin-top: -1pc;

    color: #457185;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
}
.pwa-scann-photo, .pwa-scann-photo-selfie {
    margin-top: 11pc;
    position: absolute;
    z-index: 1;
}
.pwa-scann-photo-selfie-small {
    position: absolute;
    margin-top: 100px;
    margin-left: 120px;
}
.pwa-title-modal-photo {
    height: 23px;
    margin-top: 11pc;

    color: #174E67;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

/* Modal com documento - selfie */
.pwa-modal-photo-selfie{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.pwa-close-modal-photo-selfieDoc {
    color: #aaa;
    float: right;

    height: 20px;
    width: 20px;
    
    margin-top:12px;
    margin-left: 17.5pc;
}
.pwa-close-modal-photo-selfieDoc:hover,
.pwa-close-modal-photo-selfieDoc:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#modal-photo-selfie .pwa-text-modal-photo {
    margin-top: 2pc;
}
.pwa-photo-document-small {
    position: relative;
    z-index: 1;
    left: -4pc;
    top: 2.5pc;
}
.pwa-icon-check-photo {
    position: relative;
    right: 14pc;
    top: -1.5pc;
    z-index: 2;
}
#modal-photo-selfie .pwa-title-modal-photo {
    margin-top: -8pc;
}
/* Final Modal com documento - selfie */

/* Modal Fotos Complete */
.pwa-modal-photos-complete{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.pwa-modal-photos-complete-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;

    height: 350px;
    width: 323px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pwa-close-modal-photo-complete {
    float: right;

    height: 20px;
    width: 20px;
    
    margin-left: 17.5pc;
}
.pwa-close-modal-photo-complete:hover,
.pwa-close-modal-photo-complete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Ajuste no width do texto dentro do modal */
.pwa-modal-photos-complete-content .pwa-text-modal-photo {
    width: 209px;
}
.pwa-photos-container-flex {
    display: flex;
}
.pwa-scann-photo-1 {
    position: relative;
    z-index: 0;
    top: -10px;
    left: -10px;
    width: 14pc;
}
.pwa-scann-photo-2 {
    position: relative;
    z-index: 0;
    top: -10px;
    left: -55px;
    width: 14pc;
}
#modal-photos-complete .pwa-photos-check {
    width: 150px;
    height: 100px;
}
.pwa-modal-photos-complete-content .pwa-icon-check-photo {
    position: relative;
    z-index: 3;
    top: -11.3pc;
    left: -4px;
}
.pwa-scann-photo-2 + .pwa-icon-check-photo{
    position: relative;
    z-index: 3;
    left: -3.3pc;
}

/* Aajusta a posição do botão colocando-o a frente 
das imagens que estao em position absolute */
.pwa-btn-blue {
  z-index: 2;
}

/* Card de produto */
.pwa-card-product-shopping {
    background: #FFF;
    margin: 3px 0 20px;
    padding: 7px 7px 17px;
    border-radius: 3px;
    position: relative;
}

/* .pwa-card-product-shopping .title-card {
    font-family: Cambay;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #457185;
    margin-bottom: 20px;
} */

.pwa-card-product-shopping .button-primary {
    max-width: 223px;
}

.pwa-card-product-shopping .product-description {
    display: flex;
    align-items: center;
    max-height: 120px;
    height: 100%;
    margin: 25px 0 23px;
    justify-content: center;
}

/*
.pwa-card-product-shopping .product-description .image-product {
    width: 40%;
}*/

.pwa-card-product-shopping .product-description .image-product img{
    width: 140px;
    height: 120px;
    object-fit: contain;
}

.pwa-card-product-shopping .product-description .info-product {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.pwa-card-product-shopping .product-description .info-product h6 {
    font-family: Cambay;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 15px;

    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: #14AFD1;
}

.pwa-card-product-shopping .product-description .info-product h5 {
    font-family: Cambay;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #457185;
    max-width: 187px;
    margin: 8px 0 16px;
    text-align: start;

}

.pwa-card-product-shopping .product-description .info-product p {
    font-family: Cambay;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #174E67;
    margin-top: 8px;
}

.pwa-card-product-shopping .product-description .info-product .timer-ad p {
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #457185;
    margin-top: 8px;
    font-family: Cambay;
    font-weight: normal;
}

.pwa-card-product-shopping .product-description .info-product .timer-ad p span {
    font-family: Cambay;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;

    letter-spacing: 0.03em;

    color: #14AFD1;
}

.pwa-card-product-shopping .button-primary {
    max-width: 223px;
}





/* ////////////////////////// RESPONSIVIDADE DESKTOP////////////////////////////////// */
@media only screen and (min-width: 992px) {
    .pwa-modal-photo-content {
        margin-top: 4pc;
    }

}

@media only screen and (min-width: 800px){
     .pwa-card-product-shopping .product-description .info-product{
        margin-left: 15px;
    }

    .pwa-card-product-shopping .product-description .info-product p {
        margin-top: 25px;
    }

    .pwa-card-product-shopping .button-primary {
    margin: 0;
    max-width: 149px;
    height: 40px;
    margin-bottom: -23px;
    }
/*
    .pwa-card-product-shopping .product-description .image-product {
        width: 23% !important;
    }
*/
      .pwa-card-product-shopping {
        background: transparent;
        border-bottom: 1px solid #D1DCE1;
    }
}

@media only screen and (min-width: 1200px) {
    .pwat-icones-photos{
        margin-left: 10px;
    }

    .pwat-check-left{
        margin-top: 108px;
        margin-left: -100px;
    }
    .pwat-check-right{
        margin-top: 108px;
        margin-left: -5px;
    }

   
    .pwa-modal-photo-content, 
    .pwa-modal-photo-with-document-content {
        margin-top: 5pc;    
        height: 376px;
        width: 576px;
    }
    /* Botão de fechar */
    .pwa-close-modal-photo ,
    .pwa-close-modal-photo-selfieDoc {
        margin-top: 12px;
        margin-left: 32pc;
    }
    .pwa-close-modal-photo-complete {
        margin-left: 32pc;
    }
    .pwa-close-modal-photo img,
    .pwa-close-modal-photo-selfieDoc img,
    .pwa-close-modal-photo-complete img {
        height: 14px;
        width: 14px;
    }
    .pwa-text-modal-photo {
        position: relative;
        margin-left: 35px;
        height: 87px;
        width: 450px;
        font-size:16px;
    }
    .pwa-title-modal-photo {
        text-align: center;
    }

    .pwat-photo-check{
        position: absolute;
        margin-top: 75px;
        margin-left: -108px;
    }

    .pwa-scann-photo-selfie-small-left {
        position: absolute;
        margin-top: 10px;
        margin-left: -190px;
    }

    .pwa-scann-photo-selfie-small {
        position: absolute;
        margin-top: 10px;
        margin-left: -50px;
    }
    .pwa-modal-photo-content {
        display: block;
    }
   .pwa-title-modal-photo {
        margin-bottom: 20px;
    }
    .pwa-scann-photo {
        margin-left: -8.5pc;
        top: 0;
    }

    .pwa-scann-photo-selfie {
        margin-left: -17.1pc;
        top: 0;
    }

    .pwa-photo-document-small {
        top: 10px;
        margin-left: 50px;
    }
    .pwa-icon-check-photo {
        margin-top: -50px;
    }

    /* Modal fotos concluidas */
    .pwa-modal-photos-complete-content {
        margin-top: 5pc;    
        height: 346px;
        width: 576px;
    }

    #modal-photos-complete .pwa-text-modal-photo {
        height: 58px;
        width: 350px;
        margin-top: -1pc;
        font-size:16px ;
    }

    .pwa-text-container-doc,
    .pwa-text-container-selfie {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        width: 400px;
    }

}

body.blocked {
    overflow: hidden;
}

.hide{
    display: none;
}

a.reset {
    margin: unset;
    color: unset;
    font-family: unset;
    font-size: unset;
    font-style: unset;
    font-weight: unset;
    line-height: unset;
    letter-spacing: unset;
    text-align: unset;
}