:root {
    font-size: 60%;

    --color-background: #F5F4F5;
    --color-background-footer: #123E52;
    --color-background-menu-user: #174E67;
    --color-background-footer-second: #D1DCE1;
    
    --color-button-blue-100: #D0EFF6;
    --color-button-blue-200: #A1DFED;
    
    --color-background-button-primary: #FFFF;
    
    --color-title-text: #ffffff;

    --color-text-while: #FFFF;
        
    --color-text-princ-200: #A2B8C2;
    --color-text-princ-300: #7495A4;
    --color-text-princ-400: #457185;
    --color-text-princ-500:  #174E67;

    --color-text-blue: #14AFD1;
    --color-text-blue-600: #108CA7;
    --color-text-blue-700: #0C697D;

    --color-text-primary-footer: #D1DCE1;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-background);
}

a {
    text-decoration: none;
}

h4 { /* Títulos do site*/
    color: #174E67;
    margin-bottom: 12px;
    font-family: Cambay;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Cambay;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}


h5{ /* título - campo de pesquisa  */
    height: 23px;
    position: relative;
    margin-top: 1.5pc;
  
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;
}

/* Estilização para botam de modais, close e hanburger. */
.pwa-button-action-modal {
    width: 38px;
    height: 25px;

    position: relative;
    border:none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pwa-button-action-modal span {
    width: 100%;
    height: 100%;

    background: pwa-url(handle-bar);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwa-button-action-modal.close span{
    background: pwa-url(handle-close) no-repeat center;
}

/* Ajusta a imagem no fundo */
.bg-equipo-facil-logo-fundo {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

.looked {
    overflow: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

h6{
    color: #174E67;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

a{
    margin: auto;
    color: #14AFD1;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}

.ismobile{
    display: none;
}

@media (max-width: 768px){
    .ismobile{
        display: block;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: unset !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: unset !important;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, 
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
.col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}