header {
    width: 100%;
    z-index: 5;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: #FFF;
}


header .pwa-menu-container {
    position: relative;
    max-width: 780px;
    margin : 0 auto;
}

header .menu-content {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 12px 15px;
    
}

header .menu-content .menu-header-buttons{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu-content .menu-header-buttons .notification {
    width: 25px;
    height: 25px;
    
    position: relative;
    display: flex;

    /* margin-right: 45px; */
    cursor: pointer;
}

header .menu-content .menu-header-buttons .notification::before {
    content: pwa-url(icon-bell);
    width: 100%;

    position: absolute;
    top:0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu-content .menu-header-buttons .notification.true::after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: #ED3636;
    border-radius: 100%;

}


/* Header sem menu- telas de login/logar/logar nova senha/logar telefone e email */
header .equipoF-header {
    height: 70px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #c0b7b7;
}

/* Icone de voltar do Header */
.pwa-home-return {
    position: relative;
    left: -50px;
}
.pwa-icon-return-home {
    padding-right: 1pc;
}

.search-header-desktop {
    height: 50px;
    border: 1px solid #A2B8C2;
    border-radius: 5px;
    padding: 10px 19px;
    /* min-width: 43vw; */
    width: 590px;
    display: none;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}

.search-header-desktop input {
    height: 100%;
    border-radius: 5px;
    padding: 6px;
    border: none;
    width: 90%;

    font-family: Cambay;
    font-size: 16px;
    line-height: 26px;

    color: #7495A4;
    outline: none;

    display: flex;
    align-items: center;

}

.search-header-desktop button {
    width: 10%;
    height: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-header-desktop button span {
    width: 20px;
    height: 20px;
    position: relative;
}

.search-header-desktop button span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pwa-url(icon-lupa) no-repeat center;
}

.search-header-desktop .select-container {
    border-left: 1px solid #A2B8C2;
    padding-left: 16px;
    height: 100%;
    display: flex;
    align-items: center;

}

.search-header-desktop select {
    border: none;
    background: none;
    outline: none;

    color: #A2B8C2;
}

.search-header-desktop select option {
    width: calc(100% - 16px );
}

.search-header-container {
    position: relative;
}
/* modal pesquisa */
.search-header-container .modal-pesquisa {
    background: #FFF;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-radius: 5px;
    padding-bottom: 24px ;
    display: none;
}

.search-header-container .modal-pesquisa::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -45;
    position: fixed;
    top: 70px;
    left: 0;
}

.search-header-container .modal-pesquisa .title-group-pesquisa{
    height: 49px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    background: #14AFD1;
    border-radius: 0 0  5px 5px;
}


.search-header-container .modal-pesquisa .title-group-pesquisa p,
.search-header-container .modal-pesquisa .title-group-pesquisa span {
    font-family: Cambay;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFF;
}

.search-header-container .modal-pesquisa ul {
    list-style: none;
}

.search-header-container .modal-pesquisa ul li {
    min-height: 49px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 24px;
    border-bottom: 1px solid #A2B8C2;

    font-family: Cambay;
    font-size: 16px;
    line-height: 26px;

    color: #A2B8C2;
    outline: none;
}

.search-header-container .modal-pesquisa ul li p {
    color: #174E67;
}

.search-header-container .modal-pesquisa ul li:last-child {
    border: none;
}

.search-header-container .modal-pesquisa .button-primary {
    width: 90%;
    max-width: none;
    height: 40px;
    margin-top: 20px;
}

/* INICIO HEADER RESUMIDO */
.header-resumido .search-header-container,
.header-resumido  .avatar-container-header,
.header-resumido .pwa-modal-notification-container,
.header-resumido .menu-header-buttons{
    display: none !important;
}

.header-resumido .menu-content{
    justify-content: center;
}
/* FIM HEADER RESUMIDO */

@media(min-width: 800px) {
    .modal-desktop-user.ativo img {
        margin-right: 40px;
    }

    header .pwa-menu-container{
        max-width: 94%;
    }

    header .menu-content {
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    header .menu-content img {
        /* margin-right: 40px; */
        vertical-align: middle;
    }

    .avatar-container-header {
        display: flex !important;
        /* margin-right: 29px;
        margin-left: 29px; */
    }

    .search-header-desktop {
        display: flex !important;
    }

    .pwa-modal-notification-container {
        max-width: 390px;
        margin-right: 10vw;
    }

    #menu-header-bar {
        display: none;
    }
}

@media(max-width: 800px) {
    .pwa-modal-notification-container {
        margin-right: 0 !important;
    }
}

@media(max-width: 1133px) {
    .modal-desktop-user {
        margin-top: 61px !important;
    }

    .pwa-modal-notification-container {
        margin-right: 4vw;
    }
}



/* Avatar header */
.avatar-container-header {
    align-items: center;
    display: none;
    position: relative;
}

.avatar-container-header a {
    margin-right: unset;
    font-family: Cambay;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 21px;

    letter-spacing: 0.01em;

    color: #14AFD1;
}

.avatar-container-header .avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar-container-header .avatar span {
    width: 10px;
    height: 10px;
    display: flex;
    position: relative;
    margin-left: 12px;
}

.avatar-container-header .avatar p {
    font-family: Cambay;
    font-size: 1.6rem;
    line-height: 26px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    position: relative;

    color: var(--color-text-princ-300);
}

.avatar-container-header .avatar span::after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pwa-url(icon-left-blue) center center no-repeat;
    transform: rotate(270deg);
}

.avatar-container-header .avatar .avatar-image span{
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    margin-right: 18px;
}

.avatar-container-header .avatar .avatar-image span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 100%;
    background: pwa-url(avatar) no-repeat center center;
    background-size: contain;
}

/*modal menu desktop*/

.modal-desktop-user {
    position: absolute;
    display: flex;
    top: 0;
    margin-top: 48px;
    right: 0;
    margin-right: -10px;
    box-shadow: 0 2400px 0px 150em rgba(0, 0, 0, 0.6);
    background: #FFF;
    border-radius: 0 0 5px 5px;
    width: 284px;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

/* .modal-desktop-user::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -45;
    position: fixed;
    top: 70px;
    left: 0;
} */

.modal-desktop-user ul {
    list-style: none;
}


.modal-desktop-user ul {
    width: 100%;
    margin-top: 23px;
    list-style: none;
}

.modal-desktop-user ul li {
    padding: 12px 24px;
}

.modal-desktop-user ul li + li {
    width: 100%;
}

.modal-desktop-user ul li:nth-child(7),
.modal-desktop-user ul li:nth-child(10) {
    border-top: 1px solid #E0E0E0;
    margin-top: 8px;
}

.modal-desktop-user ul li:hover {
    background: #E0E0E0;
}


.modal-desktop-user ul li a{
    display: flex;
    
    width: 100%;
    
    padding: 0 24px;
    font-family: Cambay;
    font-size: 1.6rem;
    line-height: 26px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    position: relative;

    color: var(--color-text-princ-300);
}

.modal-desktop-user ul li a::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background: pwa-url(arrow-rigth) no-repeat center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-desktop-user ul li a span {
    width: 24px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.modal-desktop-user ul li a span img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.pwa-modal-notification {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: -1;
    display: none;
}

/* .pwa-modal-notification::before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 70px;
    left: 0;
} */

.pwa-modal-notification-container {
    position: absolute;
    display: flex;
    top: 70px;
    right: 0px;
    height: 0px;
    background: #FFF;
    z-index: 10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-direction: column;
    /* box-shadow: inset 0px 5px 9px 0px rgba(0,0,0,0.2); */
    box-shadow: 0 2400px 0px 150em rgba(0, 0, 0, 0.6);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.pwa-modal-notification-card-group {
    height: 100%;
}

/* EstilizaÃ§Ã£o dos cards do modal */
.pwa-modal-notification-card a{
    padding: 10px;
    border-bottom: 1px solid #D1DCE1;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.pwa-modal-notification-card a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25px;
    background: pwa-url(icon-pag-right) no-repeat center;
    zoom: 1.3;
}

.pwa-modal-notification-card a img{
    width: 80px;
    margin-right: 20px;
}

.pwa-modal-notification-card a .card-notification-info {
    max-width: 70%;
}

.pwa-modal-notification-card a .card-notification-info h6 {
    font-family: Cambay;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 21px;

    letter-spacing: 0.01em;

    color: #14AFD1;
}

.pwa-modal-notification a .card-notification-info p {
    font-family: Cambay;
    font-size: 1.4rem;
    line-height: 26px;

    letter-spacing: 0.01em;

    color: #7495A4;
}


.pwa-modal-notification a .card-notification-info span {
    font-family: Cambay;
    font-size: 1.2rem;
    line-height: 15px;

    letter-spacing: 0.04em;

    color: #A2B8C2;
}

/* buttom notification */
.pwa-button-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    font-family: Cambay;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #174E67;
}

.modal-menu {
    display: none;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2400px 0px 150em rgba(0, 0, 0, 0.6);
}

/* .modal-menu::before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: -100;
} */

.modal-menu .menu-user {
    display: flex;
    background-color: var(--color-background-menu-user);
    padding: 19px 10px 0;
    border-bottom: 1px solid var(--color-text-princ-400);
}

.modal-menu .menu-user span {
    width: 74px;
    height: 74px;
    border-radius: 100%;
    margin-right: 20px;

    display: flex;
    position: relative;
}

.modal-menu .menu-user span.foto-perfil {
    margin-bottom: 16px;
}


/* EstilizaÃ§Ã£o do usuario offline */
.menu-info .menu-user span::before,
.modal-menu.offline  .menu-user span::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.modal-menu.offline .menu-user span::before {
    background: pwa-url(avatar) no-repeat;
    background-size: contain;
}

.modal-menu.offline .menu-user #btn-account {
    display: none;
}

/* fim da estilizaÃ§Ã£o do usuario offline */

.modal-menu .menu-user span.foto-perfil img {
    height: 100%;
    border-radius: 100%;
    margin-right: 20px;
    display: flex;
}

.modal-menu .menu-user .user-cad {
    width: 100%;
    display: none;
}

.modal-menu .menu-user .user-cad.offline {
    display: block;
}

.modal-menu .menu-user .user-cad.online {
    display: block;
}

.modal-menu .menu-user .user-cad h6{
    font-family: Cambay;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;

    color: #FFFFFF;
}

.modal-menu .menu-user .user-cad h6 span {
    display: inline;
}

.modal-menu .menu-user .user-cad p {
    max-width: 245px;
    font-family: Cambay;
    font-size: 1.4rem;
    line-height: 1.9rem;

    letter-spacing: 0.01em;

    color: #FFFFFF;

    margin-top: 6px;
}

.modal-menu .menu-user #btn-account {
    display: flex;
}

.modal-menu .menu-user .user-cad  button{
    width: 136px;
    height: 28px;
    
    border:none;
    border-radius: 5px;
    background: var(--color-background-button-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 11px;
    margin-bottom: 20px;

    font-family: Cambay;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--color-text-blue);
}

.modal-menu .menu-user .user-cad  button.account {
    background: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    color: #FFF;
    font-family: Cambay;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 19px;
    letter-spacing: 0.01em;
}

.modal-menu .menu-user .user-cad button.account span.arrow-down {
    display: flex;
    width: 10px;
    height: 10px;
    
}

.modal-menu .menu-user .user-cad button.account span.arrow-down::before {
    content: '';
    width: 100%;
    height: 100%;
    align-items: center;
    background: pwa-url(arrow-while) no-repeat center;
    transform: rotate(180deg); 
}

.modal-menu .menu-user .user-cad button.account.active span.arrow-down::before{
    transform: rotate(0);
}

.modal-menu nav {
    background: #FFF;
}

.modal-menu nav ul {
    width: 100%;
    margin-top: 23px;
    list-style: none;
}

.modal-menu nav ul li + li {
    margin-top: 26px;
}

.modal-menu nav ul li:last-child {
    padding-top: 14px;
    margin-bottom: 12px;
    border-top: 1px solid #E0E0E0;
}

.modal-menu nav ul li a{
    display: flex;
    padding: 0 25px;

    font-family: Cambay;
    font-size: 1.6rem;
    line-height: 26px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    position: relative;

    color: var(--color-text-princ-300);
}

.modal-menu nav ul li a::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background: pwa-url(arrow-rigth) no-repeat center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    
}

.modal-menu nav ul li a span {
    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.modal-menu nav ul li a span img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.modal-menu nav.menu-perfil-account {
    display: none;
    background-color: var(--color-background-menu-user);
}

.modal-menu nav.menu-perfil-account ul li:last-child  {
    border-top: 1px solid var(--color-text-princ-400);
}

.modal-menu nav.menu-perfil-account ul li a {
    color: var(--color-text-while)
}

.modal-menu nav.menu-perfil-account ul li a::before {
    background: pwa-url(arrow-while) center no-repeat;
    transform: rotate(90deg);
}

.modal-menu .menu-info {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: var(--color-text-blue);
}

.modal-menu .menu-info img {
    width: 63px;
    height: 63px;
}

.modal-menu .menu-info h6 {
    max-width: 204px;
    font-family: Cambay;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 23px;

    color: #FFFFFF;
}

.modal-desktop-user.ativo {
    height: 591px;
    opacity: 1;
    visibility: visible;
    transition: height .2s ease;
}

.pwa-modal-notification-container.ativo {
    height: 536px;
    opacity: 1;
    visibility: visible;
    transition: height .2s ease;
}

@media (max-width: 768px){
    header .menu-content .menu-header-buttons .notification {
        margin-right: 45px;
    }
}

/* Efeito fade escuro atrás do modal */
.pwa-modal-search-fade{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
}
/* Contudo do modal */
.pwa-drop-search-content {
    width: 220px;

    height:fit-content ;
    display: none;
    z-index: 2;
    
    position: absolute;
    margin-top: -10px;
    margin-left: 12px;
    
    border-radius: 8px;

    background: #FFFFFF; 
    color: #A2B8C2;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-drop-search-content ul {
    list-style: none;
}
/* Cabeçalho azul da pesquisa */
.pwa-header-search {
    height: 39px;
    width: 100%;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    padding:15px 10px 10px 10px ;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background: #14AFD1;
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* gera a div padrão quando há resultados */
.pwa-searchs-results {
    padding: 12px;
    border-bottom: 1px solid #D1DCE1;
    height: fit-content;
    text-align: left;
}

.pwa-searchs-results a {
    color: #A2B8C2;
    text-decoration: none;
    display: block;
}

/* gera a div redonda quando não há resultados */
.pwa-searchs-not-results {
    padding: 12px;
    border-bottom: 1px solid #D1DCE1;
    height: fit-content;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFFFFF;
    position: relative;
    text-align: left;
    margin-bottom: -10px;
}

/* texto com o nome dos produtos */
.pwa-title-search {
    line-height: 19px;
    letter-spacing: 0.01em;
    height: fit-content;
}
/* texto de marcas dos produtos */
.pwa-brand-search {
    line-height: 15px;
    letter-spacing: 0.12em;
    height: fit-content;
    margin-top: 12px;
}
/* Botão de VER TUDO */
.pwa-btn-searchs {
    height: 28px;
    width: 90%;
    
    margin-top: 1pc;
    margin-bottom: 1pc;

    border: #174E67 ;
    border-radius: 5px;
    outline: none;

    background: #174E67;
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Insere o número ao lado do botão - VER TUDO (6) */
.pwa-btn-searchs::after {
    content: '(6)';
}
.color-current {
    color: #123E52;
}


.menu-info a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-menu.ativo {
    display: flex;
}

@media(min-width: 1024px){
    .avatar-container-header > a {
        margin-right: 42px;
    } 
}

@media(max-width: 1024px){
    .search-header-desktop {
        width: unset;
    }
}

.header-menu-wrapper {
    align-items: center;
}

#header-get-back-button {
    margin-right: 15px;
}