h1 {
  color: blue;
}

.product-list > * {
  width: calc(50% - 20px);
}

@media(max-width: 768px){
  .isdesktop {
    display: none;
  } 
  .container {
    max-width: 720px;
  }   
  .ismobile{
    display: block !important;
  }
  .isdesktop.flex{
      display: none;
  }
  .ismobile.flex{
      display: flex !important;
  }
}
