#sobre .pwa-bg-blue, .pwa-bg-blue-faq {
    width: 100%;
    height: 125px;
    outline: none;
    /* background: #43BFDA no-repeat right ; */
    background:  pwa-url(bg-logo-equipoFacil-fineline) no-repeat right;
    /* background: #43BFDA no-repeat right ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: inherit;
    padding-top: 0;
}

#sobre .img-fundo{
    position: fixed;
    z-index: 0;
    opacity: 0.2;
}

#sobre .pwa-box-input {
    width: fit-content;
    margin: 0;
}

#sobre .pwa-label-gray {
    width: fit-content;
    margin-right: 0;
}

.pwa-bg-blue-faq {
    height: 145px;
}

.pwa-inst-faq-title {
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 10px;
}
.pwa-inst-faq-text {
    padding-left: 40px;
    padding-right: 40px;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

.pwa-container, 
.pwa-container-text {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    outline: none;
}

.pwa-container-text {
    margin-top: 35px;
}

.pwa-H5-blue {
    height: fit-content;
    margin-bottom: 10px;

    color: #174E67;
    font-family: Cambay;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.pwa-text-gray {
    margin-bottom: 25px;
    width: fit-content;

    color: #457185;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
}

.pwa-link-blue {
    text-decoration: underline;
}

.pwa-bg-white {
    height: 100%;
    width: 100%;
    text-align: center;
    outline: none;
    padding: 20px;
    padding-top: 30px;
    background: #FFFFFF;
    margin-bottom: 1.5pc;
}

.pwa-text-navy-blue {
    color: #174E67;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
}

.pwa-icons-container-flex {
    display: flex;
    flex-wrap: wrap;
}

.pwa-icon-whats-navy-blue,
.pwa-icon-email-navy-blue {
    text-align: center;
    margin-bottom: 12px;
}

.pwa-icon-whats-navy-blue::before {
    content: pwa-url(icon-whats-navy-blue);
    position: relative;
    top: 2px;
}
.pwa-icon-email-navy-blue::before{
    content: pwa-url(pwa-icon-email-navy-blue);
    position: relative;
    top: 2px;
}

.pwa-h4-title {
    padding-top: 50px;
}

.pwa-bg-white .pwa-h4-title{
    margin-top: -50px;
}

 
.pwa-inst-contact-change-text-subtitle::before {
    content: 'Quanto custa vender um equipo no EquipoFácil?';
}

.pwa-inst-contact-change-text-title::before {
    content: 'POLÍTICA DE ANÚNCIOS';
}
/* ////////////////////////// RESPONSIVIDADE DESKTOP////////////////////////////////// */
@media only screen and (min-width: 768px) {

    #sobre .pwa-box-input{
        width: 360px;
        margin: inherit;
        margin-left: 0;
    }

    #sobre .img-fundo{
        display: none;
    }

    #sobre .pwa-bg-blue, .pwa-bg-blue-faq  {
        height: 360px;
        width: 100%;
    }
    .pwa-inst-faq-title {
        font-size: 13px;
        line-height: 25px;
    }
    .pwa-inst-faq-text {
        font-size: 33px;
        line-height: 54px;
    }
    

    .pwa-container-text {
        margin-top: 50px;
        margin-bottom: 50PX;
    }
    .pwa-table-cel-navy-blue {
        text-align: RIGHT;
        padding-right: 30PX;
    }
    .pwa-table-cel-white {
        text-align: center;
    }
    .pwa-table-cel-gray,
    .pwa-table-cel-light-blue,
    .pwa-table-cel-blue {
        text-align: center;
    }


  
    .pwa-icon-whats-navy-blue,
    .pwa-icon-email-navy-blue {
        margin-right: 50px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .pwa-icon-email-navy-blue {
        margin-bottom: 80px;
    }
    

    .pwa-h4-title {
        font-size: 20px;
    }
    .pwa-question-container {
        margin-bottom: 5pc;
    }
    
        
    .pwa-inst-contact-change-text-subtitle::before {
        content: 'Deseja falar com o time EquipoFácil?';
    }

    .pwa-inst-contact-change-text-title::before {
        content: 'CONTATO';
    }

}