.pwa-vendas-title {
    background-color: #174E67;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwa-vendas-title span {
    width: 24px;
    height: 24px;
    position: relative;
    background: pwa-url(icon-box-sell) no-repeat;
    margin-right: 11px;
}

/* Bloco de trocar de contas */
#switch-account{
    display: none;
}

.open-switch-account{
    display: block !important;
}

.pwa-vendas-title h1 {
    font-family: Cambay;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 23px;
    color: #FFFFFF;
}

.pwat-item-subtitle{
    margin: 20px 0 10px !important;
}




/* Botão Voltar */
.pwat-button-back-vendas{
    max-width: 1000px;
    margin: 40px auto 20px;
    text-align: left;
    padding: 0 40px;
}

/* Resume buy */
.pwa-resume-buy-vendas {
    width: 100%;
    margin-top: 20px;
}

.pwa-resume-buy-vendas .pwa-title-secondary-gray{
    margin-bottom: 10px !important;
}

.pwa-resume-buy-vendas .pwa-resume-buy-infos{
    padding-left: 0px;
}

/* Infos Buyer Vendas */
.pwat-infos-buyer-vendas{
    padding: 20px 0 0 0 !important;
    max-width: 100%;
}

/* Entregas */
.pwa-address-delivery-container{
    padding-top: 35px;
}
.pwa-address-delivery-container .pwa-title-secondary-gray {
    padding-left: 0;
}
.pwa-type-delivery {
    margin-bottom: 5px;

    color: #457185;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
}
.pwa-address-delivery {
    color: #7495A4;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
}
.pwa-city-delivery {
    margin-top: 10px;
    margin-bottom: 30px;

    color: #457185;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: left;
}


/* Pagamento */
#pwat-vendas-detalhes .pwa-resume-shopping{
    border-top: 1px solid #D1DCE1;
    padding-top: 20px;
}

/* Green card - produto recebido */
.pwa-card-green-product-received{
    margin: 25px 0;
}

/* Dados bancários */
.pwa-product-received-and-datas-bank-container {
    width: 100%;
    display: block;
}
.pwa-product-received-and-datas-bank-container .pwa-title-secondary-gray {
    padding-left: 0;
}
.pwa-datas-bank-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

#pwat-vendas-detalhes .pwa-first-list li, .pwa-second-list li{
    margin-bottom: 15px;
}

.pwa-datas-bank-container .pwa-first-list{
   width: 47%;
}
.pwa-datas-bank-container .pwa-second-list {
    width: 47%;
}

/* Botão de trocar conta bancária */
.pwa-btn-switch-account {
    height: 28px;
    width: 231px;
    margin-top: 10px;

    background: #457185;
    cursor: pointer;
    border: #457185;
    border-radius: 5px;
    outline: none;
    margin: auto;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: center;
}
.pwa-btn-switch-account:hover {
    background: #A2B8C2;    
}


/* ESTILIZAÇÃO DOS INPUTS DE CONTA BANCÁRIA */
.pwa-select-option-receivement-account-container {
    width: 100%;
}

.pwat-agencia-input-wrapper{
    width: 40% !important;
    margin-right: 30px;
}

.pwat-input-agencia-vendas{
    width: 100%;
}

.pwat-input-nmr-conta-wrapper{
    width: 60%;
}

.pwat-input-conta{
    width: 100%;
}

.pwat-input-checkbox-vendas-wrapper .box{
    justify-content: center;
}

.pwat-input-vendas-cpf{
    width: 50%;
    margin-bottom: 12px;
}

.pwat-label-checkbox-vendas{
    position: relative !important;
    padding-left: 10px !important;
    margin-right: 0 !Important;
}

#pwat-vendas-detalhes .input-checkbox-modal {
    flex-wrap: nowrap !important;
}

#pwat-vendas-detalhes .input-checkbox-modal .box{
    margin: 0 !important;
}
.pwa-account-card {
    height: 320px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    background: #FFFFFF;
    margin: auto;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
    text-align: center;
}
.pwa-account-card .pwa-first-list{
    width: 47%;
}
.pwa-account-card .pwa-second-list {
    width: 47%;
}
.pwa-account-card .input-checkbox-modal {
    height: 50px;
    display: flex;
    align-items: center;
}
.pwa-account-card .input-checkbox-modal label{
    padding-top: 5px;
    color: #14AFD1;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: left;
}
.pwa-btn-switch-account-card {
    height: 28px;
    width: 170px;

    margin-top: 15px;

    border:  #174E67;
    border-radius: 5px;
    outline: none;
    background: #174E67;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: center;
}
.pwa-btn-switch-account-card:hover {
    background: #A2B8C2;
}
.pwa-cards-account-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pwat-vendas-detalhes .pwa-box-input-flex{
    margin-top: 0px !Important;
    width: 100%;
    margin-bottom: 12px;
}

/* Código de rastreio */
.pwa-container-cod-tracking {
    background: #123E52;

    height: 284px;
    width: 100%;
    max-width: 768px;
    padding: 25px 10px 20px 10px;
    margin: auto;

    color: #FFFFFF;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: -80px;
}

.pwa-container-blue-send-cod {
    background: #D0EFF6;
    height: 115px;
    width: 100%;
    max-width: 768px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #72CFE3;    
    text-align: center;
    cursor: pointer;
}
.pwa-title-contaienr-cod-blue {
    color: #14AFD1;

    font-family: Cambay;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.open-modal-cod-rastreio {
    display: block !important;
}
.pwa-text-Hourglass-cod-tracking {
    margin-top: 10px;
    color: #174E67;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-text-Hourglass-cod-tracking::before {
   content: url(../assets/icons/icon-ampulheta.svg);
   position: relative;
   top: 5px;
   margin-right: 10px;
}


.pwa-container-green-send-cod {
    display: none;
    background: #6FCF97;
    height: 115px;
    width: 100%;
    max-width: 768px;

    margin-top: 20px;
    
    border-radius: 5px;
    border: 1px solid #72CFE3; 
    text-align: center;
}
.pwa-title-contaienr-cod-green {
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.pwa-text-cod-check-tracking {
    margin-top: 10px;
    color: #219653;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
}
.pwa-text-cod-check-tracking::before {
    content: url(../assets/icons/icon-check-cod.svg);
    position: relative;
    margin-right: 5px;
}

@media(min-width: 800px){
    .pwa-vendas-pending-list {
        max-width: 60%;
        margin: 0 10% 0 auto;
    }

    #pwat-vendas-detalhes .pwa-box-input-flex{
    width: 60%;
    margin-left: 60px;
    }

    #vendas-inicio .pwa-card-product-shopping{
        border-bottom: 1px solid #D1DCE1;
        display: flex;
    }

    .pwa-infos-buyer .pwa-list-content {
        margin: initial;
    }
    .pwa-infos-buyer .pwa-first-list,
    .pwa-infos-buyer .pwa-second-list {
        text-align: left;
    }

    .pwa-title-secondary-gray {
        font-size: 1.6rem;
    }

    .pwa-datas-bank-container .pwa-list-content {
        margin: initial;
        padding-left: 20px;
    }
    .pwa-datas-bank-container .pwa-first-list,
    .pwa-datas-bank-container .pwa-second-list {
        text-align: left;
    }
    .pwa-btn-switch-account {
        position: absolute;
        top: 0;
        right: 0;
    }

    .pwa-account-card {
    width: 364px !important;
    }

    .pwa-add-new-datas-bank .pwa-flex-responsive {
        display: flex;
        margin: initial;
        margin-top: 20px;
    }
    .pwa-add-new-datas-bank .pwa-box-input-extra-small {
        width: 45%;
    }
    .pwat-input-nmr-conta-wrapper{
        width: 45% !important;
    }
    .pwat-input-vendas-cpf{
        width: 100%;
        margin-bottom: 0px;
    }
    .pwa-add-new-datas-bank .pwa-input-extra-small {
        width: 100%;
    }
    .pwa-add-new-datas-bank .pwa-input-medium {
        width: 100%;
    }
    .pwa-add-new-datas-bank .pwa-select {
        position: relative;
    }
    .pwat-select-wrapper{
        width: 50%;
    }
    .pwa-add-new-datas-bank .pwa-select select{
        width: 100%;
    }
    .pwa-flex-responsive #type-of-person {
        width: 100%;
    }
    .pwa-flex-responsive #type-of-person svg {
        margin-left: 135px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .pwa-add-new-datas-bank .pwa-input-small {
        width: 100%;
    }
    .pwat-adjust-box-input {
        margin: 0;
    }
    .pwat-adjust-box-input2 {
        position: relative;
        margin-left: 60px;
        width: 60%;
    }
    .pwat-adjust-box-input2 .pwa-input-padrao {
        width: 100%;
    }

    .pwat-select-tipo-wrapper{
        width: 90%;
        margin-right: 50px;
    }
    .pwa-box-input-flex-second-block {
        display: flex;
        margin-top: 0;
        margin-bottom: 12px;
        width: 42.5%;
    }
}

@media(min-width: 1440px) {
    .pwa-vendas-pending-list {
        max-width: 786px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media(min-width: 1200px){
    .pwa-vendas-title{
        display: none;
    }

    .pwat-card-vendas .pwat-quantidade-produtos{
    position: absolute;
    top: 0;
    right: 0;
    }   

    .pwat-infos-buyer-vendas{
        border-top: none;
    }
}
    

.pwa-btn-sell-blue{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/***CARD-VENDAS.CSS**/

/* daqui é só vendas*/
.pwa-sell-container {
    width: 100%;
    max-width: 670px;
    padding: 10px;
    text-align: center;
    height: 621px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.pwa-sell-container::-webkit-scrollbar {
    width: 0px;
}

#confirmadas {
    display: block;
}
/* até aqui é só vendas*/

.pwa-card-sell-product {
    background: #FFFFFF;
 
    height: fit-content;
    min-width: 325px;
    max-width: 768px;
    
    padding: 10px;
    padding-bottom: 15px;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pwa-card-sell-inner {
    display: flex;
    padding-top: 15px;
}

.pwa-btn-sell-blue {
    height: 50px;
    width: 237px;

    border: #14AFD1;
    border-radius: 5px;

    position: relative;
    margin-top: 20px;

    background: #14AFD1;
    color: #FFFFFF;     
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-align: center;
}

.pwa-btn-sell-blue:hover {
    background: #108CA7;
    border: #108CA7;
    outline: none;
}

.pwa-container-img-sell {
    height: 119.52317810058594px;
    width: 141px;
    background: #FFFFFF;
    margin-right: 10px;
    padding: 0px 10px 0px 10px;
}
.pwa-img-card-sell {
    width: 100%;
    height: 100%;
}


.pwa-card-sell-inner-texts {
    width: 48vw;
    max-width: 250px;
}
.pwa-card-sell-brand-blue {
    color: #14AFD1;
    font-family: Cambay;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
    margin-bottom: 8px;
}

.pwa-card-sell-brand-gray {
    margin-bottom: 8px;
    color: #457185;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.pwa-card-sell-brand-qntd {
    color: #174E67;
    font-family: Cambay;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
}

.pwa-card-sell-brand-qntd::before {
    content: 'Qntd. ';
}

/* daqui é vendas*/
#entregues .pwa-card-sell-transfer-soon, 
#entregues .pwa-card-sell-transfer-completed  {
    margin-bottom:20px;

    padding: 8px;
    display: flex;

    height: 28px;
    width: 179px;

    border-radius: 5px;
    color: #FFFFFF;
    font-family: Cambay;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: center;
}
#entregues .pwa-card-sell-transfer-soon::before,
#entregues .pwa-card-sell-transfer-completed::before  {
    content: url(../assets/icons/icon-card-transfer.svg);
    position: relative;
    margin-top: -4px;
    margin-right: 4px;
}
#entregues .pwa-card-sell-transfer-soon {
    background: #A2B8C2;
}
#entregues .pwa-card-sell-transfer-completed  {
    background: #6FCF97;
}

/* até aqui é vendas*/


@media only screen and (min-width: 600px) {
    .pwa-card-sell-product {
        padding-top: 40px;
        flex-direction: column;
        align-items: initial;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .pwa-card-sell-inner {
        padding-top: 0px;
    }
    .pwa-btn-sell-blue {
        height: 40px;
        width: 221px;
        border-radius: 4px;
        margin: auto;
        margin-top: -3px;
    }


    .pwa-card-content {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
    #entregues .pwa-card-sell-product {
        padding-top: 40px;
        flex-direction: row;
        align-items: initial;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #entregues .pwa-card-sell-transfer-soon, 
    #entregues .pwa-card-sell-transfer-completed  {
            margin-bottom:0;
            margin-left: 0;
    }
    #entregues .pwa-btn-sell-blue {
        height: 40px;
        width: 221px;
        border-radius: 4px;
        margin-top: 40px;
        margin: auto;
    }   
}


@media only screen and (min-width: 768px) {
    .pwa-card-sell-product {
        height: 200px;
        min-width: 325px;
        max-width: 758px;
        
        border-bottom: 1px solid  #E5E5E5;
        padding-top: 40px;

        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
    }

    .pwa-btn-sell-blue {
        height: 40px;
        width: 221px;
        border-radius: 4px;
        margin-top: 15px;
        margin-right: 0;
    }
    
    #entregues .pwa-btn-sell-blue {
        height: 40px;
        width: 221px;
        border-radius: 4px;
        margin-top: -90px;
        margin-right: 0;
    }
    
    .pwa-card-sell-brand-qntd::before {
        content: 'Quantidade ';
    }

}

/***Vendas.css**/

.pwa-link-sell-container {
    margin-top: 2pc;
    margin-bottom: 2pc;
    width: 100%;
        text-align: center;
}
.pwa-link-sell {
    color: #174E67;
    font-family: Cambay;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-decoration: underline;
}