
@font-face {font-family: 'Trebuchet-MS';src: url('/media/wysiwyg/sonco-95/fonts/Trebuchet-MS.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Bold';src: url('/media/wysiwyg/sonco-95/fonts/Trebuchet-MS-Bold.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Italic';src: url('/media/wysiwyg/sonco-95/fonts/Trebuchet-MS-Italic.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Bold-Italic';src: url('/media/wysiwyg/sonco-95/fonts/Trebuchet-MS-Bold-Italic.ttf') format('truetype');}
/*
@font-face {font-family: 'Trebuchet-MS';src: url('../menu/fonts/Trebuchet-MS.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Bold';src: url('../menu/fonts/Trebuchet-MS-Bold.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Italic';src: url('../menu/fonts/Trebuchet-MS-Italic.ttf') format('truetype');}
@font-face {font-family: 'Trebuchet-Ms-Bold-Italic';src: url('../menu/fonts/Trebuchet-MS-Bold-Italic.ttf') format('truetype');}
*/
*
{
  box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
}
img
{
  max-width: 100%;
}
.container,
.container-footer,
.container-icons
 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-footer
  {
    max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
    .container-footer
  {
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container-footer
  {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1058px;
  }
    .container-footer
  {
    max-width: 900px;
  }
}
.container-icons
{
  max-width: 963px;
}
.w-100
{
  width: 100%;
}

.cmd-1, .cmd-12-slider, .c-12,.cmd-2, .cmd-3, .cmd-4, .cmd-5, .cmd-6,.cmd-6-bullet,.cmd-5-bullet, .cmd-7, .cmd-8, .cmd-9, .cmd-10, .cmd-11, .cmd-12, .cmd, .cmd-20, .cd-2,.cmd-default
{
    position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.sm-6,.sm-2,.sm-3,.sm-4,.sm-5
{
  
 position: relative;
  width: 100%;

}
@media(max-width: 800px)
{
  .sm-6
  {
      -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
 .sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }


  .sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .c-12
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.cmd-our
{
      position: relative;
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
}
.cmd-default
{
      width: 232px;
}

.cmd-our
{
      border-right: 1px solid #cfcfcf;
      padding-top: 12px;
    border-left: 1px solid #cfcfcf; 
    border-top: 1px solid #cfcfcf; 
    background-color: white;
}

.cmd-default
{
      
    padding-top: 12px;
    background-color: white;
}

@media (min-width: 768px) {
  .cmd {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .cmd-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .cmd-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .cmd-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }


  .cmd-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cmd-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .cmd-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .cmd-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
    .cmd-5-bullet {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .cmd-6-bullet {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cmd-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .cmd-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .cmd-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .cmd-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .cmd-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .cmd-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cmd-item {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .cmd-our
  {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
 }
 .line_main
{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px ;

}

.w-100
{
  width: 100%;
}
.text-center
{
  text-align: center;
}
h2.privacy-title
{
   font-family: Trebuchet-MS;
   text-transform: uppercase;
   color: #67666b;
   text-align: left;
   font-size: 16px;
}
h1.privacy-main-title
{
   font-family: Trebuchet-MS;
   text-transform: uppercase;
   color: #67666b;
   font-size: 25px;
   margin-top: 25px !important;
   margin-bottom: 0px !important;
}
p.text-price-match
{
  font-family: Trebuchet-MS;
  color: #67666b;
}
section.middle-match
{
  width:100%;
  background-color: #e5e6e8;
}
.middle-match p
{
  padding-left: 14%;
  font-family: Trebuchet-MS;
   color: #67666b;
}
a.button-request
{
    background-color: #eb1c23;
    padding: 13px 45px 13px 45px;
    font-family: Trebuchet-MS;
    color: white;
    cursor: pointer;
    width: 100px;
}
p.button-campo
{
  min-height: 40px;
  margin-top: 43px;
}
p.text-privacy
{
     font-family: Trebuchet-MS;
   color: #67666b;
   font-size: 14px;
}
p.text-privacy span.red-privacy

{
  color: #ee7073;
  font-weight: bold;
}
span.bold-privacy
{
  font-weight: bold;
  color: #535353;
}
.list-privacy
{
    padding-left: 10px;
    position: relative;
}
.list-privacy span.circle-privacy
{
  width: 8px;
    height: 8px;
    background: red;
    border-radius: 100px;
    left: -3px;
    top: 4px;
    position: absolute;
}
.overflowhidden

{
  overflow: hidden;
}
.line-slider
{
  
    padding-bottom: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    overflow: hidden !important;
    position: relative;
    flex-wrap: inherit !important;
}
@media(min-width: 901px)
{
    .content-slider
    {

           margin-left: 10px;
             margin-right: 10px;
    }
  }
  .active-slider
{
    box-shadow: 0px 0px 18.96px 5.04px rgba(38, 90, 121, 0.15);
    background-color: white !important;
    opacity: 1 !important;
}
.transition-slider
{
  transition: 1s;

}
div.all-home
{
  background-color: #f6f6f6;
}
@media(min-width: 901px)
{
      .about-right-seta {
          color: black;
          position: absolute;
          right: -14px;
          top: 135px;
          z-index: 10;
          cursor: pointer;
      }
      .about-left-seta {
          transform: rotate(180deg);
          color: black;
          position: absolute;
          left: -14px;
          top: 135px;
          z-index: 10;
          cursor: pointer;
      }
}
@media(max-width: 900px)
{
        .about-right-seta {
          color: black;
          position: absolute;
          right: -14px;
          top: 97px;
          z-index: 10;
          cursor: pointer;
      }
      .about-left-seta {
          transform: rotate(180deg);
          color: black;
          position: absolute;
          left: -14px;
          top: 97px;
          z-index: 10;
          cursor: pointer;
      }
}
.content-slider
{
     min-height: 200px;
    width: 400px;
    padding-bottom: 52px;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    opacity: 0.2;
}
.relative
{
  position: relative;
}
@media(min-width: 800px)
{
    .content-slider div
    {
        text-align: justify;
    }
    .content-slider figure
    {
        text-align: center;
        padding-top: 10px;
    }


}
.content-slider img {
         left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: auto !important; /* Need a specific value to work */
       margin-top: 25%;

}
.banner-footer
{
  margin-bottom: 25px;
}
.margin-espacamento
{
  margin-top: 25px;
}
.padding-espacamento
{
  padding-top: 25px;
}
h2.view-all-slider
{
  color: #67666b;
  font-family: Trebuchet-MS;
  font-size: 15px;
   text-transform: uppercase;
}
a.view-all-a
{
  text-decoration: none;
}
@media(max-width: 900px)
{
  .desktop
  {
    display: none;
  }
  .line_main
  {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
@media(min-width: 901px)
{
  .mobile
  {
    display: none;
  }
}
@media(max-width: 900px)
{
  .features-products .cmd-3
  {
    margin-top: 25px;
  }
}
.slider-category {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: inherit;
    position: relative;
    overflow: hidden;
    margin-right: -15px;
}
.slider-item {
    text-align: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.transition-slider {
    transition: 1s;
}
.left-button {
    position: absolute;
    left: -25px;
    z-index: 20;
    cursor: pointer;
    top: 130px;
}
.right-button {
    position: absolute;
    right: -22px;
    z-index: 20;
    top: 130px;
    cursor: pointer;
}
figure
{
  padding: 0;
    margin: 0;
}
.top-content-95
{
  background-color: #f6f6f6 !important;
}

/* =======================
mudança ticket #2346
======================= */

h1 {
    font-family: Trebuchet-MS;
    color: #535353;
    font-size: 37.5px !important;
	text-transform: uppercase;
	margin: 40px 0 !important;
}

h2 {
    color: #535353;
	font-size: 27px !important;
	font-weight: 700;
}

section.footer-95 h1 {
	margin-top: 9px !important;
	font-size: 22px!important;
}

#about-us .cmd-12{
	padding: 0px;
}

#woman-based-company h2{
	margin-top: 50px;
}

.together-text h2 {
    min-height: 58px;
}

.together-text p.secondary {
    min-height: 420px;
}

p.primary{
	color: #67666b;
    font-size: 27px !important;
}

p.secondary{
	color: #67666b;
    font-size: 21px !important;
}

.together-text .cmd-4:first-child {
  padding-left: 0px;
}

@media (min-width: 765px){
    .together-text .cmd-4:first-child {
    padding-left: 0px;
  }
}


/* ======================
estilização do privacy-policy
====================== */

#terms-and-conditions .secondary,
#privacy-policy .secondary {
  font-family: Trebuchet-MS;
  padding-left: 32px;
}

#privacy-policy h1 {
  font-family: Trebuchet-MS;
  color: #67666b;
  text-align: left;
}

#privacy-policy p span.red-privacy {
  color: #ee7073;
  font-weight: bold;
}

.careers-pre-slider {
  margin: 20px auto;
  max-width: 1030px;
}

#terms-and-conditions section.footer-links,
#privacy-policy section.footer-links {
  margin-top: 0px !important;
}
#privacy-policy .list-privacy span.circle-privacy {
  top: 8px !important;
}

/* ======================
estilização do terms & conditions
====================== */

/* ======================
estilização do credit-program
====================== */

.hbspt-form {
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}

.page-footer{
  margin-top: 0px !important;
}
.container-icons {
  margin-bottom: 0px !important; 
  padding-bottom: 35px !important;
}
.widget.block.block-static-block {
  margin-bottom: 0px !important;
}

#credit-program h1.apply-title {
  font-family: Trebuchet-MS;
  text-transform: uppercase;
  color: #eb1c23;
  text-align: center;
}

/* ======================
estilização do price-match
====================== */

#price-match h1{
  color: #67666b;
  text-align: center;
}

/* ======================
estilização do pickup-delivery
====================== */

.flex{
  display:flex;
  flex-wrap: wrap;
}

@media(max-width: 1024px){
  .content-img-pickup img.icon-5-pickup {
      left: 12%;
  }
  .call-to-get img{
      left: 310px;
  }
}
@media(max-width: 425px){
  .content-img-pickup img.icon-5-pickup,
  .call-to-get img{
      display: none;
  }
  .page-footer{
      margin-top: 0px !important;
  }
  .container-icons {
      margin-bottom: 0px !important; 
      padding-bottom: 35px !important;
  }
  .widget.block.block-static-block {
      margin-bottom: 0px !important;
  }
}

.flex.text-holder img, .flex.text-holder h1 {
  margin: 25px auto !important;
}

.flex.text-holder img {
  height: 40px;
  margin-right: 15px !important;
}

.flex.text-holder h1 {
  margin-left: 15px !important;
}
.call-to-get {
  position: relative;
}
.call-to-get span {
  font-family: Trebuchet-MS;
  color: #535353;
  font-size: 17px;
}
@media (min-width: 768px){
  .call-to-get img {
      position: absolute;
      left: 361px;
      top: 3px;
  }
}
.middle-content-95 {
  background-color: #e5e6e8;
  padding-top: 12px;
  padding-bottom: 12px;
}
.side-content-95 .icon-side {
  position: absolute;
  top: -6px;
}
.sub-content-95 {
  margin-left: 45px;
  margin-top: 25px;
}
.side-content-95 {
  position: relative;
  min-height: 65px;
  margin-top: 20px;
}

#pickup-delivery .sub-content-95 {
  padding-left: 15px;
}

a.button-start-order {
  background-color: #eb1c23;
  color: #fff;
  font-family: Trebuchet-MS;
  padding: 15px;
  font-size: 23px;
  cursor: pointer;
}